Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

codecov.yml:

codecov:
  require_ci_to_pass: false

comment:
  layout: "header, diff, flags, components"

ignore:
  - "code/examples"
  - "code/crates/proto"
  - "code/crates/test/mempool"
  - "code/crates/test/proto"
  - "code/crates/test/cli"
  - "code/crates/signing-ed25519"
  - "code/crates/starknet/p2p-proto"
  - "code/crates/starknet/p2p-types"

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - "code/crates/core-consensus/**"
        - "code/crates/core-driver/**"
        - "code/crates/core-state-machine/**"
        - "code/crates/core-types/**"
        - "code/crates/core-votekeeper/**"
    - component_id: engine
      name: engine
      paths:
        - "code/crates/engine/**"
        - "code/crates/sync/**"
    - component_id: app
      name: app
      paths:
        - "code/crates/app/**"
        - "code/crates/app-channel/**"
    - component_id: starknet
      name: starknet
      paths:
        - "code/crates/starknet/**"

coverage:
  precision: 2
  round: nearest
  range: "50...90"

  status:
    project:
      default:
        target: auto
        threshold: 5%
        removed_code_behavior: adjust_base
        paths:
          - "code"
    patch:
      default:
        target: 0%
        threshold: 5%
        paths:
          - "code"

    changes:
      default:
        informational: true

Add explicit annotations for mismatched-lifetime-syntaxes lint
  code/crates/test/src/validator_set.rs
  code/crates/wal/src/log.rs
Due: none

refactor: restore BTreeSet for network peers instead of BTreeMap, which now is not used
  code/crates/engine/src/network.rs
Due: engine

Prevent boolean blindness by using an enum instead of a bool for denoting restarts
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/sync.rs
  code/crates/sync/src/handle.rs
  code/crates/sync/src/types.rs
Due: engine

Update breaking changes
  BREAKING_CHANGES.md
Due: none

refactor(code): make app msg unit variants
  code/crates/app-channel/src/connector.rs
  code/crates/app-channel/src/lib.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/test/app/src/app.rs
  code/examples/channel/src/app.rs
  docs/tutorials/channels.md
Due: app

update breaking changes, release notes
  BREAKING_CHANGES.md
  RELEASE_NOTES.md
Due: none

crate::msgs -> crate::app_msg
  code/crates/app-channel/src/connector.rs
Due: app

fill in pr number in breaking changes, release notes
  BREAKING_CHANGES.md
  RELEASE_NOTES.md
Due: none

prevent sending a total of values that exceed the max response size
  code/crates/engine/src/sync.rs
  code/crates/starknet/test/src/lib.rs
  code/crates/sync/src/handle.rs
  code/crates/test/framework/src/params.rs
Due: engine, starknet

fix formatting issues
  code/crates/engine/src/sync.rs
  code/crates/sync/src/handle.rs
Due: engine

Update README, misc.
  CONTRIBUTING.md
  LICENSE
  README.md
  SECURITY.md
Due: none

feat: Add facility for dumping the consensus state
  code/Cargo.lock
  code/crates/core-driver/src/driver.rs
  code/crates/core-votekeeper/src/keeper.rs
  code/crates/engine/Cargo.toml
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/consensus/state_dump.rs
Due: core, engine

feat: Add channel for sending requests to consensus
  code/crates/app-channel/src/lib.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/app-channel/src/run.rs
Due: app

feat: Add monitoring of consensus state to example app if `MALACHITE_MONITOR_STATE` is set
  code/crates/app-channel/src/msgs.rs
  code/examples/channel/src/app.rs
Due: app

doc: Update release notes and breaking changes
  BREAKING_CHANGES.md
  RELEASE_NOTES.md
Due: none

doc: Document the `ConsensusRequest` type
  code/crates/app-channel/src/msgs.rs
Due: app

feat: Add consensus params, proposal and full proposal keepers state to the state dump
  code/Cargo.lock
  code/crates/core-consensus/src/full_proposal.rs
  code/crates/core-consensus/src/lib.rs
  code/crates/core-consensus/src/state.rs
  code/crates/core-consensus/tests/full_proposal.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/src/lib.rs
  code/crates/core-driver/src/proposal_keeper.rs
  code/crates/engine/Cargo.toml
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/consensus/state_dump.rs
Due: core, engine

chore: Cleanup
  code/crates/engine/src/consensus/state_dump.rs
Due: engine

chore: Remove redundant methods on `StateDump`
  code/crates/engine/src/consensus/state_dump.rs
Due: engine

doc: Update doc comment
  code/crates/engine/src/consensus/state_dump.rs
Due: engine

doc: Clarify doc comment
  code/crates/engine/src/consensus/state_dump.rs
Due: engine

fix: Formatting
  code/crates/app-channel/src/msgs.rs
Due: app

Verification if proposal comes from proposer added
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/state.rs
  code/examples/channel/src/app.rs
  code/examples/channel/src/state.rs
Due: none

Cleanup
  code/crates/sync/src/handle.rs
Due: engine

Small refactor using new `update_request` state method
  code/crates/sync/src/handle.rs
  code/crates/sync/src/state.rs
Due: engine

Add `max_parallel_requests` state method
  code/crates/sync/src/handle.rs
  code/crates/sync/src/state.rs
Due: engine

Re-request range from any peer, not necessarily the same one
  code/crates/sync/src/handle.rs
Due: engine

added todo check for round certificate
  code/crates/core-driver/src/driver.rs
Due: core

check PrecommitAny round before storing
  code/crates/core-driver/src/driver.rs
Due: core

complete proposal validation for example app
  code/examples/channel/src/app.rs
  code/examples/channel/src/state.rs
  code/examples/channel/src/store.rs
  code/examples/channel/src/streaming.rs
Due: none

test app complete with proposal verification
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/state.rs
  code/crates/test/app/src/store.rs
  code/crates/test/app/src/streaming.rs
  code/examples/channel/src/app.rs
Due: none

make integration test in test app to pass
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/state.rs
  code/crates/test/app/src/store.rs
  code/examples/channel/src/state.rs
  code/examples/channel/src/store.rs
Due: none

Update code/examples/channel/src/app.rs
  code/examples/channel/src/app.rs
Due: none

Update code/examples/channel/src/state.rs
  code/examples/channel/src/state.rs
Due: none

Update code/crates/test/app/src/state.rs
  code/crates/test/app/src/state.rs
Due: none

resolving comments
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/node.rs
  code/crates/test/app/src/state.rs
  code/examples/channel/src/app.rs
  code/examples/channel/src/state.rs
Due: none

Buffer sync responses for higher height
  code/crates/core-consensus/src/effect.rs
  code/crates/core-consensus/src/handle/sync.rs
  code/crates/core-types/src/certificate.rs
  code/crates/engine/src/consensus.rs
Due: core, engine

chore: Rename sync effects
  code/crates/core-consensus/src/effect.rs
  code/crates/core-consensus/src/handle/sync.rs
  code/crates/engine/src/consensus.rs
Due: core, engine

fix: Remove needless clone
  code/crates/engine/src/consensus.rs
Due: engine
