Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

add tests for updating valid value to equivocated value
  code/crates/core-driver/tests/it/extra.rs
  code/crates/core-driver/tests/it/utils.rs
Due: core

added one example with polka certificate
  code/crates/core-driver/tests/it/extra.rs
  code/crates/core-driver/tests/it/utils.rs
Due: core

Update code/crates/core-driver/src/proposal_keeper.rs
  code/crates/core-driver/src/proposal_keeper.rs
Due: core

return empty slice instead of option
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/src/mux.rs
  code/crates/core-driver/src/proposal_keeper.rs
Due: core

Update code/crates/core-driver/tests/it/extra.rs
  code/crates/core-driver/tests/it/extra.rs
Due: core

test comments added
  code/crates/core-driver/tests/it/extra.rs
Due: core

resolved all comments
  code/crates/core-driver/src/proposal_keeper.rs
  code/crates/core-driver/tests/it/extra.rs
Due: core

feat: remove app specififc metrics
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/metrics/src/metrics.rs
  code/crates/starknet/host/src/actor.rs
Due: core, starknet

Re-introduce app metrics in the Starknet app
  code/crates/starknet/host/src/actor.rs
  code/crates/starknet/host/src/lib.rs
  code/crates/starknet/host/src/metrics.rs
  code/crates/starknet/host/src/spawn.rs
Due: starknet

Add details about libp2p protocols used
  docs/architecture/adr-005-value-sync.md
Due: none

modified file
  .github/workflows/qa-history.yml
Due: none

modified regex
  .github/workflows/qa-history.yml
Due: none

modified base-uri
  .github/workflows/qa-history.yml
Due: none

Add history_min_height < height filter when selecting sync peers
  code/crates/sync/src/state.rs
Due: none

Fix comment
  code/crates/sync/src/state.rs
Due: none

Fix late start testcases
  code/crates/sync/src/state.rs
Due: none

Rewrite using range, to appease newer Clippy
  code/crates/sync/src/state.rs
Due: none

Apply fix to `random_peer_with_tip_at_or_above_except` as well
  code/crates/sync/src/state.rs
Due: none

Update comments
  code/crates/sync/src/state.rs
Due: none

Cleanup
  code/crates/sync/src/state.rs
Due: none

feat(code/sync): Add peer scoring system with customizable scoring strategy
  code/Cargo.lock
  code/Cargo.toml
  code/crates/engine/src/sync.rs
  code/crates/sync/Cargo.toml
  code/crates/sync/src/handle.rs
  code/crates/sync/src/lib.rs
  code/crates/sync/src/metrics.rs
  code/crates/sync/src/scoring.rs
  code/crates/sync/src/scoring/ema.rs
  code/crates/sync/src/state.rs
Due: engine

Change default slow threshold to 1 second
  code/crates/sync/src/scoring/ema.rs
Due: none

Enforce that successful sync results have a known response time
  code/crates/sync/src/handle.rs
  code/crates/sync/src/scoring.rs
  code/crates/sync/src/scoring/ema.rs
Due: none

Allow peers to have different initial scores
  code/crates/sync/src/scoring.rs
  code/crates/sync/src/scoring/ema.rs
Due: none

Cleanup metrics
  code/crates/sync/src/handle.rs
  code/crates/sync/src/metrics.rs
Due: none

Add option to prune score of inactive peers after some inactivity threshold
  code/crates/engine/src/sync.rs
  code/crates/sync/src/handle.rs
  code/crates/sync/src/scoring.rs
  code/crates/sync/src/state.rs
Due: engine

Use `let` statement instead of `unreachable!`
  code/crates/core-consensus/src/handle/driver.rs
Due: core

Update release notes
  RELEASE_NOTES.md
Due: none

feat(code/app): Allow using different `Codec`s for WAL and network
  code/crates/app-channel/src/run.rs
  code/crates/test/app/src/node.rs
  code/examples/channel/src/node.rs
Due: app

Update breaking changes
  BREAKING_CHANGES.md
Due: none

Add `serde` derives on plain core types behind `serde` feature flag
  code/Cargo.lock
  code/Cargo.toml
  code/crates/core-types/Cargo.toml
  code/crates/core-types/src/certificate.rs
  code/crates/core-types/src/round.rs
  code/crates/core-types/src/timeout.rs
  code/crates/core-types/src/value.rs
  code/crates/core-types/src/vote.rs
Due: core

Formatting
  code/examples/channel/src/main.rs
Due: none

Resurrect the JSON codec
  code/Cargo.lock
  code/crates/test/Cargo.toml
  code/crates/test/src/codec/json/mod.rs
  code/crates/test/src/codec/json/raw.rs
  code/crates/test/src/codec/mod.rs
  code/crates/test/src/proposal.rs
  code/crates/test/src/proposal_part.rs
  code/crates/test/src/vote.rs
Due: none

Use the JSON codec for networking in the test app
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/node.rs
Due: none

Better name and logs
  code/crates/sync/src/handle.rs
Due: none

Allow decoding a synced value to fail
  code/crates/app-channel/src/connector.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/engine/src/host.rs
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/state.rs
  code/examples/channel/src/app.rs
  code/examples/channel/src/state.rs
Due: engine, app

Rename `ScoringStrategy::update_score` to `update_score`, change it to take `&mut self` to allow for mutating internal state
  code/crates/sync/src/scoring.rs
  code/crates/sync/src/scoring/ema.rs
Due: none

Update doc comments
  code/crates/sync/src/scoring.rs
  code/crates/sync/src/scoring/ema.rs
Due: none

Rename `GotDecidedBlock` to `GotDecidedValue`
  code/crates/engine/src/sync.rs
Due: engine

Path conditions:
  core: any of: code/crates/core-*/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  engine: any of: code/crates/engine/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  app: any of: code/crates/app/**, code/crates/app-*/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  starknet: any of: code/crates/starknet/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
