Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

codecov.yml:

codecov:
  require_ci_to_pass: false

comment:
  layout: "header, diff, flags, components"

ignore:
  - "code/examples"
  - "code/crates/proto"
  - "code/crates/test/mempool"
  - "code/crates/test/proto"
  - "code/crates/test/cli"
  - "code/crates/signing-ed25519"
  - "code/crates/starknet/p2p-proto"
  - "code/crates/starknet/p2p-types"

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - "code/crates/core-consensus/**"
        - "code/crates/core-driver/**"
        - "code/crates/core-state-machine/**"
        - "code/crates/core-types/**"
        - "code/crates/core-votekeeper/**"
    - component_id: engine
      name: engine
      paths:
        - "code/crates/engine/**"
        - "code/crates/sync/**"
    - component_id: app
      name: app
      paths:
        - "code/crates/app/**"
        - "code/crates/app-channel/**"
    - component_id: starknet
      name: starknet
      paths:
        - "code/crates/starknet/**"

coverage:
  precision: 2
  round: nearest
  range: "50...90"

  status:
    project:
      default:
        target: auto
        threshold: 5%
        removed_code_behavior: adjust_base
        paths:
          - "code"
    patch:
      default:
        target: 0%
        threshold: 5%
        paths:
          - "code"

    changes:
      default:
        informational: true

feat: added parallel requests test
  code/crates/test/tests/it/value_sync.rs
Due: none

fix: correct event order
  code/crates/engine/src/consensus.rs
Due: engine

minor
  .github/workflows/qa-history.yml
Due: none

fix: clean sync handler
  code/crates/sync/src/handle.rs
  code/crates/sync/src/state.rs
Due: engine

fix: do not re-request if a height was already decided
  code/crates/sync/src/handle.rs
  code/crates/sync/src/state.rs
Due: engine

fix: check validity before remove
  code/crates/sync/src/handle.rs
  code/crates/sync/src/state.rs
Due: engine

fix: event order issue mitigation + wrong height response handling
  code/crates/sync/src/handle.rs
Due: engine

fix: dial retrial issue (#1101)
  code/crates/discovery/src/handlers/dial.rs
  code/crates/network/src/lib.rs
Due: none

fix(code/network): Fix handling of liveness messages with `broadcast` p2p protocol (#1103)
  code/crates/network/src/lib.rs
Due: none

fix: applied @romac comments
  code/crates/sync/src/handle.rs
  code/crates/sync/src/state.rs
  code/crates/test/tests/it/value_sync.rs
Due: engine

refractor: move borsh implementation into dedicated files
  code/Cargo.lock
  code/Cargo.toml
  code/crates/core-consensus/Cargo.toml
  code/crates/core-consensus/src/lib.rs
  code/crates/core-consensus/src/ser.rs
  code/crates/core-consensus/src/ser/borsh.rs
  code/crates/core-consensus/src/types.rs
  code/crates/core-types/src/certificate.rs
  code/crates/core-types/src/lib.rs
  code/crates/core-types/src/proposal.rs
  code/crates/core-types/src/round.rs
  code/crates/core-types/src/ser.rs
  code/crates/core-types/src/ser/borsh.rs
  code/crates/core-types/src/signed_message.rs
  code/crates/core-types/src/value.rs
  code/crates/core-types/src/vote.rs
  code/crates/engine/src/lib.rs
  code/crates/engine/src/ser.rs
  code/crates/engine/src/ser/borsh.rs
  code/crates/engine/src/util/streaming.rs
  code/crates/peer/src/lib.rs
  code/crates/peer/src/ser.rs
  code/crates/peer/src/ser/borsh.rs
  code/crates/sync/src/lib.rs
  code/crates/sync/src/ser.rs
  code/crates/sync/src/ser/borsh.rs
  code/crates/sync/src/types.rs
Due: core, engine

doc: release notes
  RELEASE_NOTES.md
Due: none

fix: enable malachitebft-core-types/borsh when borsh is enable for core-consensus
  code/crates/core-consensus/Cargo.toml
Due: core

automate the process of publishing data
  .github/workflows/qa.yml
  scripts/format-csv-file.py
Due: none

enable run via push
  .github/workflows/qa-history.yml
  .github/workflows/qa.yml
Due: none

chore(code): Bump version to v0.4.0-pre
  code/Cargo.lock
  code/Cargo.toml
Due: none

test publish
  .github/workflows/qa.yml
Due: none

put format script in qa/terraform/scripts
  .github/workflows/qa.yml
  qa/terraform/scripts/format-csv-file.py
Due: none

doc: breaking changes
  BREAKING_CHANGES.md
Due: none

script rename
  .github/workflows/qa.yml
  qa/terraform/scripts/format_csv_file.py
Due: none

install pandas
  .github/workflows/qa.yml
Due: none

full qa
  .github/workflows/qa.yml
Due: none

Update .github/workflows/qa.yml
  .github/workflows/qa.yml
Due: none

Remove `ConsensusRef` from host messages
  code/crates/app-channel/src/connector.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/host.rs
  code/crates/starknet/host/src/actor.rs
  code/crates/starknet/host/src/host/state.rs
  code/crates/test/app/src/app.rs
  code/examples/channel/src/app.rs
Due: engine, app, starknet

Use a reply port for sending back undecided values when starting a round
  code/crates/app-channel/src/connector.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/host.rs
  code/crates/starknet/host/src/actor.rs
  code/examples/channel/src/app.rs
Due: engine, app, starknet

Cleanup and doc comments
  code/crates/app-channel/src/connector.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/host.rs
  code/crates/starknet/host/src/actor.rs
Due: engine, app, starknet

fix conflict
  code/crates/sync/src/lib.rs
Due: engine

lint: fmt
  code/crates/sync/src/lib.rs
Due: engine

fix(code): Emit error instead of panic when validator set is empty
  code/crates/engine/src/consensus.rs
Due: engine

return when commit cert is invalid
  code/crates/engine/src/consensus.rs
Due: engine

chore: Bump version to v0.3.1
  code/Cargo.lock
  code/Cargo.toml
Due: none

feat(code): Derive Borsh encoding for core types (#1098)
  code/Cargo.lock
  code/Cargo.toml
  code/crates/app/Cargo.toml
  code/crates/core-consensus/Cargo.toml
  code/crates/core-consensus/src/lib.rs
  code/crates/core-consensus/src/ser.rs
  code/crates/core-consensus/src/ser/borsh.rs
  code/crates/core-types/Cargo.toml
  code/crates/core-types/src/certificate.rs
  code/crates/core-types/src/lib.rs
  code/crates/core-types/src/proposal.rs
  code/crates/core-types/src/round.rs
  code/crates/core-types/src/ser.rs
  code/crates/core-types/src/ser/borsh.rs
  code/crates/core-types/src/value.rs
  code/crates/core-types/src/vote.rs
  code/crates/engine/Cargo.toml
  code/crates/engine/src/lib.rs
  code/crates/engine/src/ser.rs
  code/crates/engine/src/ser/borsh.rs
  code/crates/engine/src/util/streaming.rs
  code/crates/peer/Cargo.toml
  code/crates/peer/src/lib.rs
  code/crates/peer/src/ser.rs
  code/crates/peer/src/ser/borsh.rs
  code/crates/sync/Cargo.toml
  code/crates/sync/src/lib.rs
  code/crates/sync/src/ser.rs
  code/crates/sync/src/ser/borsh.rs
Due: core, engine, app

return when commit cert is invalid (#1112)
  code/crates/engine/src/consensus.rs
Due: engine

fix(code): Emit error instead of panic when validator set is empty (#1111)
  code/crates/engine/src/consensus.rs
Due: engine

Update release notes
  RELEASE_NOTES.md
Due: none

Update changelog
  CHANGELOG.md
Due: none

Update breaking changes
  BREAKING_CHANGES.md
Due: none

add option to run qa multiple times
  .github/workflows/qa.yml
Due: none

add scripts to calculate average
  qa/terraform/scripts/average_runs.py
  qa/terraform/scripts/average_runs_test.py
Due: none

full logic added
  .github/workflows/qa.yml
Due: none
