Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

wip nonuniformload, added debugs, added default implementation for nonuniformload
  code/crates/config/src/lib.rs
  code/crates/starknet/host/src/host/proposal.rs
  code/crates/starknet/host/src/mempool.rs
  code/crates/starknet/host/src/mempool/network.rs
  code/crates/starknet/host/src/mempool_load.rs
  code/crates/starknet/host/src/utils/ticker.rs
Due: starknet

Update protos
  code/crates/starknet/p2p-proto/export-proto.sh
  code/crates/starknet/p2p-proto/proto/p2p/proto/consensus/consensus.proto
Due: starknet

Resend votes at prevote or precommit timeout interval
  code/crates/config/src/lib.rs
  code/crates/core-consensus/src/handle.rs
  code/crates/core-consensus/src/handle/driver.rs
  code/crates/core-consensus/src/handle/rebroadcast_timeout.rs
  code/crates/core-consensus/src/handle/timeout.rs
  code/crates/core-consensus/src/state.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-types/src/timeout.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/wal/entry.rs
  code/crates/starknet/test/src/tests.rs
  code/crates/starknet/test/src/tests/vote_sync_bcast.rs
Due: core, engine, starknet

Formatting
  code/crates/core-consensus/src/handle/driver.rs
Due: core

Adapt to latest proto changes
  code/crates/starknet/host/src/actor.rs
  code/crates/starknet/host/src/host/proposal.rs
  code/crates/starknet/host/src/host/state.rs
  code/crates/starknet/p2p-types/src/proposal_part.rs
Due: starknet

Add rebroadcast metric
  code/crates/core-consensus/src/handle/rebroadcast_timeout.rs
  code/crates/metrics/src/metrics.rs
Due: core

fix nonuniformload
  code/Cargo.toml
  code/crates/config/src/lib.rs
  code/crates/starknet/host/src/mempool.rs
  code/crates/starknet/host/src/mempool_load.rs
Due: starknet

cleanup
  code/crates/starknet/host/src/host/proposal.rs
  code/crates/starknet/host/src/mempool.rs
  code/crates/starknet/host/src/mempool/network.rs
  code/crates/starknet/host/src/mempool_load.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/starknet/host/src/utils/ticker.rs
Due: starknet

addressing comments regarding config
  code/crates/config/src/lib.rs
  code/crates/starknet/host/src/mempool_load.rs
Due: starknet

use derive(Debug) instead of derive_where(Debug)
  code/crates/starknet/host/src/streaming.rs
Due: starknet

refactored tickers
  code/crates/starknet/host/src/lib.rs
  code/crates/starknet/host/src/mempool_load.rs
  code/crates/starknet/host/src/utils/mod.rs
  code/crates/starknet/host/src/utils/ticker.rs
Due: starknet

shortened default interval for UniformLoadConfig
  code/crates/config/src/lib.rs
Due: none

upload all config files to server
  .github/workflows/qa.yml
Due: none

Fix traces
  code/crates/core-state-machine/src/traces/line.rs
Due: core

itf runner: initialize actual state using expected state
  code/crates/starknet/host/src/streaming.rs
  code/crates/test/mbt/src/deserializers.rs
  code/crates/test/mbt/src/tests/streaming.rs
  code/crates/test/mbt/src/tests/streaming/runner.rs
  code/crates/test/mbt/src/tests/streaming/utils.rs
Due: starknet

runner: updated state invariant check
  code/crates/starknet/host/src/streaming.rs
  code/crates/test/mbt/src/tests/streaming/runner.rs
Due: starknet

testing with random traces
  code/crates/test/mbt/src/tests/streaming.rs
  code/crates/test/mbt/src/tests/streaming/runner.rs
  code/crates/test/mbt/src/utils.rs
Due: none

Add rebroadcast effect and event, check sync enabled
  code/crates/core-consensus/src/effect.rs
  code/crates/core-consensus/src/handle/rebroadcast_timeout.rs
  code/crates/core-consensus/src/types.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/util/events.rs
  code/crates/starknet/test/src/lib.rs
  code/crates/starknet/test/src/tests/vote_sync_bcast.rs
Due: core, engine, starknet

Fix comment
  code/crates/engine/src/consensus.rs
Due: engine

Update metrics if feature is set
  code/crates/core-consensus/src/handle/rebroadcast_timeout.rs
Due: core

install pssh
  .github/workflows/qa.yml
Due: none

print pssh version
  .github/workflows/qa.yml
Due: none

debug pssh installation
  .github/workflows/qa.yml
Due: none

debug pssh installation 2
  .github/workflows/qa.yml
Due: none

debug pssh installation 3
  .github/workflows/qa.yml
Due: none

debug pssh installation 4
  .github/workflows/qa.yml
Due: none

install pssh via python
  .github/workflows/qa.yml
Due: none

install pssh manualy
  .github/workflows/qa.yml
Due: none

run pssh as parallel-ssh
  .github/workflows/qa.yml
Due: none

symlink to pssh
  .github/workflows/qa.yml
Due: none

symlink to pssh sudo
  .github/workflows/qa.yml
Due: none

add terraform
  .github/workflows/qa.yml
Due: none

terraform with auth
  .github/workflows/qa.yml
Due: none

terraform only with do-token
  .github/workflows/qa.yml
Due: none

Post-merge fixes
  code/crates/starknet/host/src/actor.rs
  code/crates/starknet/host/src/host/proposal.rs
  code/crates/starknet/host/src/host/starknet.rs
  code/crates/starknet/host/src/spawn.rs
Due: starknet

terraform only with auth
  .github/workflows/qa.yml
Due: none

terraform with env variables
  .github/workflows/qa.yml
Due: none

terraform plan
  .github/workflows/qa.yml
Due: none

start only cc node
  .github/workflows/qa.yml
Due: none

start only cc + 1 node
  .github/workflows/qa.yml
Due: none

Path conditions:
  core: any of: code/crates/core-*/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  engine: any of: code/crates/engine/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  app: any of: code/crates/app/**, code/crates/app-*/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  starknet: any of: code/crates/starknet/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
