Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

codecov.yml:

codecov:
  require_ci_to_pass: false

comment:
  layout: "header, diff, flags, components"

ignore:
  - "code/examples"
  - "code/crates/proto"
  - "code/crates/test/mempool"
  - "code/crates/test/proto"
  - "code/crates/test/cli"
  - "code/crates/signing-ed25519"
  - "code/crates/starknet/p2p-proto"
  - "code/crates/starknet/p2p-types"

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - "code/crates/core-consensus/**"
        - "code/crates/core-driver/**"
        - "code/crates/core-state-machine/**"
        - "code/crates/core-types/**"
        - "code/crates/core-votekeeper/**"
    - component_id: engine
      name: engine
      paths:
        - "code/crates/engine/**"
        - "code/crates/sync/**"
    - component_id: app
      name: app
      paths:
        - "code/crates/app/**"
        - "code/crates/app-channel/**"
    - component_id: starknet
      name: starknet
      paths:
        - "code/crates/starknet/**"

coverage:
  precision: 2
  round: nearest
  range: "50...90"

  status:
    project:
      default:
        target: auto
        threshold: 5%
        removed_code_behavior: adjust_base
        paths:
          - "code"
    patch:
      default:
        target: 0%
        threshold: 5%
        paths:
          - "code"

    changes:
      default:
        informational: true

chore(CCHAIN309): Check all scenarios when the driver panics (#1178)
  code/crates/core-driver/src/driver.rs
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/node.rs
  code/crates/test/app/src/state.rs
  code/crates/test/app/src/store.rs
  code/crates/test/app/src/streaming.rs
  code/examples/channel/src/app.rs
  code/examples/channel/src/state.rs
  code/examples/channel/src/store.rs
  code/examples/channel/src/streaming.rs
Due: core

Drop early past sync values
  code/crates/core-consensus/src/handle/sync.rs
Due: core

feat(CCHAIN-279): Add facility for app to request a consensus state dump (#1176)
  BREAKING_CHANGES.md
  RELEASE_NOTES.md
  code/Cargo.lock
  code/crates/app-channel/src/lib.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/app-channel/src/run.rs
  code/crates/core-consensus/src/full_proposal.rs
  code/crates/core-consensus/src/lib.rs
  code/crates/core-consensus/src/state.rs
  code/crates/core-consensus/tests/full_proposal.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/src/lib.rs
  code/crates/core-driver/src/proposal_keeper.rs
  code/crates/core-votekeeper/src/keeper.rs
  code/crates/engine/Cargo.toml
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/consensus/state_dump.rs
  code/examples/channel/src/app.rs
Due: core, engine, app

Clean comment
  code/crates/engine/src/consensus.rs
Due: engine

feat: Add `or` and `or_else` combinators to `Round` type
  code/crates/core-types/src/round.rs
Due: core

Buffer messages for higher height before verification
  code/crates/core-consensus/src/handle/proposal.rs
  code/crates/core-consensus/src/handle/vote.rs
Due: core

Move the debug_assert before verify
  code/crates/core-consensus/src/handle/vote.rs
Due: core

add release notes
  RELEASE_NOTES.md
Due: none

make protocol names configurable
  code/Cargo.lock
  code/crates/app/src/spawn.rs
  code/crates/config/src/lib.rs
  code/crates/discovery/Cargo.toml
  code/crates/discovery/src/behaviour.rs
  code/crates/engine/src/network.rs
  code/crates/network/Cargo.toml
  code/crates/network/src/behaviour.rs
  code/crates/network/src/lib.rs
  code/crates/starknet/host/src/spawn.rs
Due: engine, app, starknet

remove redundant ProtocolNames as input
  code/crates/engine/src/network.rs
  code/crates/network/src/behaviour.rs
  code/crates/network/src/lib.rs
  code/crates/network/test/src/lib.rs
Due: engine

remove protocol suffix, revert formatting changes, remove leftover hardcode
  code/Cargo.lock
  code/crates/config/src/lib.rs
  code/crates/discovery/src/behaviour.rs
  code/crates/engine/src/network.rs
  code/crates/network/src/behaviour.rs
  code/crates/network/src/lib.rs
  code/crates/network/test/src/lib.rs
  code/crates/sync/Cargo.toml
  code/crates/sync/src/behaviour.rs
Due: engine

add tests for protocol names serialization , deserialization , toml parsing , default case check
  code/Cargo.lock
  code/crates/config/Cargo.toml
  code/crates/config/src/lib.rs
Due: none

fix Behaviour::new
  code/crates/discovery/src/behaviour.rs
  code/crates/network/src/behaviour.rs
Due: none

fix order
  code/crates/discovery/src/behaviour.rs
  code/crates/network/src/behaviour.rs
Due: none

call new_with_protocols inside new
  code/crates/discovery/src/behaviour.rs
Due: none

remove malachite-config as dep
  code/Cargo.lock
  code/crates/app/src/spawn.rs
  code/crates/discovery/Cargo.toml
  code/crates/discovery/src/behaviour.rs
  code/crates/network/Cargo.toml
  code/crates/network/src/behaviour.rs
  code/crates/network/src/lib.rs
  code/crates/network/test/src/lib.rs
  code/crates/starknet/host/src/spawn.rs
Due: app, starknet

fix formatting
  code/crates/discovery/src/behaviour.rs
  code/crates/network/src/behaviour.rs
Due: none

fix: Buffer all inputs for higher heights
  code/crates/core-consensus/src/handle/liveness.rs
  code/crates/core-consensus/src/handle/proposal.rs
  code/crates/core-consensus/src/handle/vote.rs
Due: core

Remove `GetValidatorSet` effect as it is not needed anymore
  code/crates/core-consensus/src/effect.rs
  code/crates/core-consensus/src/handle/liveness.rs
  code/crates/core-consensus/src/handle/sync.rs
  code/crates/core-consensus/src/handle/validator_set.rs
  code/crates/engine/src/consensus.rs
Due: core, engine

Warn in WAL actor
  code/crates/engine/src/wal.rs
Due: engine

Make sure to reply to mismatched Append height requests
  code/crates/engine/src/wal.rs
Due: engine

Catch panics in WAL thread
  code/crates/engine/src/wal/thread.rs
Due: engine

feat: Remove `initial_height` and `initial_validator_set` from consensus params
  code/crates/core-consensus/src/params.rs
  code/crates/core-consensus/src/state.rs
  code/crates/engine/src/consensus.rs
Due: core, engine

chore: Adapt applications to remove of `initial_height` and `initial_validator_set` params
  code/crates/app-channel/src/msgs.rs
  code/crates/app-channel/src/run.rs
  code/crates/app/src/spawn.rs
  code/crates/starknet/host/src/node.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/test/app/src/node.rs
  code/examples/channel/src/node.rs
Due: app, starknet

feat: Make the `SigningProvider` methods fallible to allow for remote signer implementations
  code/Cargo.lock
  code/Cargo.toml
  code/crates/app/Cargo.toml
  code/crates/app/src/node.rs
  code/crates/app/src/spawn.rs
  code/crates/core-consensus/Cargo.toml
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/core-consensus/tests/full_proposal.rs
  code/crates/core-types/src/certificate.rs
  code/crates/core-types/src/error.rs
  code/crates/core-types/src/lib.rs
  code/crates/core-types/src/signing.rs
  code/crates/engine/Cargo.toml
  code/crates/engine/src/consensus.rs
  code/crates/signing/Cargo.toml
  code/crates/signing/src/error.rs
  code/crates/signing/src/ext.rs
  code/crates/signing/src/lib.rs
  code/crates/starknet/p2p-types/Cargo.toml
  code/crates/starknet/p2p-types/src/signing.rs
  code/crates/test/Cargo.toml
  code/crates/test/src/signing.rs
  code/crates/test/tests/unit/certificates/commit.rs
  code/crates/test/tests/unit/certificates/mod.rs
Due: core, engine, app

test: Add doctests
  code/crates/core-types/src/round.rs
Due: core

Cleanup
  code/crates/sync/src/handle.rs
Due: engine

get the value size from the network codec
  code/crates/engine/src/network.rs
  code/crates/engine/src/sync.rs
Due: engine

fix formatting issues
  code/crates/core-consensus/src/util/bounded_queue.rs
  code/crates/engine/src/network.rs
  code/crates/engine/src/sync.rs
  code/crates/test/tests/it/value_sync.rs
Due: core, engine

introduce warnings when pushing to a bounded queue
  code/crates/core-consensus/src/util/bounded_queue.rs
Due: core

Add `max_parallel_requests` state method
  code/crates/sync/src/handle.rs
  code/crates/sync/src/state.rs
Due: engine

add rpc_max_size config in tests
  code/crates/test/framework/src/params.rs
  code/crates/test/tests/it/value_sync.rs
Due: none

add a defensive check if peer ids do not match
  code/crates/sync/src/handle.rs
Due: engine

Small refactor using new `update_request` state method
  code/crates/sync/src/handle.rs
  code/crates/sync/src/state.rs
Due: engine

prevent sending a total of values that exceed the max response size
  code/crates/engine/src/sync.rs
  code/crates/starknet/test/src/lib.rs
  code/crates/sync/src/handle.rs
  code/crates/test/framework/src/params.rs
Due: engine, starknet

take into account breaking-early comment
  code/crates/engine/src/sync.rs
Due: engine

fix issue with potentially multiple parallel requests
  code/crates/engine/src/consensus.rs
Due: engine

Re-request range from any peer, not necessarily the same one
  code/crates/sync/src/handle.rs
Due: engine

remove parallel-requests check and add test
  code/crates/sync/src/handle.rs
  code/crates/test/tests/it/value_sync.rs
Due: engine

fix formatting issues
  code/crates/engine/src/sync.rs
  code/crates/sync/src/handle.rs
Due: engine
