Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

codecov.yml:

codecov:
  require_ci_to_pass: yes

comment:
  layout: "header, diff, flags, components"

ignore:
  - "code/crates/test"
  - "code/crates/signing-ed25519"
  - "code/crates/proto"
  - "code/examples"

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - "code/crates/core-*/**"
    - component_id: engine
      name: engine
      paths:
        - "code/crates/engine/**"
    - component_id: app
      name: app
      paths:
        - "code/crates/app/**"
        - "code/crates/app-*/**"
    - component_id: starknet
      name: starknet
      paths:
        - "code/crates/starknet/**"

coverage:
  precision: 2
  round: nearest
  range: "50...90"

  status:
    project:
      default:
        target: auto
        threshold: 5%
        removed_code_behavior: adjust_base
        paths:
          - "code"
    patch:
      default:
        target: 0%
        threshold: 5%
        paths:
          - "code"

    changes:
      default:
        informational: true

Disable integration tests with proposal mode, keep parts only
  code/crates/starknet/test/src/tests/n3f0_consensus_mode.rs
  code/crates/starknet/test/src/tests/value_sync.rs
  code/crates/starknet/test/src/tests/vote_sync.rs
  code/crates/starknet/test/src/tests/wal.rs
Due: starknet

terraform with auto-approve
  .github/workflows/qa.yml
Due: none

newer terraform
  .github/workflows/qa.yml
Due: none

run separately
  .github/workflows/qa.yml
Due: none

runner: updated state invariant
  code/crates/test/mbt/src/tests/streaming/runner.rs
Due: none

Set parts-only in spwan.bash
  code/scripts/spawn.bash
Due: none

Add detail to panic when explicit proposal
  code/crates/starknet/host/src/codec.rs
Due: starknet

Fix fmt
  code/crates/starknet/host/src/codec.rs
Due: starknet

ssh_keys are empty be default
  .github/workflows/qa.yml
  qa/terraform/variables.tf
Due: none

debug ssh keys formating
  .github/workflows/qa.yml
Due: none

auto approve added
  .github/workflows/qa.yml
Due: none

full qa scenario
  .github/workflows/qa.yml
Due: none

Do not fail CI for test app integration test failure
  .github/workflows/rust.yml
Due: none

try all commands in one step
  .github/workflows/qa.yml
Due: none

Generalize the test framework to make it work with any app
  code/Cargo.lock
  code/crates/app-channel/src/lib.rs
  code/crates/app-channel/src/run.rs
  code/crates/app/src/lib.rs
  code/crates/app/src/node.rs
  code/crates/starknet/app/src/main.rs
  code/crates/starknet/host/src/node.rs
  code/crates/starknet/test/Cargo.toml
  code/crates/starknet/test/src/lib.rs
  code/crates/starknet/test/src/tests/n3f0_consensus_mode.rs
  code/crates/starknet/test/src/tests/n3f0_pubsub_protocol.rs
  code/crates/starknet/test/src/tests/value_sync.rs
  code/crates/starknet/test/src/tests/vote_sync.rs
  code/crates/starknet/test/src/tests/wal.rs
  code/crates/test/Cargo.toml
  code/crates/test/app/src/node.rs
  code/crates/test/cli/src/args.rs
  code/crates/test/cli/src/cmd/distributed_testnet.rs
  code/crates/test/cli/src/new.rs
  code/crates/test/framework/Cargo.toml
  code/crates/test/framework/src/expected.rs
  code/crates/test/framework/src/lib.rs
  code/crates/test/framework/src/logging.rs
  code/crates/test/framework/src/metrics.rs
  code/crates/test/framework/src/node.rs
  code/crates/test/framework/src/params.rs
  code/crates/test/src/node.rs
  code/crates/test/tests/it/main.rs
  code/crates/test/tests/it/n3f0.rs
  code/crates/test/tests/it/n3f0_consensus_mode.rs
  code/crates/test/tests/it/n3f0_pubsub_protocol.rs
  code/crates/test/tests/it/n3f1.rs
  code/crates/test/tests/it/value_sync.rs
  code/crates/test/tests/it/vote_sync.rs
  code/crates/test/tests/it/wal.rs
  code/examples/channel/src/node.rs
Due: app, starknet

run two steps together
  .github/workflows/qa.yml
Due: none

Fix unit test
  code/crates/starknet/host/src/node.rs
  code/crates/starknet/test/src/lib.rs
Due: starknet

Fix bug in config generation
  code/crates/starknet/test/src/lib.rs
Due: starknet

Cleanup
  code/crates/starknet/test/src/lib.rs
Due: starknet

Typo
  code/crates/test/framework/src/lib.rs
Due: none

Cleanup
  code/crates/starknet/host/src/node.rs
  code/crates/starknet/test/src/lib.rs
  code/crates/test/tests/it/main.rs
Due: starknet

Fix late starting full node test
  code/crates/starknet/test/src/tests/full_nodes.rs
Due: starknet

Cleanup
  code/crates/starknet/test/src/tests/mod.rs
  code/crates/test/framework/src/lib.rs
  code/crates/test/framework/src/metrics.rs
Due: starknet

Move starkent MBT to separate dir
  .github/workflows/mbt.yml
  code/Cargo.lock
  code/Cargo.toml
  code/crates/starknet/test/mbt/Cargo.toml
  code/crates/starknet/test/mbt/specs
  code/crates/starknet/test/mbt/src/deserializers.rs
  code/crates/starknet/test/mbt/src/lib.rs
  code/crates/starknet/test/mbt/src/streaming.rs
  code/crates/starknet/test/mbt/src/tests.rs
  code/crates/starknet/test/mbt/src/tests/streaming.rs
  code/crates/starknet/test/mbt/src/tests/streaming/runner.rs
  code/crates/starknet/test/mbt/src/tests/streaming/utils.rs
  code/crates/test/mbt/src/deserializers.rs
  code/crates/test/mbt/src/lib.rs
  code/crates/test/mbt/src/tests.rs
Due: starknet

Introduce `NodeHandle` abstraction
  code/crates/app/src/lib.rs
  code/crates/app/src/node.rs
  code/crates/starknet/host/src/node.rs
  code/crates/starknet/test/src/lib.rs
  code/crates/test/Cargo.toml
  code/crates/test/app/src/node.rs
  code/crates/test/framework/src/lib.rs
  code/crates/test/src/lib.rs
  code/crates/test/src/node.rs
  code/crates/test/tests/it/main.rs
  code/examples/channel/src/node.rs
Due: app, starknet

Cleanup
  code/crates/test/src/node.rs
Due: none

Wait until the main actor is dead before returning
  code/crates/starknet/host/src/node.rs
  code/crates/test/app/src/node.rs
  code/examples/channel/src/node.rs
Due: starknet

Go back to running tests with maelstrom
  .github/workflows/rust.yml
Due: none

Fix full node tests
  code/crates/starknet/test/src/tests/full_nodes.rs
Due: starknet

Fix config generation in test app tests
  code/crates/test/app/src/app.rs
  code/crates/test/tests/it/full_nodes.rs
  code/crates/test/tests/it/main.rs
Due: none

Exclude test app from code coverage for now
  .github/workflows/coverage.yml
Due: none

Ignore unsupported tests
  code/crates/test/tests/it/vote_sync.rs
  code/crates/test/tests/it/wal.rs
Due: none

Add back full nodes tests
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/state.rs
  code/crates/test/tests/it/full_nodes.rs
Due: none

feat: Optimize proposal part handling logic in received_proposal_part
  code/examples/channel/src/state.rs
Due: none
