Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

fix(code/wal): Fix off-by-one height of WAL entries emitted when processing `StartHeight` input
  code/crates/core-consensus/src/effect.rs
  code/crates/core-consensus/src/handle/proposal.rs
  code/crates/core-consensus/src/handle/propose.rs
  code/crates/core-consensus/src/handle/proposed_value.rs
  code/crates/core-consensus/src/handle/timeout.rs
  code/crates/core-consensus/src/handle/vote.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/wal.rs
Due: core, engine

Re-instate warning on mismatched height
  code/crates/engine/src/wal.rs
Due: engine

Remove outdated comment
  code/crates/engine/src/consensus.rs
Due: engine

Remove noisy debug log
  code/crates/engine/src/wal.rs
Due: engine

Add release note
  RELEASE_NOTES.md
Due: none

Lower some warnings to debug or info
  code/crates/core-consensus/src/handle/driver.rs
  code/crates/core-consensus/src/handle/liveness.rs
  code/crates/core-consensus/src/handle/proposal.rs
  code/crates/core-consensus/src/handle/propose.rs
  code/crates/core-consensus/src/handle/rebroadcast_timeout.rs
  code/crates/core-consensus/src/state.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/sync.rs
  code/crates/engine/src/util/msg_buffer.rs
  code/crates/engine/src/wal.rs
  code/crates/sync/src/handle.rs
Due: core, engine

Change full buffer message back to warning
  code/crates/engine/src/util/msg_buffer.rs
Due: engine

added note about SL
  README.md
Due: none

Lower some sync warnings
  code/crates/sync/src/handle.rs
Due: engine

Harmonize log messages
  code/crates/core-consensus/src/handle/proposal.rs
  code/crates/core-consensus/src/handle/vote.rs
Due: core

Fix merge conflict
  code/crates/engine/src/wal.rs
Due: engine

Restore warnings for mismatched heights
  code/crates/core-consensus/src/handle/driver.rs
  code/crates/core-consensus/src/handle/propose.rs
Due: core

Improve logs for queued inputs
  code/crates/core-consensus/src/handle/proposal.rs
  code/crates/core-consensus/src/handle/proposed_value.rs
  code/crates/core-consensus/src/handle/sync.rs
  code/crates/core-consensus/src/handle/vote.rs
Due: core

Cleanup
  code/crates/core-consensus/src/handle/vote.rs
Due: core

Remove redundant log
  code/crates/engine/src/consensus.rs
Due: engine

Bump early value at Propose log back to info
  code/crates/core-consensus/src/handle/driver.rs
Due: core

Log warnings upon vote/proposal equivocation
  code/Cargo.lock
  code/crates/core-driver/Cargo.toml
  code/crates/core-driver/src/proposal_keeper.rs
  code/crates/core-votekeeper/Cargo.toml
  code/crates/core-votekeeper/src/keeper.rs
Due: core

Apply suggestions from code review
  code/crates/core-driver/Cargo.toml
  code/crates/core-driver/src/proposal_keeper.rs
  code/crates/core-votekeeper/Cargo.toml
  code/crates/core-votekeeper/src/keeper.rs
Due: core

Fix build
  code/crates/core-driver/src/proposal_keeper.rs
  code/crates/core-votekeeper/src/keeper.rs
Due: core

Revise pronunciation description for Malachite
  README.md
Due: none

fix compilation test
  code/crates/signing-ecdsa/src/lib.rs
Due: none

ecdsa signing
  code/Cargo.toml
  code/crates/signing-ecdsa/Cargo.toml
  code/crates/signing-ecdsa/src/curve/k256.rs
  code/crates/signing-ecdsa/src/curve/mod.rs
  code/crates/signing-ecdsa/src/curve/p256.rs
  code/crates/signing-ecdsa/src/curve/p384.rs
  code/crates/signing-ecdsa/src/lib.rs
  code/crates/signing-ecdsa/src/serializers/base64string.rs
  code/crates/signing-ecdsa/src/serializers/mod.rs
  code/crates/signing-ecdsa/src/serializers/signing_key.rs
  code/crates/signing-ecdsa/src/serializers/verification_key.rs
Due: none

update lockfile
  code/Cargo.lock
Due: none

fix signature serialization
  code/Cargo.lock
  code/crates/signing-ecdsa/Cargo.toml
  code/crates/signing-ecdsa/src/lib.rs
  code/crates/signing-ecdsa/src/serializers/mod.rs
  code/crates/signing-ecdsa/src/serializers/signature.rs
Due: none

rm DefaultCurve
  code/crates/signing-ecdsa/src/lib.rs
Due: none

signature serialization
  code/crates/signing-ecdsa/src/lib.rs
  code/crates/signing-ecdsa/src/serializers/mod.rs
  code/crates/signing-ecdsa/src/serializers/signing_key.rs
  code/crates/signing-ecdsa/src/serializers/verification_key.rs
Due: none

add
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/links.yml
  .github/workflows/mbt.yml
  .github/workflows/need-triage-label.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/quint.yml
  .github/workflows/rust.yml
  .github/workflows/semver.yml
  .github/workflows/todo-tracking.yml
  .github/workflows/typos.yml
Due: none

make Timeouts a trait
  code/crates/app-channel/src/msgs.rs
  code/crates/app-channel/src/run.rs
  code/crates/app/src/spawn.rs
  code/crates/core-consensus/src/handle/start_height.rs
  code/crates/core-consensus/src/input.rs
  code/crates/core-consensus/src/params.rs
  code/crates/core-consensus/src/state.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/tests/it/basic.rs
  code/crates/core-driver/tests/it/extra.rs
  code/crates/core-types/src/context.rs
  code/crates/core-types/src/lib.rs
  code/crates/core-types/src/timeouts.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/host.rs
  code/crates/starknet/host/src/actor.rs
  code/crates/starknet/host/src/host/starknet.rs
  code/crates/starknet/host/src/node.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/starknet/p2p-types/src/context.rs
  code/crates/test/app/src/node.rs
  code/crates/test/src/context.rs
  code/examples/channel/src/node.rs
Due: core, engine, app, starknet

panic if round is nil
  code/crates/app-channel/src/msgs.rs
  code/crates/core-consensus/src/input.rs
  code/crates/core-types/src/context.rs
  code/crates/core-types/src/lib.rs
  code/crates/core-types/src/timeouts.rs
  code/crates/engine/src/host.rs
  code/crates/starknet/p2p-types/src/context.rs
  code/crates/test/src/context.rs
  code/examples/channel/src/node.rs
Due: core, engine, app

update BREAKING_CHANGES
  BREAKING_CHANGES.md
  RELEASE_NOTES.md
  code/crates/app-channel/src/msgs.rs
  code/crates/core-types/src/timeouts.rs
  code/crates/engine/src/host.rs
Due: core, engine, app

refactor: Remove `GetResponseSize` message, use sync codec directly
  code/crates/app-channel/src/run.rs
  code/crates/app/src/spawn.rs
  code/crates/engine/src/network.rs
  code/crates/engine/src/sync.rs
  code/crates/starknet/host/src/spawn.rs
Due: engine, app, starknet

chore: Fix typo
  code/crates/core-consensus/src/effect.rs
Due: core

chore: Fix formatting
  code/crates/app-channel/src/spawn.rs
  code/crates/app/src/spawn.rs
Due: app

chore: Remove redundant trait bound
  code/crates/app-channel/src/spawn.rs
  code/crates/app/src/spawn.rs
Due: app

chore: Fix formatting
  code/crates/app-channel/src/run.rs
  code/crates/engine/src/network.rs
  code/crates/engine/src/sync.rs
  code/crates/test/src/codec/json/mod.rs
  code/crates/test/tests/it/value_sync.rs
Due: engine, app

chore: Cleanup
  code/crates/engine/src/sync.rs
Due: engine

prevent sending a total of values that exceed the max response size
  code/crates/engine/src/sync.rs
  code/crates/starknet/test/src/lib.rs
  code/crates/sync/src/handle.rs
  code/crates/test/framework/src/params.rs
Due: engine, starknet

fix formatting issues
  code/crates/engine/src/sync.rs
  code/crates/sync/src/handle.rs
Due: engine

Cleanup
  code/crates/sync/src/handle.rs
Due: engine

Small refactor using new `update_request` state method
  code/crates/sync/src/handle.rs
  code/crates/sync/src/state.rs
Due: engine

Path conditions:
  core: any of: code/crates/core-consensus/**, code/crates/core-driver/**, code/crates/core-state-machine/**, code/crates/core-types/**, code/crates/core-votekeeper/**, but not: code/examples, code/crates/proto, code/crates/test/mempool, code/crates/test/proto, code/crates/test/cli, code/crates/signing-ed25519, code/crates/starknet/p2p-proto, code/crates/starknet/p2p-types
  engine: any of: code/crates/engine/**, code/crates/sync/**, but not: code/examples, code/crates/proto, code/crates/test/mempool, code/crates/test/proto, code/crates/test/cli, code/crates/signing-ed25519, code/crates/starknet/p2p-proto, code/crates/starknet/p2p-types
  app: any of: code/crates/app/**, code/crates/app-channel/**, but not: code/examples, code/crates/proto, code/crates/test/mempool, code/crates/test/proto, code/crates/test/cli, code/crates/signing-ed25519, code/crates/starknet/p2p-proto, code/crates/starknet/p2p-types
  starknet: any of: code/crates/starknet/**, but not: code/examples, code/crates/proto, code/crates/test/mempool, code/crates/test/proto, code/crates/test/cli, code/crates/signing-ed25519, code/crates/starknet/p2p-proto, code/crates/starknet/p2p-types
