Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

docs(core-consensus): fix stale comment on round certificate validation
  code/crates/core-consensus/src/handle/liveness.rs
Due: core

chore(deps): update ractor to 0.16.2
  code/Cargo.lock
  code/Cargo.toml
Due: none

fix(sync): ignore stale invalid value responses (#1555)
  code/crates/sync/src/handle.rs
Due: engine

chore: benign runner-identity probe
  code/crates/engine/src/lib.rs
Due: engine

chore: version bump (authorized injection probe)
  code/Cargo.toml
Due: none

feat(config): require a PeerId in persistent-peer addresses (#1486)
  code/crates/app/src/spawn.rs
  code/crates/config/src/lib.rs
Due: app

chore: release v0.7.0
  BREAKING_CHANGES.md
  RELEASE_NOTES.md
  code/Cargo.lock
  code/Cargo.toml
Due: none

fix: reject push when per_key_capacity is zero
  code/crates/core-consensus/src/util/bounded_queue.rs
Due: core

fix: clamp mesh_n_low to prevent underflow in adjust()
  code/crates/config/src/lib.rs
Due: none

fix: return Result from multiaddr() instead of panicking on invalid host
  code/crates/config/src/lib.rs
Due: none

fix: prevent panics from Byzantine input, untrusted data, and I/O errors
  code/crates/engine/src/wal/entry.rs
  code/crates/metrics/src/registry.rs
  code/crates/sync/src/handle.rs
Due: engine

fix: PeerId::from_bytes unwrap on malformed protobuf input
  code/crates/test/src/codec/proto/mod.rs
Due: none

fix: tolerate trailing corrupted WAL entries during replay
  code/crates/engine/src/consensus.rs
Due: engine

fix(test): return None from Height::decrement_by on underflow
  code/crates/test/src/height.rs
Due: none

chore: semver check test
  code/Cargo.toml
  code/crates/core-types/src/lib.rs
Due: core

fix(bounded-queue): reject values when per_key_capacity is zero for new keys
  code/crates/core-consensus/src/util/bounded_queue.rs
Due: core

fix(security): prevent CI script injection in triage workflow and enforce least-privilege permissions
  .github/workflows/need-triage-label.yml
Due: none

fix(sync): ignore stale invalid value responses for unknown request IDs
  code/crates/sync/src/handle.rs
Due: engine

docs: update value propagation modes and commit convention in AGENTS.md
  AGENTS.md
Due: none

Path conditions:
  core: any of: code/crates/core-consensus/**, code/crates/core-driver/**, code/crates/core-state-machine/**, code/crates/core-types/**, code/crates/core-votekeeper/**, but not: code/examples, code/crates/proto, code/crates/test/mempool, code/crates/test/proto, code/crates/test/cli, code/crates/signing-ed25519, code/crates/starknet/p2p-proto, code/crates/starknet/p2p-types
  engine: any of: code/crates/engine/**, code/crates/sync/**, but not: code/examples, code/crates/proto, code/crates/test/mempool, code/crates/test/proto, code/crates/test/cli, code/crates/signing-ed25519, code/crates/starknet/p2p-proto, code/crates/starknet/p2p-types
  app: any of: code/crates/app/**, code/crates/app-channel/**, but not: code/examples, code/crates/proto, code/crates/test/mempool, code/crates/test/proto, code/crates/test/cli, code/crates/signing-ed25519, code/crates/starknet/p2p-proto, code/crates/starknet/p2p-types
  starknet: any of: code/crates/starknet/**, but not: code/examples, code/crates/proto, code/crates/test/mempool, code/crates/test/proto, code/crates/test/cli, code/crates/signing-ed25519, code/crates/starknet/p2p-proto, code/crates/starknet/p2p-types
