Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

codecov.yml:

codecov:
  require_ci_to_pass: yes

comment:
  layout: "header, diff, flags, components"

ignore:
  - "code/crates/test"
  - "code/crates/signing-ed25519"
  - "code/crates/proto"
  - "code/examples"

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - "code/crates/core-*/**"
    - component_id: engine
      name: engine
      paths:
        - "code/crates/engine/**"
    - component_id: app
      name: app
      paths:
        - "code/crates/app/**"
        - "code/crates/app-*/**"
    - component_id: starknet
      name: starknet
      paths:
        - "code/crates/starknet/**"

coverage:
  precision: 2
  round: nearest
  range: "50...90"

  status:
    project:
      default:
        target: auto
        threshold: 5%
        removed_code_behavior: adjust_base
        paths:
          - "code"
    patch:
      default:
        target: 0%
        threshold: 5%
        paths:
          - "code"

    changes:
      default:
        informational: true

Make `new_prevote`, `new_precommit` and `new_proposal` methods of `Context` instead of static functions
  code/crates/core-consensus/src/handle/proposed_value.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-state-machine/src/output.rs
  code/crates/core-state-machine/src/state.rs
  code/crates/core-state-machine/src/state_machine.rs
  code/crates/core-types/src/context.rs
  code/crates/starknet/p2p-types/src/context.rs
  code/crates/test/mbt/src/tests/consensus/runner.rs
  code/crates/test/src/context.rs
Due: core, starknet

Stuff middleware in the `TestContext` instead of static variable
  code/Cargo.lock
  code/crates/test/Cargo.toml
  code/crates/test/app/src/node.rs
  code/crates/test/framework/src/node.rs
  code/crates/test/src/context.rs
  code/crates/test/src/middleware.rs
  code/crates/test/tests/it/main.rs
  code/crates/test/tests/it/wal.rs
  code/examples/channel/src/node.rs
Due: none

Remove unused dep
  code/Cargo.lock
  code/crates/test/Cargo.toml
Due: none

Add way to access middleware from TestContext
  code/crates/test/src/context.rs
Due: none

Cleanup
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/core-consensus/src/handle/start_height.rs
  code/crates/core-consensus/src/state.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/src/proposal_keeper.rs
  code/crates/core-state-machine/src/state_machine.rs
Due: core

Change test to ensure the syncing node was a proposer at least once.
  code/crates/test/tests/it/value_sync.rs
Due: none

Process the commit certificate first
  code/crates/engine/src/consensus.rs
Due: engine

Panic in test app on multiple commits
  code/crates/test/app/src/state.rs
Due: none

Correct comment
  code/examples/channel/src/node.rs
Due: none

Increase history for channel app
  code/examples/channel/src/state.rs
Due: none

Make channel app propose different values when restart from initial height
  code/examples/channel/src/state.rs
Due: none

Update comments, rename decided to decided_sent
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/core-consensus/src/state.rs
  code/examples/channel/src/state.rs
Due: core

Show phase updates
  code/crates/engine/src/consensus.rs
Due: engine

Check step in commit timeout as after WAL replay we may not be in commit step.
  code/crates/core-consensus/src/handle/timeout.rs
Due: core

Add concept of middleware to change from the tests how votes and proposals are built
  code/crates/core-consensus/src/handle/proposed_value.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-state-machine/src/output.rs
  code/crates/core-state-machine/src/state.rs
  code/crates/core-state-machine/src/state_machine.rs
  code/crates/core-types/src/context.rs
  code/crates/starknet/p2p-types/src/context.rs
  code/crates/test/Cargo.toml
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/node.rs
  code/crates/test/framework/src/node.rs
  code/crates/test/mbt/src/tests/consensus/runner.rs
  code/crates/test/src/context.rs
  code/crates/test/src/lib.rs
  code/crates/test/src/middleware.rs
  code/crates/test/tests/it/main.rs
  code/crates/test/tests/it/wal.rs
  code/examples/channel/src/node.rs
Due: core, starknet

Clear all full proposals when moving to the next height
  code/crates/core-consensus/src/full_proposal.rs
  code/crates/core-consensus/src/state.rs
Due: core

feat(code/starknet): Derive address from public key
  code/crates/engine/src/consensus.rs
  code/crates/starknet/host/src/node.rs
  code/crates/starknet/p2p-types/src/address.rs
  code/crates/starknet/test/src/lib.rs
Due: engine, starknet

Allow sync to be enabled via config
  code/crates/starknet/host/src/spawn.rs
  code/scripts/spawn.bash
Due: starknet

Fix unused import
  code/crates/core-consensus/src/full_proposal.rs
Due: core

Small reorg
  code/crates/core-consensus/src/error.rs
  code/crates/core-consensus/src/full_proposal.rs
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/core-consensus/src/handle/proposed_value.rs
  code/crates/core-consensus/src/handle/sync.rs
  code/crates/core-consensus/src/handle/timeout.rs
Due: core

Cleanup
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/state.rs
  code/examples/channel/src/state.rs
Due: none

Replace `is_byzantine_proposer` config by a middleware
  code/crates/config/src/lib.rs
  code/crates/test/app/src/app.rs
  code/crates/test/framework/src/node.rs
  code/crates/test/src/middleware.rs
  code/crates/test/tests/it/main.rs
  code/crates/test/tests/it/wal.rs
Due: none

Fix logging
  code/crates/test/app/src/app.rs
  code/crates/test/framework/src/logging.rs
  code/crates/test/tests/it/wal.rs
Due: none

Add and handle ResetHeight
  code/crates/app-channel/src/msgs.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/wal.rs
  code/crates/engine/src/wal/thread.rs
  code/crates/test/app/src/app.rs
  code/examples/channel/src/app.rs
  code/examples/channel/src/state.rs
Due: engine, app

Review comments
  code/crates/core-consensus/src/full_proposal.rs
Due: core

Assert certificate is correct
  code/crates/core-consensus/src/handle/decide.rs
Due: core

Review comments
  code/crates/core-consensus/src/handle/rebroadcast_timeout.rs
  code/crates/core-consensus/src/state.rs
Due: core

chore(code): Set default step timeout to 2s instead of 30s
  code/crates/config/src/lib.rs
  code/crates/test/app/config.toml
  code/examples/channel/config.toml
  code/scripts/README.md
  code/scripts/spawn-tmux.bash
Due: none

fix(code/network): Support both `quic` and `quic-v1` protocol specifiers in multiaddr
  code/crates/network/src/lib.rs
  code/crates/test/mempool/src/lib.rs
Due: none

Simplify WAL replay
  code/crates/core-consensus/src/handle.rs
  code/crates/core-consensus/src/handle/proposal.rs
  code/crates/core-consensus/src/handle/propose.rs
  code/crates/core-consensus/src/handle/proposed_value.rs
  code/crates/core-consensus/src/handle/start_height.rs
  code/crates/core-consensus/src/handle/timeout.rs
  code/crates/core-consensus/src/handle/vote.rs
  code/crates/core-consensus/src/input.rs
  code/crates/core-consensus/src/types.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/util/events.rs
  code/crates/engine/src/wal/entry.rs
  code/crates/engine/src/wal/thread.rs
  code/crates/starknet/host/src/codec.rs
  code/crates/test/src/codec/proto/mod.rs
Due: core, engine, starknet

Re-enable checks in byzantine WAL tests
  code/crates/starknet/test/src/tests/wal.rs
  code/crates/test/tests/it/wal.rs
Due: starknet

Cleanup
  code/crates/core-consensus/src/handle.rs
  code/crates/core-consensus/src/handle/proposed_value.rs
  code/crates/core-consensus/src/handle/start_height.rs
Due: core

Cleanup protos
  code/crates/starknet/p2p-proto/proto/sync.proto
  code/crates/test/proto/sync.proto
Due: starknet

Replay ProposedValue exactly as stored in the WAL
  code/crates/engine/src/consensus.rs
Due: engine

Log proposed values to WAL only if not already seen and therefore logged.
  code/crates/core-consensus/src/full_proposal.rs
  code/crates/core-consensus/src/handle/propose.rs
  code/crates/core-consensus/src/handle/proposed_value.rs
  code/crates/core-consensus/src/state.rs
Due: core

Fix issue with last commit, store proposed values before getting the full proposal.
  code/crates/core-consensus/src/handle/proposed_value.rs
Due: core

Fix comments
  code/crates/engine/src/consensus.rs
Due: engine

Ensure all timeouts can be decoded
  code/crates/engine/src/wal/entry.rs
Due: engine

Re-add check that was previously removed when we were replaying WAL before starting round 0
  code/crates/core-consensus/src/handle/proposal.rs
Due: core

fix: fibonacci backoff
  code/crates/discovery/src/handlers/dial.rs
Due: none
