Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

codecov.yml:

codecov:
  require_ci_to_pass: false

comment:
  layout: "header, diff, flags, components"

ignore:
  - "code/examples"
  - "code/crates/proto"
  - "code/crates/test/mempool"
  - "code/crates/test/proto"
  - "code/crates/test/cli"
  - "code/crates/signing-ed25519"
  - "code/crates/starknet/p2p-proto"
  - "code/crates/starknet/p2p-types"

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - "code/crates/core-consensus/**"
        - "code/crates/core-driver/**"
        - "code/crates/core-state-machine/**"
        - "code/crates/core-types/**"
        - "code/crates/core-votekeeper/**"
    - component_id: engine
      name: engine
      paths:
        - "code/crates/engine/**"
        - "code/crates/sync/**"
    - component_id: app
      name: app
      paths:
        - "code/crates/app/**"
        - "code/crates/app-channel/**"
    - component_id: starknet
      name: starknet
      paths:
        - "code/crates/starknet/**"

coverage:
  precision: 2
  round: nearest
  range: "50...90"

  status:
    project:
      default:
        target: auto
        threshold: 5%
        removed_code_behavior: adjust_base
        paths:
          - "code"
    patch:
      default:
        target: 0%
        threshold: 5%
        paths:
          - "code"

    changes:
      default:
        informational: true

tentaive fix
  code/crates/test/tests/it/equivocation.rs
Due: none

Small stuff
  code/crates/app-channel/src/connector.rs
  code/crates/starknet/host/src/actor.rs
  code/crates/test/tests/it/finalization.rs
Due: app, starknet

Refactor metrics
  code/crates/network/src/metrics.rs
  code/crates/network/src/state.rs
  code/crates/network/src/utils.rs
Due: none

Reverted to implementaion based on `finalization_period` boolean
  code/crates/core-consensus/src/handle.rs
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/core-consensus/src/handle/driver.rs
  code/crates/core-consensus/src/handle/finalize.rs
  code/crates/core-consensus/src/handle/vote.rs
  code/crates/core-consensus/src/state.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/src/input.rs
  code/crates/core-driver/tests/it/basic.rs
  code/crates/core-driver/tests/it/finalize.rs
  code/crates/core-driver/tests/it/main.rs
  code/crates/core-state-machine/src/input.rs
  code/crates/core-state-machine/src/state.rs
  code/crates/core-state-machine/src/state_machine.rs
Due: core

Apply suggestion from @sergio-mena
  code/crates/core-consensus/src/error.rs
Due: core

Only print in tests
  code/crates/sync/src/scoring/ema.rs
Due: engine

Addressed @cason's comment
  code/crates/core-consensus/src/handle/timeout.rs
Due: core

Addressed @romac's comment
  code/crates/starknet/host/src/actor.rs
  code/crates/test/app/src/app.rs
Due: starknet

Refer to Step directly in UnexpectedInputInStep error
  code/crates/core-consensus/src/error.rs
  code/crates/core-consensus/src/handle.rs
  code/crates/core-consensus/src/prelude.rs
  code/crates/core-driver/src/lib.rs
Due: core

fixup! Refer to Step directly in UnexpectedInputInStep error
  code/crates/core-consensus/src/handle.rs
Due: core

Allow clippy warning
  code/crates/test/tests/it/equivocation.rs
Due: none

Moved evidence to `Finalized`
  code/crates/app-channel/src/connector.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/core-consensus/src/effect.rs
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/core-consensus/src/handle/finalize.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/host.rs
  code/crates/engine/src/util/events.rs
  code/crates/test/app/src/app.rs
  code/crates/test/framework/src/node.rs
  code/crates/test/tests/it/equivocation.rs
  code/crates/test/tests/it/finalization.rs
  code/examples/channel/src/app.rs
Due: core, engine, app

test app only sleeps on `Finalized` when target time is not set
  code/crates/test/app/src/app.rs
Due: none

Addressed one more comment
  code/crates/core-consensus/src/handle/vote.rs
Due: core

cargo fmt
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/engine/src/util/events.rs
  code/crates/test/framework/src/node.rs
Due: core, engine

chore: Bump MSRV to 1.88
  code/Cargo.toml
  code/clippy.toml
Due: none

fix: Fix new clippy warnings
  code/crates/test/app/src/state.rs
  code/examples/channel/src/state.rs
Due: none

fix: Fix new clippy warning
  code/crates/network/src/lib.rs
Due: none

test: add n4f1 integration tests for 4-validator scenarios (#638)
  code/crates/test/tests/it/main.rs
  code/crates/test/tests/it/n4f1.rs
Due: none

ci: Switch back to hosted runners (#1458)
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/links.yml
  .github/workflows/mbt.yml
  .github/workflows/need-triage-label.yml
  .github/workflows/pr-gate.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/quint.yml
  .github/workflows/rust.yml
  .github/workflows/semver.yml
  .github/workflows/todo-tracking.yml
  .github/workflows/typos.yml
  code/crates/app/src/lib.rs
Due: app

core: remove input filter for commit step
  code/crates/core-consensus/src/handle.rs
  code/crates/core-consensus/src/prelude.rs
Due: core

test: added target_time to value sync tests
  code/crates/test/tests/it/value_sync.rs
Due: none

core: finalize immediatelly when deciding via sync
  code/crates/core-consensus/src/handle/decide.rs
Due: core

Pleasing the linter
  code/crates/core-consensus/src/handle/decide.rs
Due: core

feat(sync): Add a queue for sync responses to the Sync actor
  code/crates/app-channel/src/builder.rs
  code/crates/app/src/spawn.rs
  code/crates/config/src/lib.rs
  code/crates/core-consensus/src/handle/sync.rs
  code/crates/core-consensus/src/util/bounded_queue.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/sync.rs
  code/crates/starknet/host/src/node.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/starknet/test/src/lib.rs
  code/crates/sync/src/metrics.rs
  code/crates/test/app/src/node.rs
  code/crates/test/tests/it/main.rs
  code/examples/channel/src/node.rs
Due: core, engine, app, starknet

feat(test): Use cargo-nextest facilities for assigning globally unique ports
  code/crates/test/tests/it/main.rs
Due: none

Update code/crates/app-channel/src/connector.rs
  code/crates/app-channel/src/connector.rs
Due: app

feat(engine-byzantine): add crate for simulating Byzantine faults
  code/Cargo.lock
  code/Cargo.toml
  code/crates/engine-byzantine/Cargo.toml
  code/crates/engine-byzantine/src/config.rs
  code/crates/engine-byzantine/src/lib.rs
  code/crates/engine-byzantine/src/middleware.rs
  code/crates/engine-byzantine/src/proxy.rs
Due: none

feat(test-app): integrate Byzantine engine
  code/Cargo.lock
  code/crates/app-channel/src/lib.rs
  code/crates/test/app/Cargo.toml
  code/crates/test/app/src/config.rs
  code/crates/test/app/src/node.rs
  code/crates/test/tests/it/main.rs
Due: app

feat(engine-byzantine): implement proposal equivocation
  code/crates/engine-byzantine/src/lib.rs
  code/crates/engine-byzantine/src/proxy.rs
  code/crates/test/app/src/node.rs
Due: none

Improve logging in BoundedQueue
  code/crates/core-consensus/src/util/bounded_queue.rs
Due: core

Small performance optimization in BoundedQueue
  code/crates/core-consensus/src/util/bounded_queue.rs
Due: core

Fix default consensus queue capacity
  code/crates/config/src/lib.rs
  code/crates/test/app/src/config.rs
Due: none

Improve doc comment
  code/crates/engine/src/consensus.rs
Due: engine

Track `consensus_height` in the sync state machine
  code/crates/engine/src/sync.rs
  code/crates/sync/src/handle.rs
  code/crates/sync/src/state.rs
Due: engine

Update sync queue metrics only once
  code/crates/engine/src/sync.rs
  code/crates/sync/src/metrics.rs
Due: engine

Group handler state into HandlerState struct
  code/crates/engine/src/sync.rs
Due: engine

Ignore unrelated flaky test
  code/crates/test/tests/it/equivocation.rs
Due: none

ci: Ignore flaky test until fixed
  code/crates/test/tests/it/equivocation.rs
Due: none
