Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

codecov.yml:

codecov:
  require_ci_to_pass: false

comment:
  layout: "header, diff, flags, components"

ignore:
  - "code/examples"
  - "code/crates/proto"
  - "code/crates/test/mempool"
  - "code/crates/test/proto"
  - "code/crates/test/cli"
  - "code/crates/signing-ed25519"
  - "code/crates/starknet/p2p-proto"
  - "code/crates/starknet/p2p-types"

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - "code/crates/core-consensus/**"
        - "code/crates/core-driver/**"
        - "code/crates/core-state-machine/**"
        - "code/crates/core-types/**"
        - "code/crates/core-votekeeper/**"
    - component_id: engine
      name: engine
      paths:
        - "code/crates/engine/**"
        - "code/crates/sync/**"
    - component_id: app
      name: app
      paths:
        - "code/crates/app/**"
        - "code/crates/app-channel/**"
    - component_id: starknet
      name: starknet
      paths:
        - "code/crates/starknet/**"

coverage:
  precision: 2
  round: nearest
  range: "50...90"

  status:
    project:
      default:
        target: auto
        threshold: 5%
        removed_code_behavior: adjust_base
        paths:
          - "code"
    patch:
      default:
        target: 0%
        threshold: 5%
        paths:
          - "code"

    changes:
      default:
        informational: true

fix(code): Process response to `AppMsg::StartedRound` synchronously (#1215)
  code/crates/app-channel/src/connector.rs
Due: app

Update code/crates/test/tests/it/value_sync.rs
  code/crates/test/tests/it/value_sync.rs
Due: none

Check that node with consensus disabled does not publish or receive any consensus message
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/util/events.rs
  code/crates/test/framework/src/lib.rs
  code/crates/test/framework/src/node.rs
Due: engine

Remove is_validator()
  code/crates/core-consensus/src/handle/driver.rs
  code/crates/core-consensus/src/state.rs
Due: core

Rename `config_customizer` to `config_modifier`
  code/crates/test/framework/src/lib.rs
  code/crates/test/framework/src/node.rs
  code/crates/test/tests/it/main.rs
Due: none

Add test infra to support per-node config and sync-only full node test
  code/crates/test/framework/src/lib.rs
  code/crates/test/framework/src/node.rs
  code/crates/test/framework/src/params.rs
  code/crates/test/tests/it/value_sync.rs
Due: none

Generic impl of `TestNode::with_consensus_disabled` for any config that implements `NodeConfig`
  code/crates/app/src/node.rs
  code/crates/starknet/host/src/config.rs
  code/crates/test/app/src/config.rs
  code/crates/test/framework/src/node.rs
  code/crates/test/tests/it/main.rs
  code/examples/channel/src/config.rs
Due: app, starknet

Add active validator filtering in consensus-core crate
  code/crates/app/src/spawn.rs
  code/crates/core-consensus/src/handle/driver.rs
  code/crates/core-consensus/src/handle/rebroadcast_timeout.rs
  code/crates/core-consensus/src/params.rs
  code/crates/core-consensus/src/state.rs
  code/crates/starknet/host/src/spawn.rs
Due: core, app, starknet

Allow nodes to run in sync-only mode without participating in consensus.
  code/crates/app/src/spawn.rs
  code/crates/config/src/lib.rs
  code/crates/engine/src/util/output_port.rs
  code/crates/network/src/behaviour.rs
  code/crates/network/src/lib.rs
  code/crates/network/test/src/lib.rs
  code/crates/starknet/host/src/node.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/starknet/test/src/lib.rs
  code/crates/test/app/config.toml
  code/crates/test/app/src/node.rs
  code/crates/test/tests/it/main.rs
  code/examples/channel/config.toml
  code/examples/channel/src/node.rs
Due: engine, app, starknet

Preserve existing modifier (if any) when adding a new one
  code/crates/test/framework/src/node.rs
Due: none

Cleanup
  code/crates/test/framework/src/node.rs
  code/crates/test/tests/it/value_sync.rs
Due: none

Correct comment
  code/crates/core-consensus/src/state.rs
Due: core

Fix host IP detection
  code/Makefile
Due: none

Enable persistent reconnection for bootstrap nodes with the existing Fibonacci backoff
  code/crates/discovery/src/handlers/dial.rs
Due: none

Add back test accidentaly removed in 5f971abb81ca238bf8c63f36b07af36500fb0d58
  code/crates/network/test/tests/discovery.rs
Due: none

Pass the wait time: make restart-validators T=<secs>
  code/Makefile
  code/makefile-scripts/restart-validator-nodes.sh
Due: none

fix(docs): fix rust code of conduct link in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Enable consensus by default
  code/crates/config/src/lib.rs
Due: none

Remove old script
  code/makefile-scripts/monitor-sockets.sh
Due: none

Cleanup
  code/crates/discovery/src/handlers/dial.rs
Due: none

Rename check socket script
  code/Makefile
  code/makefile-scripts/monitor-sockets.sh
Due: none

fix: Process reply to `AppMsg::Decided` asynchronously
  code/crates/app-channel/src/connector.rs
Due: app

Fix socats on nat gateway
  code/Makefile
  code/docker-compose-nat.yml
Due: none

Remove the mixed scenario
  code/Makefile
  code/docker-compose-mixed.yml
  code/makefile-scripts/setup-mixed-testnet.sh
Due: none

Move tesnet setups and scripts in debug-socket-leak
  code/Makefile
  code/docker-compose-multi-network.yml
  code/docker-compose-nat.yml
  code/docker-compose.yml
  code/makefile-scripts/monitor-sockets.sh
  code/makefile-scripts/restart-validator-nodes.sh
  code/multi-net-configs/node0-config.toml
  code/multi-net-configs/node1-config.toml
  code/multi-net-configs/node2-config.toml
  code/multi-net-configs/node3-config.toml
  code/nat-configs/node0-config.toml
  code/nat-configs/node1-config.toml
  code/nat-configs/node2-config.toml
  code/nat-configs/node3-config.toml
  code/single-net-configs/node0-config.toml
  code/single-net-configs/node1-config.toml
  code/single-net-configs/node2-config.toml
  code/single-net-configs/node3-config.toml
Due: none

Remove test scenario description
  code/TESTNET_SCENARIOS.md
Due: none

Re-enable validator set rotation in channel app
  code/examples/channel/src/state.rs
Due: none

feat(engine)!: move timeouts into consensus
  code/crates/config/src/lib.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/consensus/timeouts.rs
  code/crates/starknet/host/src/config.rs
  code/crates/starknet/host/src/node.rs
  code/crates/starknet/test/src/lib.rs
  code/crates/test/app/src/config.rs
  code/crates/test/app/src/node.rs
  code/crates/test/tests/it/main.rs
  code/examples/channel/src/config.rs
  code/examples/channel/src/node.rs
  docs/tutorials/channels.md
Due: engine, starknet

feat(core-types): make Timeouts core type
  code/Cargo.lock
  code/crates/app-channel/src/run.rs
  code/crates/app/src/spawn.rs
  code/crates/core-consensus/src/params.rs
  code/crates/core-types/src/lib.rs
  code/crates/core-types/src/timeouts.rs
  code/crates/engine/src/consensus.rs
  code/crates/starknet/host/src/node.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/starknet/p2p-types/Cargo.toml
  code/crates/test/app/src/node.rs
  code/examples/channel/src/node.rs
Due: core, engine, app, starknet

feat(code): Return proper error if consensus request fails
  code/Cargo.lock
  code/crates/app-channel/Cargo.toml
  code/crates/app-channel/src/lib.rs
  code/crates/app-channel/src/msgs.rs
Due: app

fix: Update example channel app
  code/examples/channel/src/app.rs
Due: none

feat(core-consensus): allow passing Option<Timeouts> as third param
  code/crates/app-channel/src/connector.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/core-consensus/src/handle.rs
  code/crates/core-consensus/src/handle/start_height.rs
  code/crates/core-consensus/src/input.rs
  code/crates/core-consensus/src/state.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/tests/it/basic.rs
  code/crates/core-driver/tests/it/extra.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/host.rs
  code/crates/starknet/host/src/actor.rs
  code/crates/starknet/host/src/host/starknet.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/test/app/src/app.rs
  code/examples/channel/src/app.rs
Due: core, engine, app, starknet

chore(docs): correct github link
  ARCHITECTURE.md
  docs/architecture/adr-003-values-propagation.md
  docs/testing/local.md
Due: none

Debug when appending to WAL
  code/crates/engine/src/consensus.rs
Due: engine

Show only WAL entry type in debug message
  code/crates/core-consensus/src/types.rs
  code/crates/engine/src/consensus.rs
Due: core, engine

Use entry height when possible
  code/crates/core-consensus/src/types.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/wal.rs
Due: core, engine

Remove erroneous check
  code/crates/engine/src/wal.rs
Due: engine

Add debug logs
  code/crates/engine/src/wal.rs
Due: engine

Cleanup
  code/crates/engine/src/wal.rs
Due: engine
