Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

quint spec: added incommingMessage state var
  code/crates/test/mbt/src/streaming.rs
  code/crates/test/mbt/src/tests/streaming.rs
  code/crates/test/mbt/src/tests/streaming/runner.rs
  specs/starknet/block-streaming/part_stream.qnt
Due: none

code: added incoming_message to the itf-parser
  code/crates/test/mbt/src/streaming.rs
Due: none

sleep added
  .github/workflows/qa.yml
Due: none

terraform
  .github/workflows/qa.yml
  terraform/main.tf
Due: none

terraform
  .github/workflows/qa.yml
Due: none

Fix bug in proposal generation where wed continuously reap from the mempool
  code/crates/starknet/host/src/host/proposal.rs
Due: starknet

Fix doc comments TODO
  code/crates/app-channel/src/msgs.rs
  code/crates/core-consensus/src/effect.rs
  code/crates/engine/src/host.rs
Due: core, engine, app

terraform
  terraform/main.tf
Due: none

chore(code): Move `SigningProvider` out of `Context`
  code/crates/app-channel/src/run.rs
  code/crates/app/src/node.rs
  code/crates/app/src/spawn.rs
  code/crates/core-consensus/tests/full_proposal.rs
  code/crates/core-driver/tests/it/basic.rs
  code/crates/core-driver/tests/it/extra.rs
  code/crates/core-types/src/context.rs
  code/crates/core-types/src/signing.rs
  code/crates/engine/src/consensus.rs
  code/crates/starknet/host/src/node.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/starknet/p2p-types/src/context.rs
  code/crates/test/src/context.rs
  code/crates/test/src/node.rs
  code/examples/channel/src/node.rs
  code/examples/channel/src/state.rs
Due: core, engine, app, starknet

Add `VerifyVoteExtension` effect, host and app messages
  code/crates/app-channel/src/connector.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/core-consensus/src/effect.rs
  code/crates/core-consensus/src/types.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/host.rs
  code/crates/starknet/host/src/actor.rs
  code/examples/channel/src/app.rs
Due: core, engine, app, starknet

Update Starknet protos to their latest version
  code/crates/starknet/p2p-proto/export-proto.sh
  code/crates/starknet/p2p-proto/proto/p2p/proto/capabilities.proto
  code/crates/starknet/p2p-proto/proto/p2p/proto/class.proto
  code/crates/starknet/p2p-proto/proto/p2p/proto/common.proto
  code/crates/starknet/p2p-proto/proto/p2p/proto/consensus.proto
  code/crates/starknet/p2p-proto/proto/p2p/proto/consensus/consensus.proto
  code/crates/starknet/p2p-proto/proto/p2p/proto/discovery.proto
  code/crates/starknet/p2p-proto/proto/p2p/proto/mempool.proto
  code/crates/starknet/p2p-proto/proto/p2p/proto/mempool/transaction.proto
  code/crates/starknet/p2p-proto/proto/p2p/proto/snapshot.proto
  code/crates/starknet/p2p-proto/proto/p2p/proto/streaming.proto
  code/crates/starknet/p2p-proto/proto/p2p/proto/sync/class.proto
  code/crates/starknet/p2p-proto/proto/p2p/proto/sync/common.proto
  code/crates/starknet/p2p-proto/proto/p2p/proto/sync/event.proto
  code/crates/starknet/p2p-proto/proto/p2p/proto/sync/header.proto
  code/crates/starknet/p2p-proto/proto/p2p/proto/sync/receipt.proto
  code/crates/starknet/p2p-proto/proto/p2p/proto/sync/state.proto
  code/crates/starknet/p2p-proto/proto/p2p/proto/sync/transaction.proto
  code/crates/starknet/p2p-proto/proto/p2p/proto/transaction.proto
Due: starknet

Adapt Starknet app to new protos
  code/crates/engine/src/util/streaming.rs
  code/crates/starknet/host/src/actor.rs
  code/crates/starknet/host/src/block_store.rs
  code/crates/starknet/host/src/codec.rs
  code/crates/starknet/host/src/host/proposal.rs
  code/crates/starknet/host/src/host/state.rs
  code/crates/starknet/host/src/mempool.rs
  code/crates/starknet/host/src/streaming.rs
  code/crates/starknet/p2p-proto/build.rs
  code/crates/starknet/p2p-proto/proto/p2p/proto/consensus/consensus.proto
  code/crates/starknet/p2p-proto/proto/sync.proto
  code/crates/starknet/p2p-types/src/block.rs
  code/crates/starknet/p2p-types/src/context/impls.rs
  code/crates/starknet/p2p-types/src/lib.rs
  code/crates/starknet/p2p-types/src/proposal.rs
  code/crates/starknet/p2p-types/src/proposal_part.rs
  code/crates/starknet/p2p-types/src/signing.rs
  code/crates/starknet/p2p-types/src/signing/provider.rs
  code/crates/starknet/p2p-types/src/streaming.rs
  code/crates/starknet/p2p-types/src/transaction.rs
  code/crates/starknet/p2p-types/src/vote.rs
  code/crates/test/proto/consensus.proto
  code/crates/test/src/codec/proto/mod.rs
  code/examples/channel/src/app.rs
  code/examples/channel/src/state.rs
  code/examples/channel/src/streaming.rs
Due: engine, starknet

Use height and round as stream id in example app
  code/examples/channel/src/state.rs
Due: none

Use `ConsensusStreamId` proto message for stream id in Starknet app
  code/crates/starknet/host/src/actor.rs
  code/crates/starknet/host/src/host/state.rs
Due: starknet

Fix formatting of stream ids
  code/crates/engine/src/util/streaming.rs
Due: engine

Path conditions:
  core: any of: code/crates/core-*/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  engine: any of: code/crates/engine/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  app: any of: code/crates/app/**, code/crates/app-*/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  starknet: any of: code/crates/starknet/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
