Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

Only request vote set from peer if `vote_sync_mode == RequestResponse`
  code/crates/core-consensus/src/effect.rs
  code/crates/core-consensus/src/handle/step_timeout.rs
  code/crates/engine/src/consensus.rs
  code/crates/test/tests/it/vote_sync_bcast.rs
Due: core, engine

Update VoteSync tests
  code/crates/test/tests/it/vote_sync.rs
  code/crates/test/tests/it/vote_sync_bcast.rs
Due: none

Add `VoteSyncMode` option to the core consensus parameters
  code/crates/app/src/spawn.rs
  code/crates/app/src/types.rs
  code/crates/config/src/lib.rs
  code/crates/core-consensus/src/handle/rebroadcast_timeout.rs
  code/crates/core-consensus/src/lib.rs
  code/crates/core-consensus/src/params.rs
  code/crates/engine/src/consensus.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/starknet/test/src/lib.rs
  code/crates/test/app/src/state.rs
  code/crates/test/cli/src/cmd/distributed_testnet.rs
  code/crates/test/cli/src/new.rs
  code/crates/test/framework/src/node.rs
  code/crates/test/framework/src/params.rs
  code/crates/test/tests/it/main.rs
Due: core, engine, app, starknet

Ensure `vote_sync` section is present in the config generated by `init` and `testnet` commands
  code/crates/config/src/lib.rs
  code/examples/channel/config.toml
  code/scripts/spawn-tmux.bash
Due: none

Fix test suite
  code/crates/starknet/host/src/spawn.rs
  code/crates/starknet/test/src/tests/vote_sync.rs
  code/crates/starknet/test/src/tests/vote_sync_bcast.rs
  code/crates/starknet/test/src/tests/wal.rs
  code/crates/test/tests/it/vote_sync.rs
Due: starknet

Remove leftover from original PR
  code/crates/app/src/spawn.rs
  code/crates/config/src/lib.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/test/app/src/state.rs
  code/crates/test/framework/src/node.rs
  code/crates/test/tests/it/main.rs
Due: app, starknet

Use initial height by default instead of hardcoding 1
  code/crates/test/framework/src/node.rs
Due: none

pass until Byzantine Proposers paragraph done
  specs/consensus/overview.md
Due: none

Fix duplicate tracing span in example app
  code/examples/channel/src/node.rs
Due: none

chore(code/starknet): Change signature scheme from ECDSA to Ed25519
  code/Cargo.lock
  code/crates/network/test/src/lib.rs
  code/crates/signing-ed25519/src/lib.rs
  code/crates/starknet/host/src/codec.rs
  code/crates/starknet/host/src/host/starknet.rs
  code/crates/starknet/host/src/node.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/starknet/p2p-types/Cargo.toml
  code/crates/starknet/p2p-types/src/address.rs
  code/crates/starknet/p2p-types/src/context.rs
  code/crates/starknet/p2p-types/src/lib.rs
  code/crates/starknet/p2p-types/src/signing.rs
  code/crates/starknet/p2p-types/src/signing/ecdsa.rs
  code/crates/starknet/test/src/lib.rs
Due: starknet

Fix MBT test
  code/crates/starknet/test/mbt/src/tests/streaming/utils.rs
Due: starknet

Remove dead code
  code/crates/starknet/host/src/spawn.rs
  code/crates/starknet/p2p-types/src/signing/ecdsa.rs
Due: starknet

pass until correctness
  specs/consensus/overview.md
Due: none

pass until protocol correctness
  specs/consensus/overview.md
Due: none

Rename `sync` config option to `value_sync`
  code/crates/app-channel/src/run.rs
  code/crates/app/src/spawn.rs
  code/crates/config/src/lib.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/starknet/test/src/lib.rs
  code/crates/test/cli/src/cmd/distributed_testnet.rs
  code/crates/test/cli/src/new.rs
  code/crates/test/tests/it/main.rs
  code/examples/channel/config.toml
Due: app, starknet

Rename `TestParams::enable_sync` to `TestParams::enable_value_sync`
  code/crates/starknet/test/src/lib.rs
  code/crates/starknet/test/src/tests/full_nodes.rs
  code/crates/starknet/test/src/tests/n3f0_pubsub_protocol.rs
  code/crates/starknet/test/src/tests/value_sync.rs
  code/crates/starknet/test/src/tests/vote_sync.rs
  code/crates/starknet/test/src/tests/vote_sync_bcast.rs
  code/crates/starknet/test/src/tests/wal.rs
  code/crates/test/framework/src/params.rs
  code/crates/test/tests/it/full_nodes.rs
  code/crates/test/tests/it/main.rs
  code/crates/test/tests/it/n3f0_pubsub_protocol.rs
  code/crates/test/tests/it/value_sync.rs
  code/crates/test/tests/it/vote_sync.rs
  code/crates/test/tests/it/vote_sync_bcast.rs
  code/crates/test/tests/it/wal.rs
Due: starknet

Spawn Sync actor if either `value_sync.config` is true or `consensus.vote_sync.mode` is `request-response`
  code/crates/app-channel/src/run.rs
  code/crates/app/src/spawn.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/test/framework/src/params.rs
Due: app, starknet

Update example config file
  code/examples/channel/config.toml
Due: none

feat(code): Applications now define their own configuration
  code/Cargo.lock
  code/crates/app-channel/src/connector.rs
  code/crates/app-channel/src/run.rs
  code/crates/app-channel/src/spawn.rs
  code/crates/app/src/lib.rs
  code/crates/app/src/node.rs
  code/crates/app/src/spawn.rs
  code/crates/app/src/types.rs
  code/crates/config/Cargo.toml
  code/crates/config/src/lib.rs
  code/crates/starknet/app/Cargo.toml
  code/crates/starknet/app/src/main.rs
  code/crates/starknet/host/Cargo.toml
  code/crates/starknet/host/src/config.rs
  code/crates/starknet/host/src/lib.rs
  code/crates/starknet/host/src/node.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/starknet/test/src/lib.rs
  code/crates/test/app/Cargo.toml
  code/crates/test/app/config.toml
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/config.rs
  code/crates/test/app/src/lib.rs
  code/crates/test/app/src/node.rs
  code/crates/test/app/src/state.rs
  code/crates/test/cli/Cargo.toml
  code/crates/test/cli/src/args.rs
  code/crates/test/cli/src/cmd/distributed_testnet.rs
  code/crates/test/cli/src/cmd/init.rs
  code/crates/test/cli/src/cmd/mod.rs
  code/crates/test/cli/src/cmd/testnet.rs
  code/crates/test/cli/src/file.rs
  code/crates/test/cli/src/new.rs
  code/crates/test/framework/src/lib.rs
  code/crates/test/framework/src/params.rs
  code/crates/test/tests/it/main.rs
  code/examples/channel/Cargo.toml
  code/examples/channel/src/config.rs
  code/examples/channel/src/main.rs
  code/examples/channel/src/node.rs
Due: app, starknet

Cleanup
  code/crates/app/src/node.rs
Due: app

full pass done
  specs/consensus/overview.md
Due: none

Ignore unuspported tests
  code/crates/test/tests/it/n3f0_consensus_mode.rs
  code/crates/test/tests/it/value_sync.rs
Due: none

Fix unit tests
  code/.cargo/config.toml
  code/crates/starknet/app/src/main.rs
  code/crates/starknet/host/src/node.rs
  code/crates/test/app/config.toml
  code/examples/channel/config.toml
Due: starknet

Fix init and testnet commands
  code/crates/starknet/app/src/main.rs
Due: starknet

Post-merge fixes
  code/crates/test/app/config.toml
Due: none

Override VoteSync mode from test params for Starknet test app
  code/crates/starknet/test/src/lib.rs
Due: starknet

Update VoteSync tests
  code/crates/starknet/test/src/tests/vote_sync.rs
  code/crates/test/tests/it/vote_sync.rs
  code/crates/test/tests/it/vote_sync_bcast.rs
Due: starknet

Re-instate `distributed-testnet` command for Starknet app
  code/crates/app-channel/src/run.rs
  code/crates/app/src/lib.rs
  code/crates/app/src/node.rs
  code/crates/core-types/src/signing.rs
  code/crates/starknet/app/src/main.rs
  code/crates/starknet/host/src/config.rs
  code/crates/starknet/host/src/node.rs
  code/crates/test/app/src/config.rs
  code/crates/test/app/src/node.rs
  code/crates/test/cli/src/args.rs
  code/crates/test/cli/src/cmd/distributed_testnet.rs
  code/crates/test/cli/src/cmd/init.rs
  code/crates/test/cli/src/cmd/mod.rs
  code/crates/test/cli/src/cmd/start.rs
  code/crates/test/cli/src/cmd/testnet.rs
  code/crates/test/cli/src/file.rs
  code/crates/test/cli/src/new.rs
  code/crates/test/framework/src/lib.rs
  code/crates/test/tests/it/main.rs
  code/examples/channel/src/config.rs
  code/examples/channel/src/main.rs
  code/examples/channel/src/node.rs
Due: core, app, starknet

Apply suggestions from code review
  specs/consensus/overview.md
Due: none

chore: Add detailed contributing informations
  CONTRIBUTING.md
  CONTRIBUTING_CODE.md
  code/.cargo/config.toml
  code/.config/nextest.toml
Due: none

Embed discovery config directly in `MakeConfigSettings`
  code/crates/app/src/node.rs
  code/crates/config/src/lib.rs
  code/crates/starknet/app/src/main.rs
  code/crates/starknet/host/src/node.rs
  code/crates/test/app/src/node.rs
  code/crates/test/cli/src/cmd/distributed_testnet.rs
  code/crates/test/cli/src/cmd/init.rs
  code/crates/test/cli/src/cmd/testnet.rs
  code/examples/channel/src/node.rs
Due: app, starknet

Cleanup
  code/crates/app/src/spawn.rs
Due: app

fix(code/network): Notify new subscrivers of listen addresses and connected peers
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/network.rs
Due: engine

chore(code/network): Switch back to using ractor's `OutputPort` facility
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/network.rs
Due: engine

fix(code/engine): Use custom version of `OutputPort` with configurable capacity
  code/crates/engine/src/network.rs
  code/crates/engine/src/util/mod.rs
  code/crates/engine/src/util/output_port.rs
  code/crates/engine/src/util/timers.rs
Due: engine

Change test app to always propose different values at different (height, round)
  code/crates/test/app/src/state.rs
Due: none

Cleanup test
  code/crates/test/tests/it/wal.rs
Due: none

Equivocate proposal if configured as byzantine
  code/crates/test/app/src/app.rs
Due: none

Temp change to allow test app to replay seen values if non-proposer
  code/crates/app-channel/src/connector.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/test/app/src/app.rs
  code/crates/test/src/context.rs
  code/examples/channel/src/app.rs
Due: app

Fix compilation error
  code/crates/starknet/host/src/codec.rs
Due: starknet

Path conditions:
  core: any of: code/crates/core-*/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  engine: any of: code/crates/engine/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  app: any of: code/crates/app/**, code/crates/app-*/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  starknet: any of: code/crates/starknet/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
