Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

Add `max_parallel_requests` state method
  code/crates/sync/src/handle.rs
  code/crates/sync/src/state.rs
Due: engine

Re-request range from any peer, not necessarily the same one
  code/crates/sync/src/handle.rs
Due: engine

get the value size from the network codec
  code/crates/engine/src/network.rs
  code/crates/engine/src/sync.rs
Due: engine

introduce warnings when pushing to a bounded queue
  code/crates/core-consensus/src/util/bounded_queue.rs
Due: core

fix formatting issues
  code/crates/core-consensus/src/util/bounded_queue.rs
  code/crates/engine/src/network.rs
  code/crates/engine/src/sync.rs
  code/crates/test/tests/it/value_sync.rs
Due: core, engine

remove parallel-requests check and add test
  code/crates/sync/src/handle.rs
  code/crates/test/tests/it/value_sync.rs
Due: engine

add a defensive check if peer ids do not match
  code/crates/sync/src/handle.rs
Due: engine

take into account breaking-early comment
  code/crates/engine/src/sync.rs
Due: engine

add rpc_max_size config in tests
  code/crates/test/framework/src/params.rs
  code/crates/test/tests/it/value_sync.rs
Due: none

fix issue with potentially multiple parallel requests
  code/crates/engine/src/consensus.rs
Due: engine

clean up process_sync_response based on Hernan's comment
  code/crates/engine/src/consensus.rs
Due: engine

remove unused method
  code/crates/proto/src/lib.rs
Due: none

do not encode the data to compute the encoded length
  code/crates/app-channel/src/run.rs
  code/crates/app-channel/src/spawn.rs
  code/crates/app/src/spawn.rs
  code/crates/app/src/types.rs
  code/crates/codec/src/lib.rs
  code/crates/engine/src/network.rs
  code/crates/proto/src/lib.rs
  code/crates/starknet/host/src/codec.rs
  code/crates/test/Cargo.toml
  code/crates/test/src/codec/json/mod.rs
  code/crates/test/src/codec/proto/mod.rs
Due: engine, app, starknet

refactor: Remove `GetResponseSize` message, use sync codec directly
  code/crates/app-channel/src/run.rs
  code/crates/app/src/spawn.rs
  code/crates/engine/src/network.rs
  code/crates/engine/src/sync.rs
  code/crates/starknet/host/src/spawn.rs
Due: engine, app, starknet

log in case of re-requesting partial ranges
  code/crates/sync/src/handle.rs
Due: engine

chore: Fix typo
  code/crates/core-consensus/src/effect.rs
Due: core

chore: Fix formatting
  code/crates/app-channel/src/spawn.rs
  code/crates/app/src/spawn.rs
Due: app

chore: Remove redundant trait bound
  code/crates/app-channel/src/spawn.rs
  code/crates/app/src/spawn.rs
Due: app

chore: Fix formatting
  code/crates/app-channel/src/run.rs
  code/crates/engine/src/network.rs
  code/crates/engine/src/sync.rs
  code/crates/test/src/codec/json/mod.rs
  code/crates/test/tests/it/value_sync.rs
Due: engine, app

chore: Cleanup
  code/crates/engine/src/sync.rs
Due: engine

fix: Post-rebase fix
  code/crates/sync/src/handle.rs
Due: engine

chore: Apply suggestions from AI code review
  code/crates/test/tests/it/value_sync.rs
Due: none

fix: Prevent panic on bad inputs
  code/crates/sync/src/handle.rs
Due: engine

height_updates
  BREAKING_CHANGES.md
  code/crates/app-channel/src/connector.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/core-consensus/src/handle.rs
  code/crates/core-consensus/src/handle/start_height.rs
  code/crates/core-consensus/src/input.rs
  code/crates/core-consensus/src/state.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-types/src/height_updates.rs
  code/crates/core-types/src/lib.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/host.rs
  code/crates/starknet/host/src/actor.rs
  code/crates/test/app/src/app.rs
  code/examples/channel/src/app.rs
Due: core, engine, app, starknet

fix typo
  code/crates/core-consensus/src/effect.rs
Due: core

update RELEASE_NOTES
  RELEASE_NOTES.md
Due: none

update code comments
  code/Cargo.lock
  code/crates/app-channel/src/msgs.rs
  code/crates/core-consensus/src/input.rs
  code/crates/core-consensus/src/state.rs
  code/crates/core-driver/src/driver.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/host.rs
  code/crates/starknet/p2p-types/Cargo.toml
Due: core, engine, app

add tests
  code/crates/core-driver/tests/it/height_updates.rs
  code/crates/core-driver/tests/it/main.rs
Due: core

format code
  code/crates/core-driver/tests/it/height_updates.rs
Due: core

fluent interface
  code/crates/core-driver/tests/it/height_updates.rs
  code/crates/core-types/src/height_updates.rs
Due: core

use fluent interface
  code/crates/core-driver/tests/it/height_updates.rs
Due: core

rip timeouts from driver
  code/crates/core-consensus/src/effect.rs
  code/crates/core-consensus/src/handle/start_height.rs
  code/crates/core-consensus/src/state.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/tests/it/basic.rs
  code/crates/core-driver/tests/it/extra.rs
  code/crates/core-driver/tests/it/height_updates.rs
  code/crates/engine/src/consensus.rs
Due: core, engine

update BREAKING_CHANGES
  BREAKING_CHANGES.md
Due: none

add tests
  code/crates/core-consensus/tests/timeouts.rs
Due: core

refactor code
  code/examples/channel/src/app.rs
Due: none

Remove timeouts from core-consensus state (#1)
  code/crates/core-consensus/src/handle.rs
  code/crates/core-consensus/src/handle/start_height.rs
  code/crates/core-consensus/src/input.rs
  code/crates/core-consensus/src/state.rs
  code/crates/core-consensus/tests/timeouts.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/tests/it/height_updates.rs
  code/crates/core-types/src/timeouts.rs
  code/crates/engine/src/consensus.rs
Due: core, engine

update BREAKING_CHANGES
  BREAKING_CHANGES.md
  code/crates/core-types/src/timeouts.rs
Due: core

add missing breaking changes
  BREAKING_CHANGES.md
Due: none

create host crate
  code/Cargo.lock
  code/Cargo.toml
  code/crates/engine/Cargo.toml
  code/crates/engine/src/host.rs
  code/crates/engine/src/util/streaming.rs
  code/crates/host/Cargo.toml
  code/crates/host/src/host.rs
  code/crates/host/src/lib.rs
  code/crates/host/src/streaming.rs
Due: engine

move borsh serialization to host crate
  code/crates/engine/src/lib.rs
  code/crates/host/src/lib.rs
  code/crates/host/src/ser.rs
  code/crates/host/src/ser/borsh.rs
Due: engine

Path conditions:
  core: any of: code/crates/core-consensus/**, code/crates/core-driver/**, code/crates/core-state-machine/**, code/crates/core-types/**, code/crates/core-votekeeper/**, but not: code/examples, code/crates/proto, code/crates/test/mempool, code/crates/test/proto, code/crates/test/cli, code/crates/signing-ed25519, code/crates/starknet/p2p-proto, code/crates/starknet/p2p-types
  engine: any of: code/crates/engine/**, code/crates/sync/**, but not: code/examples, code/crates/proto, code/crates/test/mempool, code/crates/test/proto, code/crates/test/cli, code/crates/signing-ed25519, code/crates/starknet/p2p-proto, code/crates/starknet/p2p-types
  app: any of: code/crates/app/**, code/crates/app-channel/**, but not: code/examples, code/crates/proto, code/crates/test/mempool, code/crates/test/proto, code/crates/test/cli, code/crates/signing-ed25519, code/crates/starknet/p2p-proto, code/crates/starknet/p2p-types
  starknet: any of: code/crates/starknet/**, but not: code/examples, code/crates/proto, code/crates/test/mempool, code/crates/test/proto, code/crates/test/cli, code/crates/signing-ed25519, code/crates/starknet/p2p-proto, code/crates/starknet/p2p-types
