Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

codecov.yml:

codecov:
  require_ci_to_pass: false

comment:
  layout: "header, diff, flags, components"

ignore:
  - "code/examples"
  - "code/crates/proto"
  - "code/crates/test/mempool"
  - "code/crates/test/proto"
  - "code/crates/test/cli"
  - "code/crates/signing-ed25519"
  - "code/crates/starknet/p2p-proto"
  - "code/crates/starknet/p2p-types"

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - "code/crates/core-consensus/**"
        - "code/crates/core-driver/**"
        - "code/crates/core-state-machine/**"
        - "code/crates/core-types/**"
        - "code/crates/core-votekeeper/**"
    - component_id: engine
      name: engine
      paths:
        - "code/crates/engine/**"
        - "code/crates/sync/**"
    - component_id: app
      name: app
      paths:
        - "code/crates/app/**"
        - "code/crates/app-channel/**"
    - component_id: starknet
      name: starknet
      paths:
        - "code/crates/starknet/**"

coverage:
  precision: 2
  round: nearest
  range: "50...90"

  status:
    project:
      default:
        target: auto
        threshold: 5%
        removed_code_behavior: adjust_base
        paths:
          - "code"
    patch:
      default:
        target: 0%
        threshold: 5%
        paths:
          - "code"

    changes:
      default:
        informational: true

Apply suggestions from code review
  BREAKING_CHANGES.md
  code/crates/core-types/src/validator_proof.rs
  code/crates/network/src/state.rs
  code/crates/network/src/validator_proof/README.md
  code/crates/signing/src/ext.rs
Due: core

Apply suggestions from code review
  code/crates/test/tests/it/equivocation.rs
Due: none

Replace connections/proofs_sent tracking with libp2p's built-in connection counters
  code/crates/network/src/lib.rs
  code/crates/network/src/state.rs
  code/crates/network/src/validator_proof/README.md
  code/crates/network/src/validator_proof/behaviour.rs
  code/crates/network/src/validator_proof/mod.rs
  code/crates/signing/src/ext.rs
Due: none

Fix description of proof_bytes
  code/crates/network/src/validator_proof/README.md
Due: none

Add test for proof arriving before Identify completes
  code/crates/network/src/state.rs
Due: none

fix(CCHAIN-1176): Change equivocation tests' logic so they aren't flaky on CI (#1510)
  code/crates/test/framework/src/lib.rs
  code/crates/test/framework/src/node.rs
  code/crates/test/tests/it/equivocation.rs
  code/crates/test/tests/it/middlewares.rs
Due: none

Apply suggestions from code review
  code/crates/signing/src/ext.rs
Due: none

feat(CCHAIN-740): Implement validator proof protocol per ADR-006 (#1450)
  BREAKING_CHANGES.md
  code/Cargo.lock
  code/Cargo.toml
  code/crates/app-channel/src/builder.rs
  code/crates/app-channel/src/run.rs
  code/crates/app/src/spawn.rs
  code/crates/config/src/lib.rs
  code/crates/core-types/src/lib.rs
  code/crates/core-types/src/signing.rs
  code/crates/core-types/src/validator_proof.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/network.rs
  code/crates/network/Cargo.toml
  code/crates/network/src/behaviour.rs
  code/crates/network/src/handle.rs
  code/crates/network/src/lib.rs
  code/crates/network/src/metrics.rs
  code/crates/network/src/state.rs
  code/crates/network/src/utils.rs
  code/crates/network/src/validator_proof/README.md
  code/crates/network/src/validator_proof/behaviour.rs
  code/crates/network/src/validator_proof/codec.rs
  code/crates/network/src/validator_proof/mod.rs
  code/crates/network/src/validator_proof/protocol.rs
  code/crates/network/src/validator_proof/types.rs
  code/crates/signing-ecdsa/src/lib.rs
  code/crates/signing-ed25519/src/lib.rs
  code/crates/signing/src/ext.rs
  code/crates/starknet/host/src/codec.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/starknet/p2p-proto/proto/p2p/proto/consensus/consensus.proto
  code/crates/test/app/src/node.rs
  code/crates/test/proto/consensus.proto
  code/crates/test/src/codec/json/mod.rs
  code/crates/test/src/codec/json/raw.rs
  code/crates/test/src/codec/proto/mod.rs
  code/examples/channel/src/node.rs
  docs/architecture/adr-006-proof-of-validator.md
Due: core, engine, app, starknet

test: Add more polka/commit certificate verification tests (#1490)
  code/crates/test/tests/unit/certificates/commit.rs
  code/crates/test/tests/unit/certificates/mod.rs
  code/crates/test/tests/unit/certificates/polka.rs
  code/crates/test/tests/unit/certificates/round.rs
Due: none

Add `ReceivedProposal` host message for `proposal-only` mode
  code/crates/app-channel/src/connector.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/config/src/lib.rs
  code/crates/core-consensus/src/handle/proposal.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/host.rs
  code/crates/starknet/host/src/actor.rs
  code/crates/test/app/src/app.rs
  code/examples/channel/src/app.rs
Due: core, engine, app, starknet

Remove outdated TODOs
  code/examples/channel/src/app.rs
Due: none

Always forward proposal to host unless we are in parts-only mode
  code/crates/engine/src/consensus.rs
Due: engine

Only expect ProposedValue response when the app runs in `proposal-only` mode
  code/crates/app-channel/src/connector.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/host.rs
  code/examples/channel/src/app.rs
Due: engine, app

Cleanup
  code/crates/engine/src/consensus.rs
Due: engine

Use cast instead of call_and_forward in ProposalAndParts mode
  BREAKING_CHANGES.md
  code/crates/engine/src/consensus.rs
  docs/architecture/adr-003-values-propagation.md
Due: engine

Fix test app to log Proposal message
  code/crates/test/app/src/app.rs
Due: none

Cleanup
  code/crates/test/app/src/app.rs
  code/examples/channel/src/app.rs
Due: none

Add release notes
  RELEASE_NOTES.md
Due: none

Update comments
  code/crates/app-channel/src/msgs.rs
  code/crates/engine/src/host.rs
Due: engine, app

Fix round certificate storage and SkipRound fallback for future rounds (#6)
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/src/mux.rs
  code/crates/core-driver/tests/it/extra.rs
Due: core

fix(driver): decide in a future round upon `PrecommitValue(v)` vote keeper output (#1483)
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/src/mux.rs
  code/crates/core-driver/tests/it/extra.rs
  code/crates/core-votekeeper/src/keeper.rs
  code/crates/core-votekeeper/tests/vote_keeper.rs
Due: core

upd SECURITY.md with clear scope
  SECURITY.md
Due: none

feat(signing-ed25519): implement Zeroize for PrivateKey
  code/Cargo.lock
  code/Cargo.toml
  code/crates/signing-ed25519/Cargo.toml
  code/crates/signing-ed25519/src/lib.rs
Due: none

fix(CCHAIN-1319): Broadcast sync status eagerly on peer connect and on decision
  code/crates/engine/src/sync.rs
  code/crates/test/tests/it/value_sync.rs
  code/crates/test/tests/it/vote_rebroadcast.rs
Due: engine

fix(CCHAIN-1319): Broadcast sync status eagerly on peer connect and on decision (#1536)
  code/crates/engine/src/sync.rs
  code/crates/test/tests/it/value_sync.rs
  code/crates/test/tests/it/vote_rebroadcast.rs
Due: engine

chore(docs): update SECURITY.md with clear scope (#1532)
  SECURITY.md
Due: none

feat(engine): derive `Hash` on `StreamId`
  code/crates/engine/src/util/streaming.rs
Due: engine

feat(CCHAIN-1378): implement Zeroize for PrivateKey (#147)
  code/Cargo.lock
  code/Cargo.toml
  code/crates/signing-ed25519/Cargo.toml
  code/crates/signing-ed25519/src/lib.rs
Due: none

chore: Register additional_precommits in metrics (#148)
  code/crates/metrics/src/metrics.rs
Due: none

feat(CCHAIN-1378): implement Zeroize for PrivateKey (#1540)
  code/Cargo.lock
  code/Cargo.toml
  code/crates/signing-ed25519/Cargo.toml
  code/crates/signing-ed25519/src/lib.rs
Due: none

test(sync): add handler-level test for non-contiguous response rejection
  code/crates/sync/src/handle.rs
Due: engine

fix(sync): reject sync responses with non-contiguous heights
  code/crates/sync/src/handle.rs
Due: engine

chore: add release note for sync contiguity validation
  RELEASE_NOTES.md
Due: none

chore: Register `additional_precommits` in metrics (#1539)
  code/crates/metrics/src/metrics.rs
Due: none

feat(engine): derive `Hash` on `StreamId` (#1538)
  code/crates/engine/src/util/streaming.rs
Due: engine

test(sync): add test demonstrating non-contiguous response is accepted
  code/crates/sync/src/handle.rs
Due: engine

fix(sync): reject sync responses with non-contiguous heights
  RELEASE_NOTES.md
  code/crates/sync/src/handle.rs
Due: engine

refactor(sync): use process! macro in handler test
  code/crates/sync/src/handle.rs
Due: engine

fix(starknet-p2p-types): return error for invalid address public key bytes
  code/crates/signing-ed25519/src/lib.rs
  code/crates/starknet/p2p-types/src/address.rs
Due: none

fix(discovery): replace panics in config validation with typed errors
  code/crates/discovery/src/config.rs
  code/crates/discovery/src/handlers/selection/selector.rs
  code/crates/discovery/src/lib.rs
  code/crates/network/src/lib.rs
  code/crates/network/src/state.rs
Due: none
