Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

codecov.yml:

codecov:
  require_ci_to_pass: false

comment:
  layout: "header, diff, flags, components"

ignore:
  - "code/examples"
  - "code/crates/proto"
  - "code/crates/test/mempool"
  - "code/crates/test/proto"
  - "code/crates/test/cli"
  - "code/crates/signing-ed25519"
  - "code/crates/starknet/p2p-proto"
  - "code/crates/starknet/p2p-types"

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - "code/crates/core-consensus/**"
        - "code/crates/core-driver/**"
        - "code/crates/core-state-machine/**"
        - "code/crates/core-types/**"
        - "code/crates/core-votekeeper/**"
    - component_id: engine
      name: engine
      paths:
        - "code/crates/engine/**"
        - "code/crates/sync/**"
    - component_id: app
      name: app
      paths:
        - "code/crates/app/**"
        - "code/crates/app-channel/**"
    - component_id: starknet
      name: starknet
      paths:
        - "code/crates/starknet/**"

coverage:
  precision: 2
  round: nearest
  range: "50...90"

  status:
    project:
      default:
        target: auto
        threshold: 5%
        removed_code_behavior: adjust_base
        paths:
          - "code"
    patch:
      default:
        target: 0%
        threshold: 5%
        paths:
          - "code"

    changes:
      default:
        informational: true

Fix type inference problems with EngineBuilder
  code/crates/app-channel/src/builder.rs
Due: app

Use EngineBuilder in test app to ensure compilation works
  code/crates/test/app/src/node.rs
Due: none

Custom builders do not need to specify a codec
  code/crates/app-channel/src/builder.rs
  code/crates/test/app/src/node.rs
Due: app

docs: add Go version compatibility table
  README.md
Due: none

docs: create exit codes reference guide
  docs/EXIT_CODES.md
Due: none

Add compilation test for custom components
  code/crates/app-channel/src/builder.rs
Due: app

style: improve contributing guide header
  CONTRIBUTING.md
Due: none

Make NoCodec public
  code/crates/app-channel/src/builder.rs
Due: app

Hide explicit builders behind convenience methods
  code/crates/app-channel/src/builder.rs
  code/crates/app-channel/src/run.rs
  code/crates/test/app/src/node.rs
Due: app

Add more compilation tests
  code/crates/app-channel/src/builder.rs
Due: app

ci: Switch from custom hosted runners to `ubuntu-latest`
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/links.yml
  .github/workflows/mbt.yml
  .github/workflows/need-triage-label.yml
  .github/workflows/pr-gate.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/quint.yml
  .github/workflows/rust.yml
  .github/workflows/semver.yml
  .github/workflows/todo-tracking.yml
  .github/workflows/typos.yml
Due: none

Add configuration flags for different network params to help debugging
  code/crates/app/src/spawn.rs
  code/crates/config/src/lib.rs
  code/crates/network/src/behaviour.rs
  code/crates/network/src/lib.rs
  code/crates/network/src/peer_scoring.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/test/app/config.toml
  code/examples/channel/config.toml
  code/examples/channel/src/node.rs
Due: app, starknet

Upgrade libp2p-gossipsub to 0.49.2 to be able to create mesh with degree 0, skip adjust
  code/Cargo.lock
  code/Cargo.toml
  code/crates/config/src/lib.rs
  code/crates/config/src/utils.rs
  code/examples/channel/src/node.rs
  code/examples/channel/src/state.rs
Due: none

Fixes after branch port
  code/crates/config/src/lib.rs
  code/crates/network/src/lib.rs
  code/examples/channel/src/state.rs
Due: none

Late precommits: add new Step to gather them
  code/crates/app-channel/src/connector.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/core-consensus/src/effect.rs
  code/crates/core-consensus/src/handle.rs
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/core-consensus/src/handle/driver.rs
  code/crates/core-consensus/src/handle/finalize.rs
  code/crates/core-consensus/src/handle/start_height.rs
  code/crates/core-consensus/src/handle/timeout.rs
  code/crates/core-consensus/src/handle/vote.rs
  code/crates/core-consensus/src/input.rs
  code/crates/core-consensus/src/state.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/src/input.rs
  code/crates/core-state-machine/src/input.rs
  code/crates/core-state-machine/src/state.rs
  code/crates/core-state-machine/src/state_machine.rs
  code/crates/core-types/src/height_params.rs
  code/crates/core-types/src/timeout.rs
  code/crates/core-types/src/timeouts.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/host.rs
  code/crates/engine/src/util/events.rs
  code/crates/engine/src/wal/entry.rs
  code/crates/starknet/host/src/actor.rs
  code/crates/test/app/src/app.rs
  code/crates/test/framework/src/params.rs
  code/examples/channel/src/app.rs
Due: core, engine, app, starknet

Added metric + tests
  code/Cargo.lock
  code/Cargo.toml
  code/crates/config/src/lib.rs
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/core-consensus/src/handle/vote.rs
  code/crates/core-driver/tests/it/basic.rs
  code/crates/core-driver/tests/it/finalize.rs
  code/crates/core-driver/tests/it/main.rs
  code/crates/metrics/src/metrics.rs
  code/crates/test/Cargo.toml
  code/crates/test/app/src/app.rs
  code/crates/test/framework/src/node.rs
  code/crates/test/framework/src/params.rs
  code/crates/test/tests/it/finalization.rs
  code/crates/test/tests/it/main.rs
  code/crates/test/tests/unit/certificates/commit.rs
Due: core

one more test
  code/crates/core-driver/tests/it/basic.rs
Due: core

Fix test
  code/Cargo.lock
  code/crates/config/src/lib.rs
Due: none

Fix cargo check --no-default-features
  code/crates/core-driver/src/proposal_keeper.rs
Due: core

Fix clippy warnings
  code/crates/test/tests/it/equivocation.rs
Due: none

Fix clippy and cargo check
  code/crates/core-driver/src/proposal_keeper.rs
  code/crates/test/tests/it/equivocation.rs
Due: core

Formatting
  code/crates/app-channel/src/builder.rs
  code/crates/app/src/spawn.rs
Due: app

docs: ADR on WAL, removing for reviewers comments
  docs/architecture/adr-007-write-ahead-log.md
Due: none

docs: ADR on WAL, new issue linked for certificates
  docs/architecture/adr-007-write-ahead-log.md
Due: none

Modify test app so Sync sees certificate while waiting for late precommits
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/state.rs
Due: none

Minor stuff
  code/crates/app-channel/src/connector.rs
  code/crates/core-consensus/src/handle/timeout.rs
Due: core, app

Apply suggestions from code review
  docs/architecture/adr-006-proof-of-validator.md
Due: none

resolving comments
  docs/architecture/adr-006-proof-of-validator.md
  docs/architecture/readme.md
Due: none

Apply suggestions from @nenadmilosevic95
  docs/architecture/adr-007-write-ahead-log.md
Due: none

Implement validator proof protocol per ADR-006
  BREAKING_CHANGES.md
  code/Cargo.lock
  code/Cargo.toml
  code/crates/app-channel/src/run.rs
  code/crates/core-driver/src/proposal_keeper.rs
  code/crates/core-types/src/lib.rs
  code/crates/core-types/src/signing.rs
  code/crates/core-types/src/validator_proof.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/network.rs
  code/crates/network/Cargo.toml
  code/crates/network/src/behaviour.rs
  code/crates/network/src/handle.rs
  code/crates/network/src/lib.rs
  code/crates/network/src/metrics.rs
  code/crates/network/src/state.rs
  code/crates/network/src/utils.rs
  code/crates/network/src/validator_proof/README.md
  code/crates/network/src/validator_proof/behaviour.rs
  code/crates/network/src/validator_proof/codec.rs
  code/crates/network/src/validator_proof/mod.rs
  code/crates/network/src/validator_proof/protocol.rs
  code/crates/network/src/validator_proof/types.rs
  code/crates/signing-ecdsa/src/lib.rs
  code/crates/signing-ed25519/src/lib.rs
  code/crates/signing/src/ext.rs
  code/crates/starknet/host/src/codec.rs
  code/crates/starknet/p2p-proto/proto/p2p/proto/consensus/consensus.proto
  code/crates/test/app/src/node.rs
  code/crates/test/proto/consensus.proto
  code/crates/test/src/codec/json/mod.rs
  code/crates/test/src/codec/json/raw.rs
  code/crates/test/src/codec/proto/mod.rs
  code/crates/test/tests/it/equivocation.rs
  code/examples/channel/src/node.rs
Due: core, engine, app, starknet

Addressing comments from @nenadmilosevic95
  docs/architecture/adr-007-write-ahead-log.md
Due: none

Addressing a comment from @nenadmilosevic95
  docs/architecture/adr-007-write-ahead-log.md
Due: none

docs: ADR on WAL, final version?
  docs/architecture/adr-007-write-ahead-log.md
Due: none

fix: Replace the latency “cliff” in EMA scoring with a continuous curve
  code/crates/sync/src/scoring.rs
  code/crates/sync/src/scoring/ema.rs
Due: engine

Apply suggestions from code review
  code/crates/core-consensus/src/effect.rs
  code/crates/core-consensus/src/handle/decide.rs
Due: core

Addressed some comments
  code/crates/app-channel/src/connector.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/core-consensus/src/error.rs
  code/crates/core-consensus/src/handle.rs
  code/crates/core-consensus/src/handle/timeout.rs
  code/crates/core-consensus/src/handle/vote.rs
  code/crates/engine/src/host.rs
Due: core, engine, app

fix(test): Fix `equivocation_two_vals_same_pk` integration test being flaky
  code/crates/test/tests/it/equivocation.rs
Due: none

late --> additional
  code/crates/app-channel/src/msgs.rs
  code/crates/core-consensus/src/handle/vote.rs
  code/crates/engine/src/host.rs
  code/crates/metrics/src/metrics.rs
Due: core, engine, app

Removed reply from `Decided`; `Finalized` always sent
  code/crates/app-channel/src/connector.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/core-consensus/src/effect.rs
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/host.rs
  code/crates/starknet/host/src/actor.rs
  code/crates/test/app/src/app.rs
  code/crates/test/tests/it/finalization.rs
  code/examples/channel/src/app.rs
Due: core, engine, app, starknet

docs: ADR's README file renamed
  docs/architecture/README.md
Due: none
