Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

Add release notes and breaking changes entries
  BREAKING_CHANGES.md
  RELEASE_NOTES.md
Due: none

move timeout firing into state machine
  specs/consensus/quint/driver.qnt
  specs/consensus/quint/statemachineAsync.qnt
  specs/consensus/quint/tests/decideForPastRound/decideForPastRoundrun.qnt
  specs/consensus/quint/tests/line26/line26Test.qnt
  specs/consensus/quint/tests/line26/line26run.qnt
  specs/consensus/quint/tests/line42/line42run.qnt
Due: none

32 partially fixed
  specs/consensus/quint/tests/line32/line32run.qnt
Due: none

chore(ci/semver): Add `cargo-semver-checks` action
  .github/workflows/semver.yml
Due: none

Bump version to v0.1.1-pre
  .github/workflows/semver.yml
  code/Cargo.toml
Due: none

Update Cargo.lock
  code/Cargo.lock
Due: none

Change some logs from trace to debug
  code/crates/starknet/host/src/host/proposal.rs
Due: starknet

Change mempool load generator to send txes directly to the mempool instead of the network
  code/crates/starknet/host/src/mempool.rs
  code/crates/starknet/host/src/mempool_load.rs
  code/crates/starknet/host/src/spawn.rs
Due: starknet

Fix potential underflow
  code/crates/metrics/src/metrics.rs
Due: none

Fix block generation logic
  code/crates/starknet/host/src/host/proposal.rs
Due: starknet

Update specs/consensus/quint/statemachineAsync.qnt
  specs/consensus/quint/statemachineAsync.qnt
Due: none

addressing Daniel's comments
  specs/consensus/quint/driver.qnt
Due: none

polish
  specs/consensus/quint/statemachineAsync.qnt
Due: none

Disable mempool gossip in tests
  code/crates/starknet/test/src/lib.rs
Due: starknet

Use stable block times for test suite
  code/crates/config/src/lib.rs
  code/crates/starknet/host/src/host/proposal.rs
  code/crates/starknet/host/src/host/starknet.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/starknet/test/src/lib.rs
  code/crates/test/framework/src/params.rs
  code/scripts/spawn-tmux.bash
Due: starknet

Cleanup
  code/crates/config/src/lib.rs
Due: none

Only show "simulating execution" log when `exec_time_per_tx` is non-zero
  code/crates/starknet/host/src/host/state.rs
Due: starknet

Update spawn-tmux.bash
  code/scripts/spawn-tmux.bash
Due: none

Remove decided_sent guard from consensus state
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/core-consensus/src/state.rs
Due: core

Do not re-gossip tx batches we got from the network
  code/crates/starknet/host/src/mempool.rs
Due: starknet

Bump version to v0.2.0-pre
  code/Cargo.lock
  code/Cargo.toml
Due: none

Post comment in PR when it introduces a violation
  .github/workflows/semver.yml
Due: none

Revert version bump to test PR comment
  code/Cargo.lock
  code/Cargo.toml
Due: none

Fix workflow
  .github/workflows/semver.yml
Due: none

Fail whole workflow if check failed
  .github/workflows/semver.yml
Due: none

Update PR comment text
  .github/workflows/semver.yml
Due: none

Cleanup
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/state.rs
  code/crates/test/app/src/store.rs
  code/examples/channel/src/state.rs
  code/examples/channel/src/store.rs
Due: none

Run cargo-semver-checks binary
  .github/workflows/semver.yml
Due: none

set execution time to 0
  qa/terraform/templates/commands.tmpl
Due: none

do not run qa
  .github/workflows/qa.yml
Due: none

Fix workflow again
  .github/workflows/semver.yml
Due: none

Update comment instead of creating new one
  .github/workflows/semver.yml
Due: none

Cleanup
  .github/workflows/semver.yml
Due: none

hiddentest
  specs/consensus/quint/TendermintDSL.qnt
  specs/consensus/quint/driver.qnt
  specs/consensus/quint/tests/hiddenlock/hiddenLockrun.qnt
Due: none

Add semver cache
  .github/workflows/semver.yml
Due: none

line 26
  specs/consensus/quint/tests/line26/line26run.qnt
Due: none

Always save Rustdoc cache
  .github/workflows/semver.yml
Due: none

feat: rotate + epochs validator set, happy path test
  code/crates/test/Cargo.toml
  code/crates/test/app/src/app.rs
  code/crates/test/src/middleware.rs
  code/crates/test/src/validator_set.rs
  code/crates/test/tests/it/main.rs
  code/crates/test/tests/it/validator_set.rs
Due: none

Path conditions:
  core: any of: code/crates/core-*/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  engine: any of: code/crates/engine/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  app: any of: code/crates/app/**, code/crates/app-*/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  starknet: any of: code/crates/starknet/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
