Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

doc: applied @ancazamfir suggestion
  docs/tutorials/channels.md
Due: none

fix: len-without-is-empty clippy error
  code/crates/test/src/validator_set.rs
Due: none

north-america experiment n=4
  .github/workflows/qa.yml
Due: none

global experiment n=20
  .github/workflows/qa.yml
Due: none

change node naming
  qa/viewer/config-prometheus/prometheus.yml
Due: none

increased timeouts
  qa/terraform/templates/commands.tmpl
Due: none

newheightlogic tests fixed
  specs/consensus/quint/TendermintDSL.qnt
  specs/consensus/quint/tests/multi-round/someMultiRoundRuns.qnt
  specs/consensus/quint/tests/newheightlogic/heightLogicrun.qnt
Due: none

fixed some multi rounds
  specs/consensus/quint/tests/multi-round/someMultiRoundRuns.qnt
  specs/consensus/quint/tests/state-machine/parameterizedTest.qnt
Due: none

removed comment
  specs/consensus/quint/TendermintDSL.qnt
Due: none

change comment about commenting out
  specs/consensus/quint/statemachineAsync.qnt
Due: none

Apply suggestions from code review
  specs/consensus/quint/tests/newheightlogic/heightLogicrun.qnt
  specs/consensus/quint/tests/state-machine/parameterizedTest.qnt
Due: none

Sync ADR for protocol details and interactions with app and consensus
  code/crates/network/src/lib.rs
  docs/architecture/adr-005-value-sync.md
Due: none

north-america setup
  .github/workflows/qa.yml
Due: none

Change `Msg::info` to `Display impl
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/util/timers.rs
Due: engine

Undo change to `StreamMessage::new`
  code/crates/engine/src/util/streaming.rs
  code/crates/starknet/host/src/actor.rs
  code/crates/starknet/test/mbt/src/tests/streaming/runner.rs
  code/crates/starknet/test/mbt/src/tests/streaming/utils.rs
  code/crates/test/app/src/state.rs
  code/examples/channel/src/state.rs
Due: engine, starknet

Fix typo in breaking change note
  BREAKING_CHANGES.md
Due: none

Add error message to assertions
  code/crates/test/app/src/state.rs
  code/examples/channel/src/state.rs
Due: none

Nitpick
  code/examples/channel/src/state.rs
Due: none

Update codecov config
  codecov.yml
Due: none

Touch code
  code/examples/channel/src/state.rs
Due: none

Add breaking and release notes
  BREAKING_CHANGES.md
  RELEASE_NOTES.md
Due: none

Fix clippy warnings
  code/crates/core-consensus/src/handle/signature.rs
  code/crates/starknet/host/src/codec.rs
  code/crates/test/src/codec/proto/mod.rs
  code/examples/channel/src/state.rs
Due: core, starknet

Ignore tests requiring #997
  code/crates/test/tests/it/wal.rs
Due: none

refactor(code): Simplify implementation by only checking for evidence on decide
  code/crates/core-consensus/src/effect.rs
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/core-consensus/src/types.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/src/mux.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/util/events.rs
  code/crates/test/framework/src/node.rs
  code/crates/test/mbt/src/tests/votekeeper/runner.rs
Due: core, engine

added default values for value_sync
  code/scripts/spawn.bash
Due: none

Send rebroadcasted votes over the gossip topic
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/network.rs
  code/crates/starknet/host/src/codec.rs
  code/crates/starknet/p2p-proto/proto/p2p/proto/consensus/liveness.proto
  code/crates/test/proto/liveness.proto
  code/crates/test/src/codec/proto/mod.rs
Due: engine, starknet

Cleanup
  code/crates/engine/src/network.rs
Due: engine

make DB open async
  code/crates/starknet/host/src/actor.rs
  code/crates/starknet/host/src/block_store.rs
  code/crates/starknet/host/src/host/state.rs
  code/crates/test/app/src/node.rs
  code/crates/test/app/src/store.rs
  code/examples/channel/src/node.rs
  code/examples/channel/src/store.rs
  docs/tutorials/channels.md
Due: starknet

cargo fmt
  code/crates/starknet/host/src/block_store.rs
  code/crates/test/app/src/store.rs
  code/examples/channel/src/store.rs
Due: starknet

feat: equivocation logs
  code/Cargo.lock
  code/crates/core-consensus/src/effect.rs
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/core-driver/Cargo.toml
  code/crates/core-driver/src/proposal_keeper.rs
  code/crates/core-votekeeper/Cargo.toml
  code/crates/core-votekeeper/src/keeper.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/util/events.rs
Due: core, engine

fix: missing update
  code/crates/test/framework/src/node.rs
Due: none

fix: debug -> warn
  code/crates/core-driver/src/proposal_keeper.rs
  code/crates/core-votekeeper/src/keeper.rs
Due: core

fix: show full proposal and vote
  code/crates/core-driver/src/proposal_keeper.rs
  code/crates/core-votekeeper/src/keeper.rs
Due: core

fix: temporary middlewares warnings
  code/crates/test/tests/it/equivocation.rs
Due: none

fix(code): Remove unused `PeerJoined` and `PeerLeft` host/app messages
  code/crates/app-channel/src/connector.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/engine/src/host.rs
  code/crates/starknet/host/src/actor.rs
  code/crates/test/app/src/app.rs
  code/examples/channel/src/app.rs
  code/examples/channel/src/state.rs
Due: engine, app, starknet

Update specs/consensus/quint/statemachineAsync.qnt
  specs/consensus/quint/statemachineAsync.qnt
Due: none

Added fix for `first_height` and `last_height`
  code/crates/starknet/host/src/actor.rs
  code/crates/starknet/host/src/block_store.rs
Due: starknet

Send rebroadcast vote event
  code/crates/engine/src/consensus.rs
Due: engine

Update spawn-tmux.bash
  code/scripts/spawn-tmux.bash
Due: none

Path conditions:
  core: any of: code/crates/core-*/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  engine: any of: code/crates/engine/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  app: any of: code/crates/app/**, code/crates/app-*/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  starknet: any of: code/crates/starknet/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
