Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

codecov.yml:

codecov:
  require_ci_to_pass: yes

comment:
  layout: "header, diff, flags, components"

ignore:
  - "code/crates/test"
  - "code/crates/signing-ed25519"
  - "code/crates/proto"
  - "code/examples"

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - "code/crates/core-*/**"
    - component_id: engine
      name: engine
      paths:
        - "code/crates/engine/**"
    - component_id: app
      name: app
      paths:
        - "code/crates/app/**"
        - "code/crates/app-*/**"
    - component_id: starknet
      name: starknet
      paths:
        - "code/crates/starknet/**"

coverage:
  precision: 2
  round: nearest
  range: "50...90"

  status:
    project:
      default:
        target: auto
        threshold: 5%
        removed_code_behavior: adjust_base
        paths:
          - "code"
    patch:
      default:
        target: 0%
        threshold: 5%
        paths:
          - "code"

    changes:
      default:
        informational: true

Remove to initiate logger externally
  code/crates/starknet/test/src/tests/full_nodes.rs
  code/crates/starknet/test/src/tests/n3f0.rs
  code/crates/starknet/test/src/tests/n3f0_consensus_mode.rs
  code/crates/starknet/test/src/tests/n3f0_pubsub_protocol.rs
  code/crates/starknet/test/src/tests/n3f1.rs
  code/crates/starknet/test/src/tests/value_sync.rs
  code/crates/starknet/test/src/tests/vote_sync.rs
  code/crates/starknet/test/src/tests/wal.rs
  code/crates/test/framework/src/lib.rs
  code/crates/test/framework/src/logging.rs
  code/crates/test/tests/it/full_nodes.rs
  code/crates/test/tests/it/n3f0.rs
  code/crates/test/tests/it/n3f0_consensus_mode.rs
  code/crates/test/tests/it/n3f0_pubsub_protocol.rs
  code/crates/test/tests/it/n3f1.rs
  code/crates/test/tests/it/value_sync.rs
  code/crates/test/tests/it/vote_sync.rs
  code/crates/test/tests/it/wal.rs
Due: starknet

When decide via sync skip commit timeout
  code/crates/core-consensus/src/handle/proposed_value.rs
  code/crates/core-consensus/src/handle/sync.rs
Due: core

Add test that shows: failed to fill whole buffer
  code/crates/engine/src/wal/thread.rs
  code/crates/starknet/test/src/tests/vote_sync.rs
Due: engine, starknet

only terraform
  .github/workflows/qa.yml
  qa/docker/Dockerfile
  qa/terraform/templates/commands.tmpl
Due: none

try to run qa commands
  .github/workflows/qa.yml
Due: none

add ssh-agent action
  .github/workflows/qa.yml
Due: none

try to run commands together
  .github/workflows/qa.yml
Due: none

run only source.sh
  .github/workflows/qa.yml
Due: none

Separated starknet utils, updated workflow
  .github/workflows/coverage.yml
  .github/workflows/mbt.yml
  .github/workflows/rust.yml
  code/Cargo.lock
  code/crates/starknet/test/mbt/Cargo.toml
  code/crates/starknet/test/mbt/src/lib.rs
  code/crates/starknet/test/mbt/src/tests/streaming.rs
  code/crates/starknet/test/mbt/src/utils.rs
Due: starknet

Wait a bit until starting the first height
  code/crates/test/app/src/app.rs
Due: none

Fixed maelstrom command
  .github/workflows/rust.yml
Due: none

workflow run command fix
  .github/workflows/coverage.yml
  .github/workflows/mbt.yml
Due: none

Fix off-by-one error in starting height of test and example apps
  code/crates/test/app/src/app.rs
  code/examples/channel/src/app.rs
Due: none

Fix typo
  code/crates/starknet/test/src/lib.rs
  code/crates/test/framework/src/lib.rs
Due: starknet

Slow down test app to ease debugging
  code/crates/test/app/src/app.rs
Due: none

Cleanup
  code/crates/starknet/test/src/tests/full_nodes.rs
  code/crates/starknet/test/src/tests/n3f0.rs
  code/crates/starknet/test/src/tests/n3f0_consensus_mode.rs
  code/crates/starknet/test/src/tests/n3f0_pubsub_protocol.rs
  code/crates/starknet/test/src/tests/n3f1.rs
  code/crates/starknet/test/src/tests/value_sync.rs
  code/crates/starknet/test/src/tests/vote_sync.rs
  code/crates/starknet/test/src/tests/wal.rs
  code/crates/test/tests/it/full_nodes.rs
  code/crates/test/tests/it/n3f0.rs
  code/crates/test/tests/it/n3f0_consensus_mode.rs
  code/crates/test/tests/it/n3f0_pubsub_protocol.rs
  code/crates/test/tests/it/n3f1.rs
  code/crates/test/tests/it/value_sync.rs
  code/crates/test/tests/it/vote_sync.rs
  code/crates/test/tests/it/wal.rs
Due: starknet

Add WAL replay error when unable to decode all entries
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/util/events.rs
  code/crates/engine/src/wal/thread.rs
  code/crates/starknet/test/src/lib.rs
  code/crates/starknet/test/src/tests/vote_sync.rs
Due: engine, starknet

Fixed CI/CD, removed questions from code
  .github/workflows/coverage.yml
  .github/workflows/mbt.yml
  .github/workflows/rust.yml
  code/crates/engine/src/util/streaming.rs
  code/crates/starknet/test/mbt/src/tests/streaming/runner.rs
  code/crates/test/mbt/src/utils.rs
Due: engine, starknet

Don't add tag w/o value for skipped timers or empty buf to wal
  code/crates/engine/src/wal/entry.rs
  code/crates/engine/src/wal/thread.rs
Due: engine

Move new test to wal
  code/crates/starknet/test/src/tests/vote_sync.rs
  code/crates/starknet/test/src/tests/wal.rs
Due: starknet

Nextest multiline fix
  .github/workflows/coverage.yml
  .github/workflows/mbt.yml
Due: none

Logging cleanup
  code/crates/engine/src/wal/thread.rs
Due: engine

Fix missing info in logs
  code/crates/engine/src/wal/thread.rs
Due: engine

check ok_cc
  .github/workflows/qa.yml
Due: none

wait before running deploy
  .github/workflows/qa.yml
Due: none

Adapted tests to latest P2P protos
  .github/workflows/coverage.yml
  .github/workflows/mbt.yml
  code/Cargo.lock
  code/crates/starknet/test/mbt/Cargo.toml
  code/crates/starknet/test/mbt/src/tests/streaming.rs
  code/crates/starknet/test/mbt/src/tests/streaming/runner.rs
  code/crates/starknet/test/mbt/src/tests/streaming/utils.rs
Due: starknet

try deploy_cc after sleep
  .github/workflows/qa.yml
Due: none

Add error detail to WalReplayError event
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/util/events.rs
  code/crates/engine/src/wal/thread.rs
  code/crates/starknet/test/src/lib.rs
Due: engine, starknet

debug ssh agent
  .github/workflows/qa.yml
Due: none

Add tag to wal only if vote encoding is succesful
  code/crates/engine/src/wal/entry.rs
Due: engine

Do not instruct WAL to persist step timeouts
  code/crates/core-consensus/src/handle/timeout.rs
Due: core

Move WalReplayError detection to background task
  code/crates/starknet/test/src/lib.rs
Due: starknet

WAL writes all timeouts it is given, leave choice up to consensus
  code/crates/engine/src/wal/entry.rs
Due: engine

Synchronous debugging first try
  .github/workflows/qa.yml
Due: none

Refactored code and comments/docs
  .github/workflows/coverage.yml
  .github/workflows/mbt.yml
  code/Cargo.toml
  code/crates/starknet/host/src/actor.rs
  code/crates/starknet/host/src/streaming.rs
Due: starknet
