Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

Rename `on_value` to `on_got_decided_value`
  code/crates/sync/src/handle.rs
Due: engine

Rename `NetworkEvent::{Response,Request}` to `NetworkEvent::Sync{Response,Request}`
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/network.rs
  code/crates/engine/src/sync.rs
Due: engine

Process sync response even if it fails to decode
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/network.rs
  code/crates/engine/src/sync.rs
  code/crates/sync/src/handle.rs
Due: engine

Track pending requests by request id
  code/crates/sync/src/handle.rs
  code/crates/sync/src/state.rs
  code/crates/sync/src/types.rs
Due: engine

`SendValueRequest` effect must now be handled by resuming with the request id
  code/crates/engine/src/sync.rs
  code/crates/sync/src/effect.rs
  code/crates/sync/src/handle.rs
  code/crates/sync/src/lib.rs
  code/crates/sync/src/macros.rs
Due: engine

When we get an invalid response, try to sync from another peer
  code/crates/sync/src/handle.rs
Due: engine

Ensure scores are bounded with only successes and only failures
  code/crates/sync/src/scoring.rs
Due: engine

Split `success_improves_or_maintains_score` into fast and slow responses
  code/crates/sync/src/scoring.rs
Due: engine

feat: Borsh implementation
  code/Cargo.lock
  code/Cargo.toml
  code/crates/app/Cargo.toml
  code/crates/core-consensus/Cargo.toml
  code/crates/core-consensus/src/types.rs
  code/crates/core-types/Cargo.toml
  code/crates/core-types/src/certificate.rs
  code/crates/core-types/src/round.rs
  code/crates/core-types/src/signed_message.rs
  code/crates/core-types/src/value.rs
  code/crates/core-types/src/vote.rs
  code/crates/engine/Cargo.toml
  code/crates/engine/src/util/streaming.rs
  code/crates/peer/Cargo.toml
  code/crates/peer/src/lib.rs
  code/crates/sync/Cargo.toml
  code/crates/sync/src/types.rs
Due: core, engine, app

add missing borsh impl
  code/crates/core-consensus/src/types.rs
  code/crates/core-types/src/proposal.rs
Due: core

fix: connection to peer granularity
  code/crates/discovery/src/config.rs
  code/crates/discovery/src/handlers/close.rs
  code/crates/discovery/src/handlers/connect_request.rs
  code/crates/discovery/src/handlers/dial.rs
  code/crates/discovery/src/handlers/helpers.rs
  code/crates/discovery/src/handlers/identify.rs
  code/crates/discovery/src/handlers/peers_management.rs
  code/crates/discovery/src/handlers/selection/selector.rs
  code/crates/discovery/src/lib.rs
  code/crates/discovery/src/metrics.rs
  code/crates/network/src/lib.rs
  code/crates/network/test/tests/discovery.rs
Due: none

fix: typos
  code/crates/discovery/src/config.rs
  code/crates/discovery/src/handlers/identify.rs
Due: none

feat: clean code
  RELEASE_NOTES.md
  code/crates/config/src/lib.rs
  code/crates/discovery/src/controller.rs
  code/crates/discovery/src/dial.rs
  code/crates/discovery/src/handlers/bootstrap.rs
  code/crates/discovery/src/handlers/close.rs
  code/crates/discovery/src/handlers/connect_request.rs
  code/crates/discovery/src/handlers/dial.rs
  code/crates/discovery/src/handlers/extension.rs
  code/crates/discovery/src/handlers/helpers.rs
  code/crates/discovery/src/handlers/identify.rs
  code/crates/discovery/src/handlers/peers_management.rs
  code/crates/discovery/src/handlers/peers_request.rs
  code/crates/discovery/src/lib.rs
  code/crates/network/test/tests/discovery.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/test/cli/src/cmd/distributed_testnet.rs
  code/crates/test/cli/src/cmd/init.rs
  code/crates/test/cli/src/cmd/testnet.rs
Due: starknet

On outbound sync failure, Wait until next status update to try sync again
  code/crates/sync/src/handle.rs
Due: engine

Fix `fast_response_help_recover_score_quickly` test
  code/crates/sync/src/scoring.rs
Due: engine

Add metrics for scores
  code/crates/sync/src/handle.rs
  code/crates/sync/src/metrics.rs
  code/crates/sync/src/scoring.rs
  code/crates/sync/src/scoring/metrics.rs
Due: engine

Add assertion that `slow_threshold` is positive
  code/crates/sync/src/scoring/ema.rs
Due: engine

Update code/crates/sync/src/effect.rs
  code/crates/sync/src/effect.rs
Due: engine

Update code/crates/sync/src/scoring/ema.rs
  code/crates/sync/src/scoring/ema.rs
Due: engine

fix: outbound connections state
  code/crates/discovery/src/handlers/connect_request.rs
  code/crates/discovery/src/handlers/identify.rs
  code/crates/discovery/src/handlers/peers_management.rs
  code/crates/discovery/src/lib.rs
Due: none

doc: discovery README
  code/crates/discovery/README.md
Due: none

fix, doc: title
  code/crates/discovery/README.md
Due: none

Cleanup
  code/crates/starknet/host/src/actor.rs
Due: starknet

feat(code/sync): Re-request sync from another peer on failed responses
  code/crates/sync/src/effect.rs
  code/crates/sync/src/handle.rs
  code/crates/sync/src/state.rs
Due: engine

Update doc comments
  code/crates/sync/src/scoring.rs
Due: engine

Rename method
  code/crates/sync/src/handle.rs
  code/crates/sync/src/scoring.rs
Due: engine

Cleanup
  code/crates/sync/src/handle.rs
  code/crates/sync/src/metrics.rs
  code/crates/sync/src/state.rs
Due: engine

Bump version to v0.3.0
  code/Cargo.toml
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Update BREAKING_CHANGES and RELEASE_NOTES
  BREAKING_CHANGES.md
  RELEASE_NOTES.md
Due: none

Update Cargo.lock
  code/Cargo.lock
Due: none

chore(code/sync): Collapse log when we have multiple pending requests
  code/crates/sync/src/handle.rs
Due: engine

fix: limit height is not is the valid current window
  code/crates/sync/src/handle.rs
Due: engine

fix: cargo fmt
  code/crates/sync/src/handle.rs
Due: engine

sort new Cargo.toml deps
  code/crates/core-consensus/Cargo.toml
  code/crates/core-types/Cargo.toml
Due: core

Add request FSM and consensus replay after StartedHeight is sent to sync
  code/crates/engine/src/consensus.rs
  code/crates/sync/src/handle.rs
  code/crates/sync/src/state.rs
Due: engine

minor rename
  qa/terraform/templates/commands.tmpl
Due: none

fix: dial retrial issue
  code/crates/discovery/src/handlers/dial.rs
  code/crates/network/src/lib.rs
Due: none

fix(code/network): Properly handle liveness messages with `broadcast` p2p protocol
  code/crates/network/src/lib.rs
Due: none

Cleanup
  code/crates/network/src/lib.rs
Due: none

Path conditions:
  core: any of: code/crates/core-consensus/**, code/crates/core-driver/**, code/crates/core-state-machine/**, code/crates/core-types/**, code/crates/core-votekeeper/**, but not: code/examples, code/crates/proto, code/crates/test/mempool, code/crates/test/proto, code/crates/test/cli, code/crates/signing-ed25519, code/crates/starknet/p2p-proto, code/crates/starknet/p2p-types
  engine: any of: code/crates/engine/**, code/crates/sync/**, but not: code/examples, code/crates/proto, code/crates/test/mempool, code/crates/test/proto, code/crates/test/cli, code/crates/signing-ed25519, code/crates/starknet/p2p-proto, code/crates/starknet/p2p-types
  app: any of: code/crates/app/**, code/crates/app-channel/**, but not: code/examples, code/crates/proto, code/crates/test/mempool, code/crates/test/proto, code/crates/test/cli, code/crates/signing-ed25519, code/crates/starknet/p2p-proto, code/crates/starknet/p2p-types
  starknet: any of: code/crates/starknet/**, but not: code/examples, code/crates/proto, code/crates/test/mempool, code/crates/test/proto, code/crates/test/cli, code/crates/signing-ed25519, code/crates/starknet/p2p-proto, code/crates/starknet/p2p-types
