Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

codecov.yml:

codecov:
  require_ci_to_pass: false

comment:
  layout: "header, diff, flags, components"

ignore:
  - "code/examples"
  - "code/crates/proto"
  - "code/crates/test/mempool"
  - "code/crates/test/proto"
  - "code/crates/test/cli"
  - "code/crates/signing-ed25519"
  - "code/crates/starknet/p2p-proto"
  - "code/crates/starknet/p2p-types"

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - "code/crates/core-consensus/**"
        - "code/crates/core-driver/**"
        - "code/crates/core-state-machine/**"
        - "code/crates/core-types/**"
        - "code/crates/core-votekeeper/**"
    - component_id: engine
      name: engine
      paths:
        - "code/crates/engine/**"
        - "code/crates/sync/**"
    - component_id: app
      name: app
      paths:
        - "code/crates/app/**"
        - "code/crates/app-channel/**"
    - component_id: starknet
      name: starknet
      paths:
        - "code/crates/starknet/**"

coverage:
  precision: 2
  round: nearest
  range: "50...90"

  status:
    project:
      default:
        target: auto
        threshold: 5%
        removed_code_behavior: adjust_base
        paths:
          - "code"
    patch:
      default:
        target: 0%
        threshold: 5%
        paths:
          - "code"

    changes:
      default:
        informational: true

Add bug report issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

Add CHANGELOG skeleton
  CHANGELOG.md
Due: none

Add support guide
  SUPPORT.md
Due: none

Create ERROR_FORMAT.md
  docs/ERROR_FORMAT.md
Due: none

Create API_VERSIONING.md
  docs/API_VERSIONING.md
Due: none

Add FAQ documentation
  FAQ.md
Due: none

ci: Add PR gate to auto-close unsolicited contributions
  .github/pull_request_template.md
  .github/workflows/pr-gate.yml
  CONTRIBUTING.md
Due: none

add link to CONTRIBUTING.md
  README.md
Due: none

chore: Update CODEOWNERS
  .github/CODEOWNERS
Due: none

fix: Fix docs workflow
  .github/workflows/docs.yml
Due: none

Add name to PR Gate workflow
  .github/workflows/pr-gate.yml
Due: none

Allow PRs from codeowners
  .github/workflows/pr-gate.yml
Due: none

fix: Ensure discovery configuration is passed down to the networking module
  code/crates/app/src/spawn.rs
  code/crates/config/src/lib.rs
  code/crates/discovery/src/config.rs
Due: app

chore: Fix erroneous error messages
  code/crates/core-consensus/src/handle/driver.rs
Due: core

fix(driver): Check for polka certificate to multiplex `PolkaValue` output on step change
  code/crates/core-driver/src/mux.rs
  code/crates/core-driver/tests/it/extra.rs
Due: core

fix(sync): Validate value request ranges before processing
  code/crates/sync/src/handle.rs
Due: engine

fix(driver): Ensure polka certificate is matched against a proposal for the same value
  code/crates/core-consensus/src/error.rs
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/core-consensus/src/handle/driver.rs
  code/crates/core-consensus/src/state.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/src/mux.rs
  code/crates/core-driver/tests/it/extra.rs
Due: core

feat(discovery): On inbound or outbound connection, log remote address of peer
  code/crates/discovery/src/handlers/dial.rs
Due: none

fix(driver): `PrecommitAny` does not shadow `PolkaNil` and `PolkaAny` pending inputs
  code/crates/core-driver/src/mux.rs
  code/crates/core-driver/tests/it/extra.rs
  code/crates/core-driver/tests/it/utils.rs
Due: core

fix(CCHAIN-658): Allow application to change its mind about validity (Invalid --> Valid)
  code/crates/core-consensus/src/full_proposal.rs
  code/crates/core-consensus/src/handle/propose.rs
  code/crates/core-consensus/src/handle/proposed_value.rs
  code/crates/core-consensus/src/state.rs
  code/crates/core-driver/src/proposal_keeper.rs
  code/crates/core-driver/tests/it/extra.rs
  code/crates/core-driver/tests/it/utils.rs
  code/crates/core-types/src/proposal.rs
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/node.rs
  code/crates/test/app/src/state.rs
  code/crates/test/src/middleware.rs
  code/crates/test/tests/it/main.rs
  code/crates/test/tests/it/validity_change_on_restart.rs
Due: core

fix(driver): Produce `InvalidProposalAndPolkaPrevious` when receiving a polka certificate matching the POL round of a proposal with an invalid value
  code/crates/core-driver/src/mux.rs
  code/crates/core-driver/tests/it/extra.rs
Due: core

feat(MAL-4): Support batch retrieval of decided values
  code/Cargo.lock
  code/crates/app-channel/src/connector.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/core-types/src/lib.rs
  code/crates/core-types/src/utils/height.rs
  code/crates/core-types/src/utils/mod.rs
  code/crates/engine/Cargo.toml
  code/crates/engine/src/host.rs
  code/crates/engine/src/sync.rs
  code/crates/starknet/host/src/actor.rs
  code/crates/sync/src/handle.rs
  code/crates/test/app/src/app.rs
  code/examples/channel/src/app.rs
Due: core, engine, app, starknet

feat(CCHAIN504): make consensus request channel capacity configurable
  code/crates/app-channel/src/run.rs
  code/crates/test/app/src/node.rs
  code/examples/channel/src/node.rs
Due: app

fix(CCHAIN-687): Fix peer and connection metrics when discovery is disabled
  code/crates/discovery/src/handlers/close.rs
  code/crates/discovery/src/handlers/dial.rs
  code/crates/discovery/src/handlers/helpers.rs
  code/crates/discovery/src/handlers/identify.rs
  code/crates/discovery/src/lib.rs
  code/crates/discovery/src/metrics.rs
  code/crates/test/tests/it/value_sync.rs
Due: none

feat(CCHAIN-667): Custom peer scoring
  code/crates/app/src/spawn.rs
  code/crates/config/src/lib.rs
  code/crates/config/src/utils.rs
  code/crates/network/src/behaviour.rs
  code/crates/network/src/lib.rs
  code/crates/network/src/peer_scoring.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/test/app/config.toml
  code/examples/channel/config.toml
Due: app, starknet

feat(CCHAIN-405): Validate Sync config at startup time
  code/crates/app-channel/src/run.rs
Due: app

feat(CCHAIN-683): Add network metrics for peer identification and tracking
  code/crates/app-channel/src/run.rs
  code/crates/app-channel/src/spawn.rs
  code/crates/app/src/spawn.rs
  code/crates/config/src/lib.rs
  code/crates/discovery/src/lib.rs
  code/crates/network/src/behaviour.rs
  code/crates/network/src/lib.rs
  code/crates/network/src/metrics.rs
  code/crates/network/src/peer_type.rs
  code/crates/network/src/pubsub.rs
  code/crates/network/src/state.rs
  code/crates/network/src/utils.rs
  code/crates/network/test/src/lib.rs
  code/crates/starknet/host/src/spawn.rs
Due: app, starknet

feat: Add `sign_bytes` and `verify_bytes` methods to `SigningProvider` trait
  code/crates/signing/src/lib.rs
  code/crates/starknet/p2p-types/src/signing.rs
  code/crates/test/src/signing.rs
Due: none

chore: Peer scoring disabled by default
  code/crates/config/src/lib.rs
  code/crates/test/app/config.toml
  code/examples/channel/config.toml
Due: none

chore: Remove signing of proposal parts
  code/crates/app/src/node.rs
  code/crates/core-types/src/lib.rs
  code/crates/signing/src/lib.rs
  code/crates/starknet/p2p-types/src/signing.rs
  code/crates/starknet/p2p-types/src/signing/provider.rs
  code/crates/test/src/signing.rs
Due: core, app

chore: Log network peer information
  code/crates/network/src/lib.rs
  code/crates/network/src/peer_type.rs
  code/crates/network/src/state.rs
Due: none

fix(CCHAIN-781): Remove inflight sync request when response is received
  code/crates/engine/src/sync.rs
Due: engine

feat(p2p): add `persistent_peers_only` config option
  RELEASE_NOTES.md
  code/crates/app/src/node.rs
  code/crates/app/src/spawn.rs
  code/crates/config/src/lib.rs
  code/crates/discovery/src/config.rs
  code/crates/discovery/src/handlers/connect_request.rs
  code/crates/discovery/src/handlers/identify.rs
  code/crates/discovery/src/lib.rs
  code/crates/network/src/lib.rs
  code/crates/network/test/src/lib.rs
  code/crates/network/test/tests/discovery.rs
  code/crates/starknet/host/src/node.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/test/app/src/node.rs
  code/crates/test/cli/src/cmd/distributed_testnet.rs
  code/crates/test/cli/src/cmd/init.rs
  code/crates/test/cli/src/cmd/start.rs
  code/crates/test/cli/src/cmd/testnet.rs
  code/crates/test/tests/it/main.rs
  code/crates/test/tests/it/persistent_peers_only.rs
Due: app, starknet

feat(code)!: Allow dynamic adjustment of timeout parameters
  code/crates/test/app/src/app.rs
Due: none

fix(CCHAIN-575,CCHAIN-576): Fix common prefixes of log spans, improve logs
  code/crates/engine/src/sync.rs
  code/crates/sync/src/handle.rs
  code/crates/sync/src/scoring.rs
Due: engine

chore: Update changelog, bump version to 0.7.0
  BREAKING_CHANGES.md
  RELEASE_NOTES.md
  code/Cargo.lock
  code/Cargo.toml
Due: none

fix(CCHAIN-775): Remove stale data when moving to a new height
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/tests/it/extra.rs
Due: core

fix(peer): Fix peer borsh unwrap
  code/crates/peer/src/ser/borsh.rs
Due: none

feat(CCHAIN-797): Add transport level connection limits
  code/Cargo.lock
  code/crates/network/src/behaviour.rs
  code/crates/network/test/Cargo.toml
  code/crates/network/test/tests/connection_flood.rs
Due: none

refactor(CCHAIN-802): Refactor infrastructure for spawning a channel-based application
  code/Cargo.lock
  code/crates/app-channel/Cargo.toml
  code/crates/app-channel/src/lib.rs
  code/crates/app-channel/src/run.rs
  code/crates/app-channel/src/spawn.rs
  code/crates/app/src/config.rs
  code/crates/app/src/lib.rs
  code/crates/app/src/node.rs
  code/crates/app/src/spawn.rs
  code/crates/config/src/lib.rs
  code/crates/starknet/app/Cargo.toml
  code/crates/starknet/app/src/main.rs
  code/crates/starknet/host/Cargo.toml
  code/crates/starknet/host/src/config.rs
  code/crates/starknet/host/src/node.rs
  code/crates/starknet/test/src/lib.rs
  code/crates/test/Cargo.toml
  code/crates/test/app/src/config.rs
  code/crates/test/app/src/node.rs
  code/crates/test/cli/Cargo.toml
  code/crates/test/cli/src/cmd/distributed_testnet.rs
  code/crates/test/cli/src/cmd/init.rs
  code/crates/test/cli/src/cmd/start.rs
  code/crates/test/cli/src/cmd/testnet.rs
  code/crates/test/cli/src/file.rs
  code/crates/test/cli/src/new.rs
  code/crates/test/framework/src/lib.rs
  code/crates/test/framework/src/node.rs
  code/crates/test/src/lib.rs
  code/crates/test/src/node.rs
  code/crates/test/src/traits.rs
  code/crates/test/tests/it/main.rs
  code/examples/channel/src/config.rs
  code/examples/channel/src/main.rs
  code/examples/channel/src/node.rs
Due: app, starknet
