Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

codecov.yml:

codecov:
  require_ci_to_pass: false

comment:
  layout: "header, diff, flags, components"

ignore:
  - "code/examples"
  - "code/crates/proto"
  - "code/crates/test/mempool"
  - "code/crates/test/proto"
  - "code/crates/test/cli"
  - "code/crates/signing-ed25519"
  - "code/crates/starknet/p2p-proto"
  - "code/crates/starknet/p2p-types"

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - "code/crates/core-consensus/**"
        - "code/crates/core-driver/**"
        - "code/crates/core-state-machine/**"
        - "code/crates/core-types/**"
        - "code/crates/core-votekeeper/**"
    - component_id: engine
      name: engine
      paths:
        - "code/crates/engine/**"
        - "code/crates/sync/**"
    - component_id: app
      name: app
      paths:
        - "code/crates/app/**"
        - "code/crates/app-channel/**"
    - component_id: starknet
      name: starknet
      paths:
        - "code/crates/starknet/**"

coverage:
  precision: 2
  round: nearest
  range: "50...90"

  status:
    project:
      default:
        target: auto
        threshold: 5%
        removed_code_behavior: adjust_base
        paths:
          - "code"
    patch:
      default:
        target: 0%
        threshold: 5%
        paths:
          - "code"

    changes:
      default:
        informational: true

Delete code/crates/starknet/README.md
  code/crates/starknet/README.md
Due: starknet

Formatting
  code/crates/core-consensus/tests/full_proposal.rs
  code/crates/test/mbt/src/tests/votekeeper.rs
  code/crates/test/tests/it/reset.rs
Due: core

Rename repository links to circlefin/malachite
  BREAKING_CHANGES.md
  RELEASE_NOTES.md
  code/crates/starknet/README.md
  code/crates/test/cli/src/logging.rs
  specs/consensus/overview.md
  specs/consensus/quint/driver.qnt
  specs/starknet/validator-updates/resetTest.qnt
  specs/synchronization/valuesync/README.md
Due: starknet

Add helper script for existing PRs
  scripts/fix-rebase-after-rename.sh
Due: none

Add notice to release notes and breaking changes
  BREAKING_CHANGES.md
  RELEASE_NOTES.md
Due: none

Test for duplicate votes caused by round certificate processing
  code/Cargo.lock
  code/crates/core-consensus/src/state.rs
  code/crates/core-driver/Cargo.toml
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/tests/it/extra.rs
Due: core

Do not add duplicate vote
  code/crates/core-votekeeper/src/keeper.rs
Due: core

Add error details to assert
  code/crates/core-consensus/src/handle/decide.rs
Due: core

Refactor assert
  code/crates/core-consensus/src/handle/decide.rs
Due: core

Add certificate validation to vote-keeper test
  code/crates/core-driver/src/driver.rs
  code/crates/core-votekeeper/src/keeper.rs
  code/crates/core-votekeeper/tests/vote_keeper.rs
Due: core

Cleanup test
  code/crates/core-driver/tests/it/extra.rs
Due: core

Invalidate old discovered_peers metric entries when peer address changes on re-identification
  code/crates/network/src/metrics.rs
  code/crates/network/src/state.rs
  code/crates/network/src/utils.rs
Due: none

driver: apply @romac suggestion
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/src/mux.rs
Due: core

driver: remove duplicated timeouts from tests
  code/crates/core-driver/tests/it/extra.rs
Due: core

driver: do not schedule the same timeout twice
  code/crates/core-driver/src/driver.rs
Due: core

XXX: does the driver produce non-consensus timeouts?
  code/crates/core-driver/src/driver.rs
  code/crates/core-types/src/timeout.rs
Due: core

test(engine-byzantine): add integration tests for Byzantine fault scenarios
  code/Cargo.lock
  code/crates/test/Cargo.toml
  code/crates/test/tests/it/byzantine_engine.rs
  code/crates/test/tests/it/main.rs
Due: none

fix(engine-byzantine): drop votes on liveness channel and add stall test
  code/crates/engine-byzantine/src/proxy.rs
  code/crates/test/tests/it/byzantine_engine.rs
Due: none

ci: Allow PRs from StepSecurity bot
  .github/workflows/pr-gate.yml
Due: none

test(engine-byzantine): add 2-of-4 Byzantine integration tests
  code/crates/test/tests/it/byzantine_engine.rs
Due: none

Refactor and update PeerInfo with explict flag
  code/crates/network/src/lib.rs
  code/crates/network/src/state.rs
Due: none

Apply suggestions from @romac
  code/crates/core-driver/src/driver.rs
  code/crates/core-types/src/timeout.rs
Due: core

Addressing comments from @romac
  code/crates/core-driver/src/driver.rs
Due: core

Cargo fmt
  code/crates/core-driver/src/driver.rs
  code/crates/core-types/src/timeout.rs
Due: core

chore: Enable parallel tests by default
  code/.cargo/config.toml
  code/.config/nextest.toml
Due: none

Review comments
  code/crates/network/src/state.rs
Due: none

Change tests logic so they aren't flaky on CI
  code/crates/test/framework/src/lib.rs
  code/crates/test/framework/src/node.rs
  code/crates/test/tests/it/equivocation.rs
  code/crates/test/tests/it/middlewares.rs
Due: none

Revert "feat(deps): Update `libp2p-scatter` to v0.4.0-rc.1. (#1473)"
  RELEASE_NOTES.md
  code/Cargo.lock
  code/Cargo.toml
  code/crates/app/src/spawn.rs
  code/crates/config/src/lib.rs
  code/crates/network/Cargo.toml
  code/crates/network/src/behaviour.rs
  code/crates/network/src/lib.rs
  code/crates/network/src/pubsub.rs
  code/crates/starknet/host/src/spawn.rs
Due: app, starknet

chore(ci): Configure trusted crate publishing
  .github/workflows/publish.yml
Due: none

Malicious node
  code/crates/core-types/src/proposal.rs
  code/crates/core-types/src/value.rs
  code/crates/core-types/src/vote.rs
  code/crates/engine/src/consensus.rs
  code/crates/starknet/p2p-types/src/context/impls.rs
  code/crates/starknet/p2p-types/src/hash.rs
  code/crates/test/src/proposal.rs
  code/crates/test/src/value.rs
  code/crates/test/src/vote.rs
Due: core, engine

Rename `VerificationResult` to `ProofVerificationResult`
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/network.rs
  code/crates/network/src/handle.rs
  code/crates/network/src/lib.rs
  code/crates/network/src/validator_proof/mod.rs
  code/crates/network/src/validator_proof/types.rs
Due: engine

Sort validators and peers in NetworkStateDump
  code/Cargo.lock
  code/crates/network/Cargo.toml
  code/crates/network/src/lib.rs
Due: none

Add command and log message in `start_listening`
  code/crates/network/src/validator_proof/behaviour.rs
Due: none

feat(smr): do not schedule the same timeout twice (#1508)
  code/crates/core-driver/tests/it/extra.rs
  code/crates/core-state-machine/src/state.rs
  code/crates/core-state-machine/src/state_machine.rs
Due: core

Use "separator" in ADR instead of "prefix"
  docs/architecture/adr-006-proof-of-validator.md
Due: none

Avoid a few cheap clones of proof bytes
  code/crates/network/src/validator_proof/behaviour.rs
  code/crates/network/src/validator_proof/codec.rs
  code/crates/network/src/validator_proof/protocol.rs
Due: none

Rename `certificate` to `proof` in a couple places
  code/crates/signing/src/ext.rs
Due: none

Add read timeout to validator proof protocol
  code/crates/network/src/validator_proof/codec.rs
Due: none

Add note when polling inner behavior
  code/crates/network/src/validator_proof/behaviour.rs
Due: none

Add unit tests for validator proof behaviour and state reclassification
  code/crates/network/src/state.rs
  code/crates/network/src/validator_proof/behaviour.rs
Due: none
