Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

codecov.yml:

codecov:
  require_ci_to_pass: yes

comment:
  layout: "header, diff, flags, components"

ignore:
  - "code/crates/test"
  - "code/crates/signing-ed25519"
  - "code/crates/proto"
  - "code/examples"

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - "code/crates/core-*/**"
    - component_id: engine
      name: engine
      paths:
        - "code/crates/engine/**"
    - component_id: app
      name: app
      paths:
        - "code/crates/app/**"
        - "code/crates/app-*/**"
    - component_id: starknet
      name: starknet
      paths:
        - "code/crates/starknet/**"

coverage:
  precision: 2
  round: nearest
  range: "50...90"

  status:
    project:
      default:
        target: auto
        threshold: 5%
        removed_code_behavior: adjust_base
        paths:
          - "code"
    patch:
      default:
        target: 0%
        threshold: 5%
        paths:
          - "code"

    changes:
      default:
        informational: true

Rename `GossipMessage` proto to `LivenessMessage`
  code/crates/starknet/host/src/codec.rs
  code/crates/starknet/p2p-proto/proto/p2p/proto/consensus/liveness.proto
  code/crates/test/proto/liveness.proto
  code/crates/test/src/codec/proto/mod.rs
Due: starknet

Update qa/terraform/templates/commands.tmpl
  qa/terraform/templates/commands.tmpl
Due: none

Update .github/workflows/qa.yml
  .github/workflows/qa.yml
Due: none

add setup instructions for channel example (#1024)
  code/examples/channel/README.md
Due: none

point to the setup guide (#1024)
  code/examples/channel/README.md
Due: none

add banner absolute URL to render in crates.io (#1026)
  README.md
Due: none

removed nohup.out file
  code/.gitignore
  code/scripts/nohup.out
Due: none

add branch name as input
  .github/workflows/qa.yml
Due: none

ci: Switch from cargo-llvm-cov to cargo-tarpaulin
  .github/workflows/coverage.yml
Due: none

Change cfg attr
  code/Cargo.toml
  code/crates/app/src/lib.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/src/lib.rs
  code/crates/signing-ed25519/src/lib.rs
  code/crates/starknet/p2p-types/src/address.rs
  code/crates/starknet/p2p-types/src/block_proof.rs
  code/crates/starknet/p2p-types/src/hash.rs
  code/crates/starknet/p2p-types/src/lib.rs
  code/crates/starknet/p2p-types/src/proposal_part.rs
  code/crates/starknet/p2p-types/src/streaming.rs
  code/crates/starknet/p2p-types/src/validator.rs
  code/crates/starknet/p2p-types/src/vote.rs
  code/crates/test/mempool/src/lib.rs
  code/crates/test/mempool/src/msg.rs
  code/crates/test/src/address.rs
  code/crates/test/src/lib.rs
  code/crates/test/src/proposal.rs
  code/crates/test/src/proposal_part.rs
  code/crates/test/src/validator_set.rs
  code/crates/test/src/value.rs
  code/crates/test/src/vote.rs
Due: core, app, starknet

ci: Fix coverage upload to Codecov
  .github/workflows/coverage.yml
Due: none

Trigger coverage run
  code/crates/app/src/lib.rs
Due: app

Implement solution 2 wrt rebroadcast timer
  code/crates/config/src/lib.rs
  code/crates/core-consensus/src/handle/driver.rs
  code/crates/core-consensus/src/handle/liveness.rs
  code/crates/core-consensus/src/handle/rebroadcast_timeout.rs
  code/crates/core-consensus/src/handle/timeout.rs
  code/crates/core-consensus/src/state.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-types/src/certificate.rs
  code/crates/core-types/src/lib.rs
  code/crates/engine/src/consensus.rs
  code/crates/test/framework/src/node.rs
  code/crates/test/tests/it/liveness.rs
Due: core, engine

Change names according to spec
  code/crates/core-consensus/src/handle/driver.rs
  code/crates/core-consensus/src/handle/rebroadcast_timeout.rs
  code/crates/core-consensus/src/state.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-types/src/certificate.rs
  code/crates/core-types/src/lib.rs
Due: core

chore: Remove dependency on `protoc`, use the `protox` crate instead
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/mbt.yml
  .github/workflows/publish.yml
  .github/workflows/rust.yml
  .github/workflows/semver.yml
  CONTRIBUTING_CODE.md
  code/Cargo.lock
  code/Cargo.toml
  code/crates/starknet/p2p-proto/Cargo.toml
  code/crates/starknet/p2p-proto/build.rs
  code/crates/test/Cargo.toml
  code/crates/test/build.rs
  code/crates/test/mempool/Cargo.toml
  code/crates/test/mempool/build.rs
  code/examples/channel/README.md
  docs/testing/local.md
Due: starknet

Upload directly to Codecov
  .github/workflows/coverage.yml
Due: none

Cancel rebroadcast timer when round cert is received
  code/crates/core-consensus/src/handle/liveness.rs
  code/scripts/spawn.bash
Due: core

Increase the rebroadcast timeout each round
  code/crates/config/src/lib.rs
  code/crates/engine/src/consensus.rs
Due: engine

Update the config.toml files used by tests
  code/crates/test/app/config.toml
  code/examples/channel/config.toml
Due: none

Better comments
  code/crates/config/src/lib.rs
Due: none

added more links, adjusted warning note
  README.md
Due: none

feat(code): Implement Solution 2 for the RoundSync (#1032)
  code/crates/config/src/lib.rs
  code/crates/core-consensus/src/handle/driver.rs
  code/crates/core-consensus/src/handle/liveness.rs
  code/crates/core-consensus/src/handle/rebroadcast_timeout.rs
  code/crates/core-consensus/src/handle/timeout.rs
  code/crates/engine/src/consensus.rs
  code/crates/test/app/config.toml
  code/examples/channel/config.toml
  code/scripts/spawn.bash
Due: core, engine

Apply suggestions from code review
  code/crates/core-consensus/src/params.rs
Due: core

build history file
  .github/workflows/qa-history.yml
Due: none

Update qa-history.yml
  .github/workflows/qa-history.yml
Due: none

update
  .github/workflows/qa-history.yml
Due: none

remove backslash
  .github/workflows/qa-history.yml
Due: none

add urls
  .github/workflows/qa-history.yml
Due: none

Apply suggestions from code review
  code/crates/core-consensus/src/params.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-types/src/certificate.rs
  code/crates/core-types/src/timeout.rs
Due: core

Apply suggestions from code review
  code/crates/config/src/lib.rs
Due: none

Update comments
  code/crates/core-types/src/certificate.rs
Due: core

Remove the time limit related code
  code/crates/config/src/lib.rs
  code/crates/core-consensus/src/handle.rs
  code/crates/core-consensus/src/handle/driver.rs
  code/crates/core-consensus/src/handle/step_timeout.rs
  code/crates/core-consensus/src/handle/timeout.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-types/src/timeout.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/wal/entry.rs
  code/crates/metrics/src/metrics.rs
  code/crates/network/src/lib.rs
  code/crates/starknet/test/src/lib.rs
  code/crates/sync/src/handle.rs
  code/crates/test/app/config.toml
  code/crates/test/framework/src/params.rs
  code/crates/test/tests/it/main.rs
  code/examples/channel/config.toml
Due: core, engine, starknet

Increase wal_multi_rounds timeout
  code/crates/test/tests/it/wal.rs
Due: none

Remove the time limit related code (#1037)
  code/crates/config/src/lib.rs
  code/crates/core-consensus/src/handle.rs
  code/crates/core-consensus/src/handle/driver.rs
  code/crates/core-consensus/src/handle/step_timeout.rs
  code/crates/core-consensus/src/handle/timeout.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-types/src/timeout.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/wal/entry.rs
  code/crates/metrics/src/metrics.rs
  code/crates/network/src/lib.rs
  code/crates/starknet/test/src/lib.rs
  code/crates/sync/src/handle.rs
  code/crates/test/app/config.toml
  code/crates/test/framework/src/params.rs
  code/crates/test/tests/it/main.rs
  code/examples/channel/config.toml
Due: core, engine, starknet

More cleanup on timeout step
  code/crates/starknet/test/src/tests/vote_rebroadcast.rs
  code/crates/test/framework/src/params.rs
  code/crates/test/tests/it/vote_rebroadcast.rs
  code/crates/test/tests/it/wal.rs
  code/scripts/README.md
  code/scripts/spawn-tmux.bash
  code/scripts/spawn.bash
Due: starknet

Fix rebroadcast timeout decoding
  code/crates/engine/src/wal/entry.rs
Due: engine

Gracefully handle removed timeouts
  code/crates/engine/src/wal/entry.rs
Due: engine

the complete logic added, protos missing
  code/crates/core-consensus/src/effect.rs
  code/crates/core-consensus/src/handle/liveness.rs
  code/crates/core-consensus/src/handle/signature.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-types/src/certificate.rs
  code/crates/core-types/src/lib.rs
  code/crates/core-types/src/signing.rs
  code/crates/engine/src/consensus.rs
Due: core, engine

protos and encode/decode changes
  code/crates/core-types/src/certificate.rs
  code/crates/starknet/host/src/codec.rs
  code/crates/starknet/p2p-proto/proto/p2p/proto/consensus/liveness.proto
  code/crates/test/proto/liveness.proto
  code/crates/test/src/codec/proto/mod.rs
Due: core, starknet
