Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

codecov.yml:

codecov:
  require_ci_to_pass: yes

comment:
  layout: "header, diff, flags, components"

ignore:
  - "code/crates/test"
  - "code/crates/signing-ed25519"
  - "code/crates/proto"
  - "code/examples"

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - "code/crates/core-*/**"
    - component_id: engine
      name: engine
      paths:
        - "code/crates/engine/**"
    - component_id: app
      name: app
      paths:
        - "code/crates/app/**"
        - "code/crates/app-*/**"
    - component_id: starknet
      name: starknet
      paths:
        - "code/crates/starknet/**"

coverage:
  precision: 2
  round: nearest
  range: "50...90"

  status:
    project:
      default:
        target: auto
        threshold: 5%
        removed_code_behavior: adjust_base
        paths:
          - "code"
    patch:
      default:
        target: 0%
        threshold: 5%
        paths:
          - "code"

    changes:
      default:
        informational: true

fix(code/core-consensus): Verify vote extension on precommits
  code/crates/core-consensus/src/handle/vote.rs
  code/crates/core-consensus/src/types.rs
Due: core

work in progress, implementing mempool load actor
  code/crates/config/src/lib.rs
  code/crates/starknet/host/src/actor.rs
  code/crates/starknet/host/src/host/starknet.rs
  code/crates/starknet/host/src/lib.rs
  code/crates/starknet/host/src/mempool_load.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/starknet/host/src/utils/mod.rs
  code/crates/starknet/host/src/utils/ticker.rs
  code/crates/starknet/test/src/lib.rs
  code/crates/test/cli/src/cmd/distributed_testnet.rs
  code/crates/test/cli/src/new.rs
Due: starknet

set nonuniformload to all starknet configs
  code/crates/test/cli/src/cmd/distributed_testnet.rs
  code/crates/test/cli/src/new.rs
Due: none

code formatting
  code/crates/config/src/lib.rs
  code/crates/starknet/host/src/lib.rs
  code/crates/starknet/host/src/mempool_load.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/starknet/host/src/utils/ticker.rs
  code/crates/starknet/test/src/lib.rs
  code/crates/test/cli/src/cmd/distributed_testnet.rs
  code/crates/test/cli/src/new.rs
Due: starknet

added mempool_load to config
  code/crates/config/src/lib.rs
  code/examples/channel/config.toml
Due: none

fixed broadcasting in mempool_load
  code/crates/starknet/host/src/mempool_load.rs
Due: starknet

fixed config
  code/crates/config/src/lib.rs
  code/examples/channel/config.toml
Due: none

debug ips
  .github/workflows/qa.yml
Due: none

addressed minor pr comments
  code/crates/starknet/host/src/host/starknet.rs
  code/crates/starknet/host/src/mempool_load.rs
Due: starknet

formatting
  code/crates/starknet/host/src/mempool_load.rs
Due: starknet

full qa
  .github/workflows/qa.yml
Due: none

runner state_invariant check
  code/Cargo.lock
  code/crates/starknet/host/src/streaming.rs
  code/crates/test/mbt/Cargo.toml
  code/crates/test/mbt/log.json
  code/crates/test/mbt/src/streaming.rs
  code/crates/test/mbt/src/tests/streaming.rs
  code/crates/test/mbt/src/tests/streaming/runner.rs
  code/crates/test/mbt/src/tests/streaming/utils.rs
  code/crates/test/mempool/proto/google/protobuf/any.proto
  specs/starknet/block-streaming/part_stream.qnt
Due: starknet

reworked configuration
  code/crates/config/src/lib.rs
  code/crates/starknet/host/src/mempool.rs
  code/crates/starknet/host/src/mempool_load.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/starknet/test/src/lib.rs
  code/crates/test/cli/src/cmd/distributed_testnet.rs
  code/crates/test/cli/src/new.rs
  code/examples/channel/config.toml
Due: starknet

extended config with non_uniform_load types
  code/crates/config/src/lib.rs
  code/crates/starknet/host/src/mempool_load.rs
  code/crates/starknet/host/src/spawn.rs
  code/examples/channel/config.toml
Due: starknet

wip, nonuniform load
  code/crates/config/src/lib.rs
  code/crates/starknet/host/src/mempool_load.rs
  code/crates/starknet/test/src/lib.rs
Due: starknet

runner step
  code/Cargo.lock
  code/crates/starknet/host/src/streaming.rs
  code/crates/test/mbt/Cargo.toml
  code/crates/test/mbt/log.json
  code/crates/test/mbt/src/streaming.rs
  code/crates/test/mbt/src/tests/streaming.rs
  code/crates/test/mbt/src/tests/streaming/runner.rs
  code/crates/test/mbt/src/tests/streaming/utils.rs
Due: starknet

Early check for sync actor presence
  code/crates/engine/src/consensus.rs
Due: engine

code refactor
  code/crates/test/mbt/src/streaming.rs
  code/crates/test/mbt/src/tests/streaming/runner.rs
Due: none

Update protos for interop
  code/crates/starknet/p2p-proto/export-proto.sh
  code/crates/starknet/p2p-proto/proto/p2p/proto/consensus/consensus.proto
Due: starknet

deleted unnecessary comments
  code/crates/test/mbt/src/tests/streaming/runner.rs
Due: none

Add `ProposalCommitment` type
  code/crates/starknet/p2p-proto/src/lib.rs
  code/crates/starknet/p2p-types/src/lib.rs
  code/crates/starknet/p2p-types/src/proposal_commitment.rs
  code/crates/starknet/p2p-types/src/proposal_part.rs
Due: starknet

Add `BlockInfo` type
  code/crates/starknet/host/src/actor.rs
  code/crates/starknet/host/src/host/state.rs
  code/crates/starknet/p2p-types/src/block_info.rs
  code/crates/starknet/p2p-types/src/lib.rs
  code/crates/starknet/p2p-types/src/proposal_part.rs
Due: starknet

run malachite
  .github/workflows/qa.yml
  terraform/main.tf
Due: none

run malachite
  .github/workflows/qa.yml
Due: none

Update proposal building and assembly from parts to account for BlockInfo and ProposalCommitment
  code/crates/starknet/host/src/actor.rs
  code/crates/starknet/host/src/host/proposal.rs
  code/crates/starknet/host/src/host/state.rs
  code/crates/starknet/p2p-types/src/context.rs
  code/crates/starknet/p2p-types/src/context/impls.rs
  code/crates/starknet/p2p-types/src/lib.rs
  code/crates/starknet/p2p-types/src/proposal.rs
  code/crates/starknet/p2p-types/src/proposal_part.rs
  code/scripts/spawn.fish
Due: starknet
