Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

codecov.yml:

codecov:
  require_ci_to_pass: false

comment:
  layout: "header, diff, flags, components"

ignore:
  - "code/examples"
  - "code/crates/proto"
  - "code/crates/test/mempool"
  - "code/crates/test/proto"
  - "code/crates/test/cli"
  - "code/crates/signing-ed25519"
  - "code/crates/starknet/p2p-proto"
  - "code/crates/starknet/p2p-types"

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - "code/crates/core-consensus/**"
        - "code/crates/core-driver/**"
        - "code/crates/core-state-machine/**"
        - "code/crates/core-types/**"
        - "code/crates/core-votekeeper/**"
    - component_id: engine
      name: engine
      paths:
        - "code/crates/engine/**"
        - "code/crates/sync/**"
    - component_id: app
      name: app
      paths:
        - "code/crates/app/**"
        - "code/crates/app-channel/**"
    - component_id: starknet
      name: starknet
      paths:
        - "code/crates/starknet/**"

coverage:
  precision: 2
  round: nearest
  range: "50...90"

  status:
    project:
      default:
        target: auto
        threshold: 5%
        removed_code_behavior: adjust_base
        paths:
          - "code"
    patch:
      default:
        target: 0%
        threshold: 5%
        paths:
          - "code"

    changes:
      default:
        informational: true

Update metrics when clearing sync queue on restart
  code/crates/engine/src/sync.rs
Due: engine

Change type of SyncConfig::parallel_requests to usize
  code/crates/app/src/spawn.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/sync/src/config.rs
  code/crates/sync/src/handle.rs
  code/crates/sync/src/state.rs
Due: engine, app, starknet

Lower info log to debug
  code/crates/engine/src/sync.rs
Due: engine

Document why the sync queue is sized that way
  code/crates/engine/src/sync.rs
Due: engine

Fix outdated test
  code/examples/channel/src/config.rs
Due: none

feat(test): Use cargo-nextest facilities for assigning globally unique ports (#1469)
  code/crates/test/tests/it/main.rs
Due: none

ci: Ignore flaky test until fixed (#1468)
  code/crates/test/tests/it/equivocation.rs
Due: none

fmt(test): core-consensus it harness
  code/crates/core-consensus/tests/it/basic.rs
Due: core

test(core-consensus): add minimal deterministic harness + in-memory WAL capture/replay
  code/crates/core-consensus/tests/it/basic.rs
  code/crates/core-consensus/tests/it/main.rs
  code/crates/core-consensus/tests/it/utils.rs
Due: core

refactor(test): import process! macro + Error type
  code/crates/core-consensus/tests/it/basic.rs
Due: core

style(test): shorten core-consensus test paths
  code/crates/core-consensus/tests/it/basic.rs
Due: core

chore(code): remove `queue_capacity` from `config::ConsensusConfig`
  code/crates/app/src/spawn.rs
  code/crates/config/src/lib.rs
  code/crates/engine/src/config.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/lib.rs
  code/crates/starknet/host/src/node.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/starknet/test/src/lib.rs
  code/crates/test/app/src/config.rs
  code/crates/test/app/src/node.rs
  code/crates/test/tests/it/main.rs
  code/examples/channel/src/config.rs
  code/examples/channel/src/node.rs
Due: engine, app, starknet

fix: Reset `finalization_period` in `reset_and_start_height`
  code/crates/core-consensus/src/state.rs
Due: core

fix(app): Decide with extended certificate
  code/crates/starknet/host/src/actor.rs
  code/crates/starknet/host/src/block_store.rs
Due: starknet

chore: Fix typo
  code/crates/test/tests/it/finalization.rs
Due: none

chore: Remove now unused `UnexpectedInputInStep` error variant
  code/crates/core-consensus/src/error.rs
Due: core

doc: Expand doc comment on `finalization_period`
  code/crates/core-consensus/src/state.rs
Due: core

refactor: Small refactor in `decide` handler
  code/crates/core-consensus/src/handle/decide.rs
Due: core

feat(CCHAIN-890): Add finalization period for collecting additional precommits (#1447)
  code/Cargo.lock
  code/Cargo.toml
  code/crates/app-channel/src/connector.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/config/src/lib.rs
  code/crates/core-consensus/src/effect.rs
  code/crates/core-consensus/src/handle.rs
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/core-consensus/src/handle/finalize.rs
  code/crates/core-consensus/src/handle/start_height.rs
  code/crates/core-consensus/src/handle/timeout.rs
  code/crates/core-consensus/src/handle/vote.rs
  code/crates/core-consensus/src/input.rs
  code/crates/core-consensus/src/state.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/src/lib.rs
  code/crates/core-types/src/height_params.rs
  code/crates/core-types/src/timeout.rs
  code/crates/core-types/src/timeouts.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/host.rs
  code/crates/engine/src/util/events.rs
  code/crates/engine/src/wal/entry.rs
  code/crates/metrics/src/metrics.rs
  code/crates/starknet/host/src/actor.rs
  code/crates/starknet/host/src/block_store.rs
  code/crates/test/Cargo.toml
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/state.rs
  code/crates/test/framework/src/node.rs
  code/crates/test/framework/src/params.rs
  code/crates/test/tests/it/equivocation.rs
  code/crates/test/tests/it/finalization.rs
  code/crates/test/tests/it/main.rs
  code/crates/test/tests/it/value_sync.rs
  code/crates/test/tests/unit/certificates/commit.rs
  code/examples/channel/src/app.rs
Due: core, engine, app, starknet

docs: add glossary of consensus terms
  docs/GLOSSARY.md
Due: none

refactor: Refactored the scoring module to move per-peer state out of individual scoring strategies and into PeerScorer
  code/crates/app/src/spawn.rs
  code/crates/config/src/lib.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/sync/src/config.rs
  code/crates/sync/src/scoring.rs
  code/crates/sync/src/scoring/credit.rs
  code/crates/sync/src/scoring/ema.rs
  code/crates/sync/src/state.rs
Due: engine, app, starknet

fix: Use a minimum floor so that even the lowest-scoring retain a non-zero probability of being selected
  code/crates/sync/src/scoring.rs
Due: engine

docs: add repository structure overview
  README.md
Due: none

votekeeper: PrecommitValue and SkipRound test
  code/crates/core-votekeeper/tests/vote_keeper.rs
Due: core

vote-keeper: PrecommitValue output for future round
  code/crates/core-votekeeper/tests/vote_keeper.rs
Due: core

vote-keeper: SkipRound() when no threshould is met
  code/crates/core-votekeeper/src/keeper.rs
Due: core

keeper: only PrecommitValue overcomes SkipRound
  code/crates/core-votekeeper/src/keeper.rs
Due: core

docs: add Go Report Card badge to README
  README.md
Due: none

fix: Rename `OnDecision` to `OnStartedHeight`
  code/crates/engine/src/sync.rs
Due: engine

ci: Add check for verified commits
  .github/workflows/pr.yml
Due: none

ci: Always run required checks
  .github/workflows/rust.yml
Due: none

chore: Update release notes
  RELEASE_NOTES.md
Due: none

deps: Update to latest `libp2p-scatter`
  code/Cargo.lock
  code/Cargo.toml
  code/crates/app/src/spawn.rs
  code/crates/config/src/lib.rs
  code/crates/network/Cargo.toml
  code/crates/network/src/behaviour.rs
  code/crates/network/src/lib.rs
  code/crates/network/src/pubsub.rs
  code/crates/starknet/host/src/spawn.rs
Due: app, starknet

driver: test for round-1 decision during round 0
  code/crates/core-driver/tests/it/extra.rs
Due: core

driver: same tests but with invalid proposals
  code/crates/core-driver/tests/it/extra.rs
Due: core

driver: introduced test replaces existing one
  code/crates/core-driver/tests/it/extra.rs
Due: core
