Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

codecov.yml:

codecov:
  require_ci_to_pass: false

comment:
  layout: "header, diff, flags, components"

ignore:
  - "code/examples"
  - "code/crates/proto"
  - "code/crates/test/mempool"
  - "code/crates/test/proto"
  - "code/crates/test/cli"
  - "code/crates/signing-ed25519"
  - "code/crates/starknet/p2p-proto"
  - "code/crates/starknet/p2p-types"

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - "code/crates/core-consensus/**"
        - "code/crates/core-driver/**"
        - "code/crates/core-state-machine/**"
        - "code/crates/core-types/**"
        - "code/crates/core-votekeeper/**"
    - component_id: engine
      name: engine
      paths:
        - "code/crates/engine/**"
        - "code/crates/sync/**"
    - component_id: app
      name: app
      paths:
        - "code/crates/app/**"
        - "code/crates/app-channel/**"
    - component_id: starknet
      name: starknet
      paths:
        - "code/crates/starknet/**"

coverage:
  precision: 2
  round: nearest
  range: "50...90"

  status:
    project:
      default:
        target: auto
        threshold: 5%
        removed_code_behavior: adjust_base
        paths:
          - "code"
    patch:
      default:
        target: 0%
        threshold: 5%
        paths:
          - "code"

    changes:
      default:
        informational: true

feat: credit partial sync responses via PartialSuccess scoring
  BREAKING_CHANGES.md
  RELEASE_NOTES.md
  code/crates/sync/src/handle.rs
  code/crates/sync/src/scoring.rs
  code/crates/sync/src/scoring/ema.rs
Due: engine

docs: Add ADR 009 Integration Test Framework
  docs/architecture/README.md
  docs/architecture/adr-009-test-framework.md
Due: none

refactor: remove untyped sign_bytes; promote PoV methods
  BREAKING_CHANGES.md
  RELEASE_NOTES.md
  code/crates/app-channel/src/run.rs
  code/crates/core-types/src/validator_proof.rs
  code/crates/signing/src/ext.rs
  code/crates/signing/src/lib.rs
  code/crates/test/app/src/node.rs
  code/crates/test/src/signing.rs
  code/crates/test/tests/unit/main.rs
  code/crates/test/tests/unit/validator_proof.rs
Due: core, app

fix: Match `ProposalOnly` and `ValueOnly` entries by value id only
  code/crates/core-consensus/src/full_proposal.rs
  code/crates/core-consensus/src/state.rs
  code/crates/core-consensus/src/types.rs
  code/crates/core-consensus/tests/full_proposal.rs
  code/crates/engine-byzantine/src/config.rs
  code/crates/engine-byzantine/src/inbound.rs
  code/crates/engine-byzantine/src/lib.rs
  code/crates/engine-byzantine/src/middleware.rs
  code/crates/engine-byzantine/src/proxy.rs
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/node.rs
  code/crates/test/app/src/state.rs
  code/crates/test/store/src/keys.rs
  code/crates/test/store/src/lib.rs
  code/crates/test/tests/it/byzantine_engine.rs
Due: core

feat: log equivocation evidence at finalization
  code/Cargo.lock
  code/crates/engine/Cargo.toml
  code/crates/engine/src/consensus.rs
Due: engine

chore: fix clippy warnings
  code/crates/core-votekeeper/src/keeper.rs
  code/crates/test/tests/unit/certificates/commit.rs
  code/crates/test/tests/unit/certificates/polka.rs
  code/crates/test/tests/unit/certificates/round.rs
Due: core

fix: clear scheduled timeouts on round skip
  RELEASE_NOTES.md
  code/crates/core-driver/tests/it/basic.rs
  code/crates/core-state-machine/src/state.rs
Due: core

fix: Reject certificates with any invalid signature
  code/crates/signing/src/ext.rs
  code/crates/test/tests/unit/certificates/commit.rs
  code/crates/test/tests/unit/certificates/mod.rs
  code/crates/test/tests/unit/certificates/polka.rs
  code/crates/test/tests/unit/certificates/round.rs
Due: none

feat: decouple Byzantine engine from TestContext and add channel-app builder hook
  BREAKING_CHANGES.md
  RELEASE_NOTES.md
  code/Cargo.lock
  code/crates/app-channel/Cargo.toml
  code/crates/app-channel/src/builder.rs
  code/crates/app-channel/src/lib.rs
  code/crates/engine-byzantine/Cargo.toml
  code/crates/engine-byzantine/src/amnesia.rs
  code/crates/engine-byzantine/src/config.rs
  code/crates/engine-byzantine/src/lib.rs
  code/crates/engine-byzantine/src/middleware.rs
  code/crates/engine-byzantine/src/proxy.rs
  code/crates/engine-byzantine/tests/amnesia.rs
  code/crates/test/Cargo.toml
  code/crates/test/app/Cargo.toml
  code/crates/test/app/src/node.rs
  code/crates/test/src/byzantine.rs
  code/crates/test/src/lib.rs
Due: app

fix: roll back sync_height when sync retry fails to send or find a peer
  code/crates/sync/src/handle.rs
Due: engine

fix: penalize peer on value processing error
  code/crates/sync/src/handle.rs
Due: engine

fix: drop synced values whose id mismatches the commit certificate
  RELEASE_NOTES.md
  code/crates/engine/src/consensus.rs
Due: engine

fix: Do not forward sync value to host if we have a decision
  code/crates/core-consensus/src/handle/sync.rs
  code/crates/core-consensus/tests/sync_cert_verification.rs
Due: core

fix: break network loop on event channel send failure
  code/crates/network/src/lib.rs
Due: none

fix: Remove stale metric on peer disconnect
  code/crates/network/src/metrics.rs
  code/crates/test/src/middleware.rs
Due: none

fix(sync): ignore stale invalid value responses
  code/crates/sync/src/handle.rs
Due: engine

docs: add missing crate readmes
  code/crates/app-channel/README.md
  code/crates/app/README.md
  code/crates/codec/README.md
  code/crates/config/README.md
  code/crates/core-driver/README.md
  code/crates/core-state-machine/README.md
  code/crates/core-types/README.md
  code/crates/core-votekeeper/README.md
  code/crates/engine-byzantine/README.md
  code/crates/engine/README.md
  code/crates/metrics/README.md
  code/crates/network/README.md
  code/crates/peer/README.md
  code/crates/proto/README.md
  code/crates/signing-ecdsa/README.md
  code/crates/signing-ed25519/README.md
  code/crates/signing/README.md
  code/crates/sync/README.md
  code/crates/test/README.md
  code/crates/wal/README.md
Due: core, engine, app

ci(pr-gate): declare explicit workflow permissions
  .github/workflows/pr-gate.yml
Due: none

ci(pr-gate): skip team handles in CODEOWNERS parsing
  .github/workflows/pr-gate.yml
Due: none

ci(pr-gate): compose /assign across codeowners and within comments
  .github/workflows/pr-gate.yml
Due: none

ci(pr-gate): extract rejection messages into template files
  .github/pr-gate-messages/default.md
  .github/pr-gate-messages/issue_not_found.md
  .github/pr-gate-messages/no_issue_reference.md
  .github/pr-gate-messages/not_assigned_to_issue.md
  .github/workflows/pr-gate.yml
Due: none

ci(pr-gate): allow outside collaborators with explicit repo access
  .github/workflows/pr-gate.yml
Due: none

ci(pr-gate): add denounce list to auto-close known bad actors
  .github/DENOUNCED
  .github/pr-gate-messages/denounced.md
  .github/workflows/pr-gate.yml
Due: none

ci(pr-gate): add vouched allowlist for trusted external contributors
  .github/VOUCHED
  .github/workflows/pr-gate.yml
Due: none

ci(pr-gate): consolidate eligibility ladder into a single script
  .github/workflows/pr-gate.yml
Due: none

ci(pr-gate): extract workflow scripts to .github/scripts/pr-gate/
  .github/scripts/pr-gate/close.js
  .github/scripts/pr-gate/evaluate.js
  .github/workflows/pr-gate.yml
Due: none

ci(pr-gate): add tests for evaluate.js and close.js
  .github/scripts/pr-gate/close.test.js
  .github/scripts/pr-gate/evaluate.test.js
Due: none

ci(pr-gate): add CI to run the pr-gate script tests
  .github/workflows/pr-gate-scripts.yml
Due: none

refactor(sync): remove duplicate height validation in on_value_response
  code/crates/sync/src/handle.rs
Due: engine

chore: Port downstream fork commits upstream (#1559)
  code/crates/sync/src/handle.rs
Due: engine

fix(sync): suppress routine tip-floor warn in `set_sync_height`
  code/crates/core-consensus/src/handle/vote.rs
  code/crates/sync/src/handle.rs
Due: core, engine

fix: persist `PolkaCertificate` to the WAL
  BREAKING_CHANGES.md
  code/crates/core-consensus/src/handle/liveness.rs
  code/crates/core-consensus/src/types.rs
  code/crates/core-consensus/tests/restart_validation.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/wal.rs
  code/crates/engine/src/wal/entry.rs
  code/crates/engine/src/wal/thread.rs
  code/crates/test/src/codec/proto/mod.rs
  code/crates/test/tests/unit/main.rs
  code/crates/test/tests/unit/wal_codec.rs
Due: core, engine

fix: defer WAL reset until certificate applies
  code/crates/engine/src/consensus.rs
  code/crates/test/tests/it/wal.rs
Due: engine

chore: Port downstream fork commits upstream (#1561)
  BREAKING_CHANGES.md
  code/crates/core-consensus/src/handle/liveness.rs
  code/crates/core-consensus/src/handle/vote.rs
  code/crates/core-consensus/src/types.rs
  code/crates/core-consensus/tests/restart_validation.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/wal.rs
  code/crates/engine/src/wal/entry.rs
  code/crates/engine/src/wal/thread.rs
  code/crates/sync/src/handle.rs
  code/crates/test/src/codec/proto/mod.rs
  code/crates/test/tests/it/wal.rs
  code/crates/test/tests/unit/main.rs
  code/crates/test/tests/unit/wal_codec.rs
Due: core, engine

Revert "chore: Port downstream fork commits upstream (#1561)"
  BREAKING_CHANGES.md
  code/crates/core-consensus/src/handle/liveness.rs
  code/crates/core-consensus/src/handle/vote.rs
  code/crates/core-consensus/src/types.rs
  code/crates/core-consensus/tests/restart_validation.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/wal.rs
  code/crates/engine/src/wal/entry.rs
  code/crates/engine/src/wal/thread.rs
  code/crates/sync/src/handle.rs
  code/crates/test/src/codec/proto/mod.rs
  code/crates/test/tests/it/wal.rs
  code/crates/test/tests/unit/main.rs
  code/crates/test/tests/unit/wal_codec.rs
Due: core, engine

feat(spec): add agreement witness and inductive proof harness
  specs/consensus/quint/tests/agreement/README.md
  specs/consensus/quint/tests/agreement/agreementInductive.qnt
  specs/consensus/quint/tests/agreement/agreementRun.qnt
  specs/consensus/quint/tests/agreement/agreementTest.qnt
Due: none

chore(ci): bump GitHub Actions to Node 24
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/links.yml
  .github/workflows/mbt.yml
  .github/workflows/need-triage-label.yml
  .github/workflows/pr-gate.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/quint.yml
  .github/workflows/rust.yml
  .github/workflows/semver.yml
  .github/workflows/todo-tracking.yml
  .github/workflows/typos.yml
Due: none

chore(ci): bump GitHub Actions to Node 24 (#1564)
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/links.yml
  .github/workflows/mbt.yml
  .github/workflows/need-triage-label.yml
  .github/workflows/pr-gate.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/quint.yml
  .github/workflows/rust.yml
  .github/workflows/semver.yml
  .github/workflows/todo-tracking.yml
  .github/workflows/typos.yml
Due: none

fix: preserve rewound sync_height after concurrent re-request
  RELEASE_NOTES.md
  code/crates/sync/src/handle.rs
Due: engine

fix(sync): preserve rewound `sync_height` after concurrent re-request (#1567)
  RELEASE_NOTES.md
  code/crates/sync/src/handle.rs
Due: engine
