Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

codecov.yml:

codecov:
  require_ci_to_pass: false

comment:
  layout: "header, diff, flags, components"

ignore:
  - "code/examples"
  - "code/crates/proto"
  - "code/crates/test/mempool"
  - "code/crates/test/proto"
  - "code/crates/test/cli"
  - "code/crates/signing-ed25519"
  - "code/crates/starknet/p2p-proto"
  - "code/crates/starknet/p2p-types"

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - "code/crates/core-consensus/**"
        - "code/crates/core-driver/**"
        - "code/crates/core-state-machine/**"
        - "code/crates/core-types/**"
        - "code/crates/core-votekeeper/**"
    - component_id: engine
      name: engine
      paths:
        - "code/crates/engine/**"
        - "code/crates/sync/**"
    - component_id: app
      name: app
      paths:
        - "code/crates/app/**"
        - "code/crates/app-channel/**"
    - component_id: starknet
      name: starknet
      paths:
        - "code/crates/starknet/**"

coverage:
  precision: 2
  round: nearest
  range: "50...90"

  status:
    project:
      default:
        target: auto
        threshold: 5%
        removed_code_behavior: adjust_base
        paths:
          - "code"
    patch:
      default:
        target: 0%
        threshold: 5%
        paths:
          - "code"

    changes:
      default:
        informational: true

Fix WAL actor deadlock on Append errors
  code/crates/engine/src/wal/thread.rs
Due: engine

docs: ADR on WAL, replay impl discussion
  docs/architecture/adr-006-write-ahead-log.md
Due: none

Threaded evidence through `HostMsg` and `AppMsg`
  code/crates/app-channel/src/connector.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/app/src/types.rs
  code/crates/core-consensus/src/effect.rs
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/core-votekeeper/src/keeper.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/host.rs
  code/crates/engine/src/util/events.rs
  code/crates/test/app/src/app.rs
  code/crates/test/framework/src/node.rs
  code/crates/test/tests/it/equivocation.rs
  code/examples/channel/src/app.rs
Due: core, engine, app

docs: ADR on WAL, start of Decision session
  docs/architecture/adr-006-write-ahead-log.md
Due: none

docs: ADR on WAL, reset, replay, persistence
  docs/architecture/adr-006-write-ahead-log.md
Due: none

feat(app-channel): Add builder pattern for custom actor injection
  code/crates/app-channel/src/builder.rs
  code/crates/app-channel/src/lib.rs
  code/crates/app-channel/src/run.rs
  code/crates/test/app/src/node.rs
  code/examples/channel/src/node.rs
Due: app

Builder enums
  code/crates/app-channel/src/builder.rs
Due: app

Cleanup API
  code/crates/app-channel/src/builder.rs
  code/crates/app-channel/src/run.rs
Due: app

Move check for non-zero sync batch size to `spawn_sync_actor`
  code/crates/app-channel/src/builder.rs
  code/crates/app/src/spawn.rs
Due: app

refactor(sync): Sync actor notifies Consensus of sync responses
  code/crates/app-channel/src/run.rs
  code/crates/app/src/spawn.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/sync.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/sync/src/effect.rs
  code/crates/sync/src/handle.rs
Due: engine, app, starknet

chore(sync): Remove unused metrics from sync `Behaviour`
  code/crates/network/src/behaviour.rs
  code/crates/sync/src/behaviour.rs
Due: engine

Discovery peers request rate limiter
  code/crates/discovery/src/handlers/close.rs
  code/crates/discovery/src/handlers/peers_request.rs
  code/crates/discovery/src/lib.rs
  code/crates/discovery/src/rate_limiter.rs
Due: none

Cargo fmt
  code/crates/discovery/src/rate_limiter.rs
Due: none

Add release note
  RELEASE_NOTES.md
Due: none

Remove outdated TODOs
  code/examples/channel/src/app.rs
Due: none

Add `ReceivedProposal` host message for `proposal-only` mode
  code/crates/app-channel/src/connector.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/config/src/lib.rs
  code/crates/core-consensus/src/handle/proposal.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/host.rs
  code/crates/starknet/host/src/actor.rs
  code/crates/test/app/src/app.rs
  code/examples/channel/src/app.rs
Due: core, engine, app, starknet

Fix test app to log Proposal message
  code/crates/test/app/src/app.rs
Due: none

Cleanup
  code/crates/test/app/src/app.rs
  code/examples/channel/src/app.rs
Due: none

Only expect ProposedValue response when the app runs in `proposal-only` mode
  code/crates/app-channel/src/connector.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/host.rs
  code/examples/channel/src/app.rs
Due: engine, app

Cleanup
  code/crates/engine/src/consensus.rs
Due: engine

Always orward proposal to host unless we are in parts-only mode
  code/crates/engine/src/consensus.rs
Due: engine

Add release notes
  RELEASE_NOTES.md
Due: none

chore: Update release date of v0.6.0
  RELEASE_NOTES.md
Due: none

Integration test generates evidence + added description in architecture
  ARCHITECTURE.md
  code/crates/core-consensus/src/types.rs
  code/crates/test/app/src/node.rs
  code/crates/test/framework/src/params.rs
  code/crates/test/tests/it/equivocation.rs
  code/crates/test/tests/it/main.rs
Due: core

Removed `inject`
  code/crates/starknet/host/src/node.rs
  code/crates/test/app/src/node.rs
  code/crates/test/framework/src/lib.rs
  code/crates/test/framework/src/node.rs
  code/crates/test/src/node.rs
  code/crates/test/tests/it/main.rs
  code/examples/channel/src/node.rs
Due: starknet

Record dialed or connection src address/port in PeerInfo
  code/crates/network/src/state.rs
Due: none

Clear both violations and requests when violations expire
  code/crates/discovery/src/rate_limiter.rs
Due: none

Remove unnecessary is_enabled() check from handle_peers_request
  code/crates/discovery/src/handlers/peers_request.rs
Due: none

lint warnings
  code/crates/core-driver/src/proposal_keeper.rs
  code/crates/core-types/src/lib.rs
  code/crates/core-votekeeper/src/evidence.rs
  code/crates/engine/src/util/events.rs
  code/crates/starknet/host/src/node.rs
  code/crates/test/app/src/node.rs
  code/crates/test/framework/src/node.rs
  code/crates/test/src/node.rs
  code/examples/channel/src/node.rs
Due: core, engine, starknet

chore: add .editorconfig for consistent coding style
  .editorconfig
Due: none

docs: add bug report issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

chore: add .gitattributes for consistent line endings
  .gitattributes
Due: none

chore: add stale bot configuration
  .github/stale.yml
Due: none

chore: add .gitattributes file
  .gitattributes
Due: none

docs: add CITATION.cff for academic referencing
  CITATION.cff
Due: none

chore: add .dockerignore for cleaner builds
  .dockerignore
Due: none

chore: add clippy configuration for code quality
  .clippy.toml
Due: none

docs: ADR on WAL, sync vs async persistenc
  docs/architecture/adr-006-write-ahead-log.md
Due: none
