Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

codecov.yml:

codecov:
  require_ci_to_pass: false

comment:
  layout: "header, diff, flags, components"

ignore:
  - "code/examples"
  - "code/crates/proto"
  - "code/crates/test/mempool"
  - "code/crates/test/proto"
  - "code/crates/test/cli"
  - "code/crates/signing-ed25519"
  - "code/crates/starknet/p2p-proto"
  - "code/crates/starknet/p2p-types"

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - "code/crates/core-consensus/**"
        - "code/crates/core-driver/**"
        - "code/crates/core-state-machine/**"
        - "code/crates/core-types/**"
        - "code/crates/core-votekeeper/**"
    - component_id: engine
      name: engine
      paths:
        - "code/crates/engine/**"
        - "code/crates/sync/**"
    - component_id: app
      name: app
      paths:
        - "code/crates/app/**"
        - "code/crates/app-channel/**"
    - component_id: starknet
      name: starknet
      paths:
        - "code/crates/starknet/**"

coverage:
  precision: 2
  round: nearest
  range: "50...90"

  status:
    project:
      default:
        target: auto
        threshold: 5%
        removed_code_behavior: adjust_base
        paths:
          - "code"
    patch:
      default:
        target: 0%
        threshold: 5%
        paths:
          - "code"

    changes:
      default:
        informational: true

remove unnecessary restore_votes
  code/crates/core-consensus/src/state.rs
Due: core

remove Ord trait from Vote and use Vec instead of BTreeSet
  code/crates/core-types/src/vote.rs
  code/crates/core-votekeeper/src/keeper.rs
Due: core

set an initial capacity to avoid re-allocations
  code/crates/core-votekeeper/src/keeper.rs
Due: core

Buffer full sync response for higher heights, value and certificate
  code/crates/core-consensus/src/effect.rs
  code/crates/core-consensus/src/handle.rs
  code/crates/core-consensus/src/handle/sync.rs
  code/crates/core-consensus/src/input.rs
  code/crates/core-consensus/src/prelude.rs
  code/crates/core-types/src/certificate.rs
  code/crates/core-types/src/lib.rs
  code/crates/engine/src/consensus.rs
Due: core, engine

refactor(tests): one peer filtering test with structured test cases
  code/crates/test/Cargo.toml
  code/crates/test/tests/unit/sync.rs
Due: none

Rename ValueResponse to SyncValueResponse
  code/crates/core-consensus/src/handle.rs
  code/crates/core-consensus/src/handle/sync.rs
  code/crates/core-consensus/src/input.rs
  code/crates/engine/src/consensus.rs
Due: core, engine

Update release notes and breaking changes
  BREAKING_CHANGES.md
  RELEASE_NOTES.md
Due: none

fix(code): Update consensus queue capacity calculation to include `sync.batch_size`
  code/crates/app/src/spawn.rs
  code/crates/config/src/lib.rs
  code/crates/starknet/host/src/spawn.rs
Due: app, starknet

refactor(code)!: Restore `GetDecidedValues` to `GetDecidedValue` and fetch values from app one by one
  BREAKING_CHANGES.md
  code/crates/app-channel/src/connector.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/engine/src/host.rs
  code/crates/engine/src/sync.rs
  code/crates/starknet/host/src/actor.rs
  code/crates/sync/src/handle.rs
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/state.rs
  code/crates/test/app/src/store.rs
  code/examples/channel/src/app.rs
  code/examples/channel/src/state.rs
  code/examples/channel/src/store.rs
Due: engine, app, starknet

refactor(code): Simplify sync message handling by removing request_id from InvalidValue and ValueProcessingError
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/sync.rs
  code/crates/sync/src/handle.rs
  code/crates/sync/src/state.rs
Due: engine

Update breaking changes
  BREAKING_CHANGES.md
Due: none

Bump version to 0.5.0
  code/Cargo.toml
Due: none

Update changelog, releases notes, breaking changes
  BREAKING_CHANGES.md
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Remove automatically generated changelog
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

chore(code/sync): keep track of peer for pending requests
  code/Cargo.lock
  code/crates/core-types/src/value.rs
  code/crates/engine/src/consensus.rs
  code/crates/sync/src/handle.rs
  code/crates/sync/src/state.rs
Due: core, engine

Post-merge commit
  code/Cargo.lock
Due: none

Restore check for seen votes
  code/crates/core-consensus/src/handle/vote.rs
  code/crates/core-votekeeper/src/keeper.rs
Due: core

Show warning in case value response origin does not match expected peer
  code/crates/sync/src/handle.rs
  code/crates/sync/src/state.rs
Due: engine

Cleanup
  code/crates/sync/src/state.rs
Due: engine

fix(qa): Mount source directory as read-write
  qa/docker/Dockerfile
Due: none

chore: remove redundant words
  code/crates/engine/src/host.rs
  code/crates/test/app/src/state.rs
  code/examples/channel/src/state.rs
  docs/tutorials/channels.md
Due: engine

feat(code/core): make SigningProvider async
  code/Cargo.lock
  code/crates/core-types/Cargo.toml
  code/crates/core-types/src/signing.rs
  code/crates/engine/src/consensus.rs
  code/crates/test/src/signing.rs
  code/crates/test/tests/unit/certificates/commit.rs
  code/crates/test/tests/unit/certificates/mod.rs
  code/crates/test/tests/unit/certificates/polka.rs
  code/crates/test/tests/unit/certificates/round.rs
Due: core, engine

feat(code/network): Make GossipSub topic names configurable
  code/crates/app/src/spawn.rs
  code/crates/network/src/channel.rs
  code/crates/network/src/lib.rs
  code/crates/network/src/pubsub.rs
  code/crates/network/test/src/lib.rs
  code/crates/starknet/host/src/spawn.rs
Due: app, starknet

Update release notes
  RELEASE_NOTES.md
Due: none

fix: failing CI
  code/Cargo.lock
  code/crates/core-consensus/Cargo.toml
  code/crates/core-consensus/tests/full_proposal.rs
  code/crates/starknet/p2p-types/Cargo.toml
  code/crates/starknet/p2p-types/src/signing.rs
Due: core

Make better defaults
  code/crates/config/src/lib.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/sync.rs
  code/crates/sync/src/config.rs
  code/crates/sync/src/state.rs
  code/crates/test/app/config.toml
  code/examples/channel/config.toml
Due: engine

fix: async tests
  code/Cargo.lock
  code/crates/core-consensus/Cargo.toml
  code/crates/core-consensus/tests/full_proposal.rs
  code/crates/engine/src/consensus.rs
  code/crates/starknet/p2p-types/src/signing.rs
  code/crates/test/Cargo.toml
  code/crates/test/src/signing.rs
  code/crates/test/tests/unit/certificates/commit.rs
  code/crates/test/tests/unit/certificates/polka.rs
  code/crates/test/tests/unit/certificates/round.rs
Due: core, engine

Make tests sync again by using `block_on`
  code/crates/core-consensus/tests/full_proposal.rs
  code/crates/test/tests/unit/certificates/commit.rs
  code/crates/test/tests/unit/certificates/mod.rs
  code/crates/test/tests/unit/certificates/polka.rs
  code/crates/test/tests/unit/certificates/round.rs
Due: core

Cleanup
  code/crates/core-consensus/tests/full_proposal.rs
Due: core

Formatting
  code/crates/starknet/p2p-types/Cargo.toml
  code/crates/test/tests/unit/certificates/commit.rs
  code/crates/test/tests/unit/certificates/round.rs
Due: none

Formatting, part 2
  code/crates/test/tests/unit/certificates/polka.rs
Due: none

Add failing test for restart height
  code/crates/sync/src/handle.rs
  code/crates/test/tests/it/value_sync.rs
Due: engine

Formatting
  code/crates/sync/src/handle.rs
Due: engine

Update default params in `spawn-tmux.bash` script
  code/scripts/spawn-tmux.bash
Due: none

refactor: fix comments on valid value
  code/crates/sync/src/handle.rs
Due: engine

fix comment
  code/crates/sync/src/state.rs
Due: engine

fix comment
  code/crates/sync/src/config.rs
Due: engine

On restart height: - empty state.msg_buffer - empty state.consensus.input_queue
  code/crates/core-consensus/src/handle.rs
  code/crates/core-consensus/src/handle/start_height.rs
  code/crates/core-consensus/src/input.rs
  code/crates/engine/src/consensus.rs
Due: core, engine

clear pending requests on reset height
  code/crates/sync/src/handle.rs
Due: engine
