Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

driver: SkipRound(r) when PrecommitValue(v, r) fails
  code/crates/core-driver/src/mux.rs
  code/crates/core-driver/tests/it/extra.rs
Due: core

Fix comment
  code/crates/discovery/src/rate_limiter.rs
Due: none

driver: valid_proposal_for_round_and_value method
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/src/mux.rs
Due: core

driver: commit certificate for invalid value test
  code/crates/core-driver/tests/it/extra.rs
Due: core

Simplify RateLimitResult enum to three-state variant
  code/crates/discovery/src/handlers/peers_request.rs
  code/crates/discovery/src/rate_limiter.rs
Due: none

driver: commit certificate + invalid value = timeout
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/src/mux.rs
Due: core

feat(sync): Add eager status update mode for sync actor (#1452)
  RELEASE_NOTES.md
  code/crates/engine/src/sync.rs
  code/crates/sync/src/handle.rs
  code/crates/sync/src/state.rs
  code/crates/test/app/config.toml
  code/crates/test/framework/src/params.rs
  code/crates/test/tests/it/value_sync.rs
  code/examples/channel/config.toml
Due: engine

driver: fixing introduced compilation error
  code/crates/core-driver/src/mux.rs
Due: core

fix(sync): Deduplicate buffered sync values on InvalidValue
  code/crates/core-consensus/src/util/bounded_queue.rs
  code/crates/engine/src/sync.rs
  code/crates/sync/src/effect.rs
  code/crates/sync/src/handle.rs
  code/crates/sync/src/types.rs
Due: core, engine

chore: Rename `remove_fully_validated_requests` to `prune_pending_requests`
  code/crates/sync/src/handle.rs
  code/crates/sync/src/state.rs
Due: engine

test(core-consensus): update StartHeight calls for Option<Duration>
  code/crates/core-consensus/tests/it/basic.rs
Due: core

feat(CCHAIN-876): Discovery peers request rate limiter (#1416)
  code/crates/discovery/src/handlers/close.rs
  code/crates/discovery/src/handlers/peers_request.rs
  code/crates/discovery/src/lib.rs
  code/crates/discovery/src/rate_limiter.rs
Due: none

feat(network)!: require PeerId in persistent_peers
  BREAKING_CHANGES.md
  RELEASE_NOTES.md
  code/Cargo.lock
  code/crates/discovery/src/lib.rs
  code/crates/network/src/lib.rs
  code/crates/network/src/state.rs
  code/crates/network/test/src/lib.rs
  code/crates/network/test/tests/ip_limits.rs
  code/crates/network/test/tests/persistent_peers.rs
  code/crates/starknet/host/src/node.rs
  code/crates/starknet/test/Cargo.toml
  code/crates/starknet/test/src/lib.rs
  code/crates/test/app/src/node.rs
  code/crates/test/tests/it/main.rs
Due: starknet

box err
  code/crates/network/src/lib.rs
  code/crates/network/src/state.rs
  code/crates/network/test/tests/ip_limits.rs
  code/crates/network/test/tests/persistent_peers.rs
  code/crates/starknet/test/src/lib.rs
  code/crates/test/tests/it/main.rs
Due: starknet

simplify err msg
  code/crates/network/src/lib.rs
  code/crates/network/src/state.rs
Due: none

test: add security-focused certificate signature verification tests
  code/crates/test/tests/unit/certificates/commit.rs
  code/crates/test/tests/unit/certificates/mod.rs
  code/crates/test/tests/unit/certificates/polka.rs
  code/crates/test/tests/unit/certificates/round.rs
Due: none

Make validator rotation configurable in channel example, disabled by default
  code/examples/channel/config.toml
  code/examples/channel/src/config.rs
  code/examples/channel/src/node.rs
  code/examples/channel/src/state.rs
Due: none

Always respect target_time regardless of sync decision, unify finalization via timeout path
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/core-consensus/src/handle/finalize.rs
Due: core

Send valid extended certificate in Finalize, add test
  code/crates/core-consensus/src/handle/finalize.rs
  code/crates/core-types/src/certificate.rs
  code/crates/test/tests/it/value_sync.rs
Due: core

chore: add .editorconfig for consistent coding style
  .editorconfig
Due: none

feat(examples/channel): Make validator rotation configurable in channel example, disabled by default (#1487)
  code/examples/channel/config.toml
  code/examples/channel/src/config.rs
  code/examples/channel/src/node.rs
  code/examples/channel/src/state.rs
Due: none

Add explicit peering configuration and handling
  code/crates/app/src/spawn.rs
  code/crates/config/src/lib.rs
  code/crates/network/src/behaviour.rs
  code/crates/network/src/lib.rs
  code/crates/starknet/host/src/spawn.rs
Due: app, starknet

Add metrics for explicit peers
  code/crates/network/src/lib.rs
  code/crates/network/src/metrics.rs
Due: none

Add tests for evidence de-duplication
  code/crates/core-driver/src/proposal_keeper.rs
  code/crates/core-driver/tests/it/evidence.rs
  code/crates/core-driver/tests/it/main.rs
  code/crates/core-votekeeper/tests/evidence.rs
Due: core

Fix fmt
  code/crates/core-driver/tests/it/evidence.rs
  code/crates/core-votekeeper/tests/evidence.rs
Due: core

Deduplicate evidence
  code/crates/core-driver/src/proposal_keeper.rs
  code/crates/core-votekeeper/src/evidence.rs
Due: core

Add tests for evidence collection during finalization window
  code/crates/core-consensus/tests/finalization_evidence.rs
Due: core

Record all votes during finalization period for equivocation detection
  code/crates/core-consensus/src/handle/vote.rs
Due: core

Move additional_precommits metric update in driver.rs, after height check, and check it matches decision round and value
  code/crates/core-consensus/src/handle/driver.rs
  code/crates/core-consensus/src/handle/vote.rs
Due: core

Increment rebroadcast timeout only when the timer expires
  code/crates/core-consensus/src/handle/driver.rs
Due: core

chore(CCHAIN-1103): Deduplicate vote and proposal evidence (#1492)
  code/crates/core-consensus/src/handle/driver.rs
  code/crates/core-consensus/src/handle/vote.rs
  code/crates/core-consensus/tests/finalization_evidence.rs
  code/crates/core-driver/src/proposal_keeper.rs
  code/crates/core-driver/tests/it/evidence.rs
  code/crates/core-driver/tests/it/main.rs
  code/crates/core-votekeeper/src/evidence.rs
  code/crates/core-votekeeper/tests/evidence.rs
Due: core

docs: add Go Reference badge
  README.md
Due: none

Rename all crates
  code/Cargo.toml
  code/crates/app-channel/Cargo.toml
  code/crates/app/Cargo.toml
  code/crates/codec/Cargo.toml
  code/crates/config/Cargo.toml
  code/crates/core-consensus/Cargo.toml
  code/crates/core-driver/Cargo.toml
  code/crates/core-state-machine/Cargo.toml
  code/crates/core-types/Cargo.toml
  code/crates/core-votekeeper/Cargo.toml
  code/crates/discovery/Cargo.toml
  code/crates/engine/Cargo.toml
  code/crates/metrics/Cargo.toml
  code/crates/network/Cargo.toml
  code/crates/network/test/Cargo.toml
  code/crates/peer/Cargo.toml
  code/crates/proto/Cargo.toml
  code/crates/signing-ecdsa/Cargo.toml
  code/crates/signing-ed25519/Cargo.toml
  code/crates/signing/Cargo.toml
  code/crates/starknet/app/Cargo.toml
  code/crates/starknet/host/Cargo.toml
  code/crates/starknet/p2p-proto/Cargo.toml
  code/crates/starknet/p2p-types/Cargo.toml
  code/crates/starknet/test/Cargo.toml
  code/crates/starknet/test/mbt/Cargo.toml
  code/crates/sync/Cargo.toml
  code/crates/test/Cargo.toml
  code/crates/test/app/Cargo.toml
  code/crates/test/cli/Cargo.toml
  code/crates/test/framework/Cargo.toml
  code/crates/test/mbt/Cargo.toml
  code/crates/test/mempool/Cargo.toml
  code/crates/wal/Cargo.toml
  code/examples/channel/Cargo.toml
Due: core, engine, app, starknet

Fix remaining stale references
  code/crates/starknet/host/src/node.rs
  code/crates/starknet/test/mbt/src/tests/streaming.rs
  code/crates/test/mbt/src/tests/consensus.rs
  code/crates/test/mbt/src/tests/votekeeper.rs
Due: starknet

Update build scripts and config
  code/.cargo/config.toml
  code/Makefile
  code/examples/channel/spawn.bash
  code/scripts/Makefile
  code/scripts/spawn-tmux.bash
  code/scripts/spawn.bash
Due: none

Update CI/CD workflow files
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/mbt.yml
  .github/workflows/rust.yml
  .github/workflows/semver.yml
Due: none

Regenerate Cargo.lock
  code/Cargo.lock
Due: none

Update Rust source files
  code/crates/core-consensus/tests/finalization_evidence.rs
  code/crates/core-consensus/tests/full_proposal.rs
  code/crates/core-driver/tests/it/basic.rs
  code/crates/core-driver/tests/it/evidence.rs
  code/crates/core-driver/tests/it/extra.rs
  code/crates/core-driver/tests/it/height_updates.rs
  code/crates/core-driver/tests/it/utils.rs
  code/crates/core-types/src/round.rs
  code/crates/core-votekeeper/tests/evidence.rs
  code/crates/core-votekeeper/tests/round_votes.rs
  code/crates/core-votekeeper/tests/vote_count.rs
  code/crates/core-votekeeper/tests/vote_keeper.rs
  code/crates/network/test/src/lib.rs
  code/crates/network/test/tests/discovery.rs
  code/crates/network/test/tests/persistent_peers.rs
  code/crates/sync/src/handle.rs
  code/crates/test/cli/src/logging.rs
  code/crates/test/framework/src/logging.rs
  code/crates/test/tests/it/liveness.rs
  code/crates/test/tests/it/main.rs
  code/crates/test/tests/it/middlewares.rs
  code/crates/test/tests/it/reset.rs
  code/crates/test/tests/it/timeout_updates.rs
  code/crates/test/tests/it/validator_set.rs
  code/crates/test/tests/it/validity_change_on_restart.rs
  code/crates/test/tests/it/value_sync.rs
  code/crates/test/tests/it/wal.rs
  code/crates/test/tests/unit/certificates/mod.rs
  code/crates/test/tests/unit/sync.rs
  code/crates/wal/benches/wal.rs
  code/crates/wal/tests/it/basic.rs
  code/crates/wal/tests/it/compression.rs
  code/crates/wal/tests/it/corruption.rs
  code/crates/wal/tests/it/crashes.rs
  code/crates/wal/tests/it/stress.rs
  code/crates/wal/tests/it/truncation.rs
Due: core, engine

Update documentation and GitHub URLs
  BREAKING_CHANGES.md
  CONTRIBUTING_CODE.md
  README.md
  cliff.toml
  code/crates/sync/Cargo.toml
  code/scripts/README.md
  docs/tutorials/channels.md
Due: engine

Path conditions:
  core: any of: code/crates/core-consensus/**, code/crates/core-driver/**, code/crates/core-state-machine/**, code/crates/core-types/**, code/crates/core-votekeeper/**, but not: code/examples, code/crates/proto, code/crates/test/mempool, code/crates/test/proto, code/crates/test/cli, code/crates/signing-ed25519, code/crates/starknet/p2p-proto, code/crates/starknet/p2p-types
  engine: any of: code/crates/engine/**, code/crates/sync/**, but not: code/examples, code/crates/proto, code/crates/test/mempool, code/crates/test/proto, code/crates/test/cli, code/crates/signing-ed25519, code/crates/starknet/p2p-proto, code/crates/starknet/p2p-types
  app: any of: code/crates/app/**, code/crates/app-channel/**, but not: code/examples, code/crates/proto, code/crates/test/mempool, code/crates/test/proto, code/crates/test/cli, code/crates/signing-ed25519, code/crates/starknet/p2p-proto, code/crates/starknet/p2p-types
  starknet: any of: code/crates/starknet/**, but not: code/examples, code/crates/proto, code/crates/test/mempool, code/crates/test/proto, code/crates/test/cli, code/crates/signing-ed25519, code/crates/starknet/p2p-proto, code/crates/starknet/p2p-types
