Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

Improve logs
  code/crates/sync/src/handle.rs
  code/crates/sync/src/state.rs
Due: none

More consistent logs
  code/crates/sync/src/handle.rs
Due: none

new version of locked value section
  specs/consensus/overview.md
Due: none

finish pass on correctness section
  specs/consensus/overview.md
Due: none

remove comment
  specs/consensus/overview.md
Due: none

Ignore rebcast tests and increase timeouts of others
  code/crates/test/tests/it/vote_sync.rs
  code/crates/test/tests/it/wal.rs
Due: none

fix(code/app): Add the POL round to `ProposalInit` message of the example and test applications (#904)
  code/crates/app-channel/src/msgs.rs
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/state.rs
  code/crates/test/proto/consensus.proto
  code/crates/test/src/proposal_part.rs
  code/crates/test/tests/it/n3f0_consensus_mode.rs
  code/crates/test/tests/it/value_sync.rs
  code/crates/test/tests/it/vote_sync.rs
  code/crates/test/tests/it/wal.rs
  code/examples/channel/src/app.rs
  code/examples/channel/src/state.rs
Due: app

typo
  specs/consensus/overview.md
Due: none

feat(code): Polka test and fixes (#899)
  code/crates/app-channel/src/msgs.rs
  code/crates/core-consensus/src/handle/driver.rs
  code/crates/core-consensus/src/state.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/src/mux.rs
  code/crates/starknet/test/src/tests/value_sync.rs
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/node.rs
  code/crates/test/app/src/state.rs
  code/crates/test/app/src/store.rs
  code/crates/test/framework/src/params.rs
  code/crates/test/proto/consensus.proto
  code/crates/test/src/proposal_part.rs
  code/crates/test/tests/it/main.rs
  code/crates/test/tests/it/n3f0.rs
  code/crates/test/tests/it/vote_sync.rs
  code/crates/test/tests/it/vote_sync_bcast.rs
  code/crates/test/tests/it/wal.rs
  code/examples/channel/src/app.rs
  code/examples/channel/src/node.rs
  code/examples/channel/src/state.rs
  code/examples/channel/src/store.rs
  code/scripts/spawn.bash
Due: core, app, starknet

feat(code/app): Change the log level dynamically when consensus enters round > 0
  code/crates/test/cli/src/logging.rs
  code/examples/channel/src/app.rs
Due: none

Add debug logging
  code/Cargo.lock
  code/Cargo.toml
  code/crates/core-driver/Cargo.toml
  code/crates/core-driver/src/mux.rs
  code/crates/test/framework/src/logging.rs
Due: core

Fix standalone
  code/Cargo.toml
  code/crates/core-driver/Cargo.toml
Due: core

Enable debug logs
  .github/workflows/rust.yml
Due: none

Print logging directive
  code/crates/test/framework/src/logging.rs
Due: none

Forward MALACHITE_DEBUG env variable in Maelstrom
  code/cargo-maelstrom.toml
Due: none

fix test driver_steps_polka_previous_not_locked_vote_last_l30
  code/crates/core-driver/tests/it/extra.rs
Due: core

Use QUIC
  .github/workflows/rust.yml
  code/cargo-maelstrom.toml
Due: none

new test for l32
  code/crates/core-driver/tests/it/extra.rs
  code/crates/core-driver/tests/it/utils.rs
Due: core

Undo vote equivocation hack
  code/Cargo.lock
  code/crates/core-consensus/src/handle/driver.rs
  code/crates/core-consensus/src/state.rs
Due: core

Naming
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/src/mux.rs
Due: core

detailed execution for test for l32 without Byzantine behavior
  code/crates/core-driver/tests/it/extra.rs
  code/crates/core-driver/tests/it/utils.rs
Due: core

Revert "Use QUIC"
  .github/workflows/rust.yml
  code/cargo-maelstrom.toml
Due: none

small changes to test descriptions
  code/crates/core-driver/tests/it/extra.rs
  code/crates/core-driver/tests/it/utils.rs
Due: core

fix so all tests pass
  code/crates/core-driver/tests/it/extra.rs
  code/crates/core-driver/tests/it/utils.rs
Due: core

Update specs/consensus/overview.md
  specs/consensus/overview.md
Due: none

added one sentence in valid value section
  specs/consensus/overview.md
Due: none

Cleanup and revert some changes, disable failing test
  code/crates/test/app/src/app.rs
  code/crates/test/tests/it/value_sync.rs
  code/crates/test/tests/it/vote_sync_bcast.rs
  code/crates/test/tests/it/wal.rs
  code/scripts/spawn.bash
Due: none

Ignore proposal only tests
  code/crates/test/tests/it/value_sync.rs
  code/crates/test/tests/it/wal.rs
Due: none

Ignore the failing test for now
  code/crates/test/tests/it/wal.rs
Due: none

Apply suggestions from code review
  code/scripts/spawn.bash
Due: none

chore(code): Undo vote equivocation hack (#914)
  code/Cargo.lock
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/core-consensus/src/handle/driver.rs
  code/crates/core-consensus/src/state.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/src/mux.rs
  code/crates/test/app/src/app.rs
  code/crates/test/tests/it/value_sync.rs
  code/crates/test/tests/it/vote_sync_bcast.rs
  code/crates/test/tests/it/wal.rs
  code/scripts/spawn.bash
Due: core

Add assert for non empty commit certificate
  code/crates/engine/src/consensus.rs
Due: engine

Let full node store and write votes to WAL
  code/crates/core-consensus/src/handle/vote.rs
Due: core

Round state machine check for previous decision.
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/core-consensus/src/handle/driver.rs
  code/crates/core-consensus/src/handle/start_height.rs
  code/crates/core-consensus/src/handle/timeout.rs
  code/crates/core-consensus/src/state.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/src/mux.rs
  code/crates/core-driver/src/proposal_keeper.rs
  code/crates/core-driver/tests/it/basic.rs
  code/crates/core-driver/tests/it/extra.rs
  code/crates/core-driver/tests/it/utils.rs
  code/crates/core-state-machine/src/state.rs
  code/crates/core-state-machine/src/state_machine.rs
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/store.rs
Due: core

Fix mux typo
  code/crates/core-driver/src/mux.rs
Due: core

Fix doc comment
  code/crates/core-consensus/src/handle/vote.rs
Due: core

Only enable the network behaviours which are actually required
  code/crates/app/src/spawn.rs
  code/crates/config/src/lib.rs
  code/crates/network/src/behaviour.rs
  code/crates/network/src/lib.rs
  code/crates/network/src/pubsub.rs
  code/crates/network/test/src/lib.rs
  code/crates/starknet/host/src/spawn.rs
Due: app, starknet

Enable the sync channel in the Starknet app
  code/crates/starknet/host/src/spawn.rs
Due: starknet

Path conditions:
  core: any of: code/crates/core-*/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  engine: any of: code/crates/engine/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  app: any of: code/crates/app/**, code/crates/app-*/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  starknet: any of: code/crates/starknet/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
