Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

codecov.yml:

codecov:
  require_ci_to_pass: false

comment:
  layout: "header, diff, flags, components"

ignore:
  - "code/examples"
  - "code/crates/proto"
  - "code/crates/test/mempool"
  - "code/crates/test/proto"
  - "code/crates/test/cli"
  - "code/crates/signing-ed25519"
  - "code/crates/starknet/p2p-proto"
  - "code/crates/starknet/p2p-types"

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - "code/crates/core-consensus/**"
        - "code/crates/core-driver/**"
        - "code/crates/core-state-machine/**"
        - "code/crates/core-types/**"
        - "code/crates/core-votekeeper/**"
    - component_id: engine
      name: engine
      paths:
        - "code/crates/engine/**"
        - "code/crates/sync/**"
    - component_id: app
      name: app
      paths:
        - "code/crates/app/**"
        - "code/crates/app-channel/**"
    - component_id: starknet
      name: starknet
      paths:
        - "code/crates/starknet/**"

coverage:
  precision: 2
  round: nearest
  range: "50...90"

  status:
    project:
      default:
        target: auto
        threshold: 5%
        removed_code_behavior: adjust_base
        paths:
          - "code"
    patch:
      default:
        target: 0%
        threshold: 5%
        paths:
          - "code"

    changes:
      default:
        informational: true

run on branch
  .github/workflows/qa.yml
Due: none

add logic to prevent destroy error
  .github/workflows/qa.yml
  qa/terraform/project.tf
Due: none

revert the change about project name
  qa/terraform/project.tf
Due: none

remove branch option
  .github/workflows/qa.yml
Due: none

Revert "remove branch option (#1116)"
  .github/workflows/qa.yml
Due: none

Bump version to v0.4.0
  code/Cargo.lock
  code/Cargo.toml
Due: none

Update release notes
  BREAKING_CHANGES.md
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

remove terraform init outside for
  .github/workflows/qa.yml
Due: none

qa with publish enabled
  .github/workflows/qa.yml
Due: none

chore(code)!: Rename `Effect::RebroadcastVote` to `Effect::RepublishVote`
  BREAKING_CHANGES.md
  RELEASE_NOTES.md
  code/crates/core-consensus/src/effect.rs
  code/crates/core-consensus/src/handle/rebroadcast_timeout.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/util/events.rs
  code/crates/test/framework/src/node.rs
Due: core, engine

chore(deps)!: Update libp2p to v0.56.0
  code/Cargo.lock
  code/Cargo.toml
  code/crates/network/Cargo.toml
  code/crates/network/src/behaviour.rs
  code/crates/network/src/lib.rs
  code/crates/test/mempool/Cargo.toml
  code/crates/test/mempool/src/behaviour.rs
  code/crates/test/mempool/src/lib.rs
Due: none

chore(code): Fix clippy warnings on Rust 1.88
  code/clippy.toml
  code/crates/core-consensus/src/util/bounded_queue.rs
  code/crates/core-driver/src/driver.rs
  code/crates/engine/src/consensus.rs
  code/crates/network/test/src/lib.rs
  code/crates/starknet/host/src/node.rs
  code/crates/starknet/p2p-types/src/address.rs
  code/crates/starknet/test/mbt/src/tests/streaming/runner.rs
  code/crates/starknet/test/src/lib.rs
  code/crates/sync/src/scoring.rs
  code/crates/test/app/src/node.rs
  code/crates/test/mbt/src/tests/consensus/runner.rs
  code/crates/test/mbt/src/tests/votekeeper.rs
  code/crates/test/mbt/src/tests/votekeeper/runner.rs
  code/crates/test/src/address.rs
  code/crates/test/tests/it/main.rs
  code/crates/wal/benches/wal.rs
  code/crates/wal/tests/it/stress.rs
  code/examples/channel/src/node.rs
Due: core, engine, starknet

chore(code/test): Remove useless `sort_validators` method, add documentation about sorting validators
  code/crates/core-types/src/validator_set.rs
  code/crates/test/src/validator_set.rs
Due: core

Update release notes
  BREAKING_CHANGES.md
  RELEASE_NOTES.md
Due: none

Update breaking changes
  BREAKING_CHANGES.md
Due: none

Update release notes
  RELEASE_NOTES.md
Due: none

Add 1 upper bound on entry size
  code/crates/wal/src/log.rs
Due: none

Remove useless conversion
  code/crates/wal/src/log.rs
Due: none

Fix incorrect doc comment
  code/crates/wal/src/log.rs
Due: none

Add another corruption test
  code/crates/wal/tests/it/corruption.rs
Due: none

Fix bug in the recovery logic where an entry length field is corrupted but not detected
  code/crates/wal/src/log.rs
  code/crates/wal/tests/it/corruption.rs
Due: none

fix NaN handling
  .github/workflows/qa.yml
  qa/terraform/scripts/format_csv_file.py
Due: none

typo fix
  .github/workflows/qa.yml
Due: none

full qa workflow
  .github/workflows/qa.yml
Due: none

minor format fix
  qa/terraform/scripts/format_csv_file.py
Due: none

Rename `Effect::RebroadcastRoundCertificate` to `Effect::RepublishRoundCertificate`
  code/crates/core-consensus/src/effect.rs
  code/crates/core-consensus/src/handle/rebroadcast_timeout.rs
  code/crates/engine/src/consensus.rs
Due: core, engine

Update release notes and breaking changes
  BREAKING_CHANGES.md
  RELEASE_NOTES.md
Due: none

feat(tests): update parameters for late start tests with batching; fix test params to include parallel request and batching config
  code/crates/starknet/test/src/lib.rs
  code/crates/starknet/test/src/tests/value_sync.rs
  code/crates/test/tests/it/value_sync.rs
Due: starknet

refactor: simplify PeerConnected event handling and remove unused parameters
  BREAKING_CHANGES.md
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/network.rs
  code/crates/engine/src/sync.rs
  code/crates/network/src/lib.rs
  code/crates/network/test/src/lib.rs
  code/crates/sync/src/behaviour.rs
  code/crates/sync/src/state.rs
  code/crates/sync/src/types.rs
  code/crates/test/tests/unit/sync.rs
Due: engine

Restore async semantics of `AppMsg::StartedRound` reply channel
  code/crates/app-channel/src/connector.rs
Due: app

fix: accept as valid responses with one value, for peers not supporting batching
  code/crates/sync/src/handle.rs
Due: engine

refactor(tests): adjust voting power and timeout duration in late start tests with batching
  code/crates/starknet/test/src/tests/value_sync.rs
  code/crates/test/tests/it/value_sync.rs
Due: starknet

fix(code/sync): Use proposer of synced value instead of our own address for `ProcessSyncedValue`
  code/crates/engine/src/consensus.rs
Due: engine

fix(code): Derive the consensus queue capacity from the `sync.parallel_requests` setting
  code/crates/app-channel/src/run.rs
  code/crates/app/src/spawn.rs
  code/crates/config/src/lib.rs
  code/crates/starknet/host/src/node.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/starknet/test/src/lib.rs
  code/crates/test/app/config.toml
  code/crates/test/app/src/node.rs
  code/crates/test/tests/it/main.rs
  code/examples/channel/config.toml
  code/examples/channel/src/node.rs
Due: app, starknet

Buffer proposals for future heights
  code/crates/starknet/host/src/actor.rs
  code/crates/starknet/host/src/block_store.rs
  code/crates/starknet/host/src/block_store/keys.rs
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/state.rs
  code/crates/test/app/src/store.rs
  code/crates/test/app/src/store/keys.rs
  code/examples/channel/src/app.rs
  code/examples/channel/src/state.rs
  code/examples/channel/src/store.rs
  code/examples/channel/src/store/keys.rs
Due: starknet

For height restart remove pending request for that height
  code/crates/sync/src/handle.rs
Due: engine

Validate and move pending proposals to undecided
  code/crates/starknet/host/src/actor.rs
  code/crates/starknet/host/src/block_store.rs
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/store.rs
  code/examples/channel/src/app.rs
  code/examples/channel/src/store.rs
Due: starknet

remove unnecessary has_vote
  code/crates/core-consensus/src/handle/vote.rs
  code/crates/core-votekeeper/src/keeper.rs
Due: core
