Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

codecov.yml:

codecov:
  require_ci_to_pass: false

comment:
  layout: "header, diff, flags, components"

ignore:
  - "code/examples"
  - "code/crates/proto"
  - "code/crates/test/mempool"
  - "code/crates/test/proto"
  - "code/crates/test/cli"
  - "code/crates/signing-ed25519"
  - "code/crates/starknet/p2p-proto"
  - "code/crates/starknet/p2p-types"

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - "code/crates/core-consensus/**"
        - "code/crates/core-driver/**"
        - "code/crates/core-state-machine/**"
        - "code/crates/core-types/**"
        - "code/crates/core-votekeeper/**"
    - component_id: engine
      name: engine
      paths:
        - "code/crates/engine/**"
        - "code/crates/sync/**"
    - component_id: app
      name: app
      paths:
        - "code/crates/app/**"
        - "code/crates/app-channel/**"
    - component_id: starknet
      name: starknet
      paths:
        - "code/crates/starknet/**"

coverage:
  precision: 2
  round: nearest
  range: "50...90"

  status:
    project:
      default:
        target: auto
        threshold: 5%
        removed_code_behavior: adjust_base
        paths:
          - "code"
    patch:
      default:
        target: 0%
        threshold: 5%
        paths:
          - "code"

    changes:
      default:
        informational: true

Add tests for validator and fullnodes failing to continue sync after network restart
  code/crates/starknet/test/src/lib.rs
  code/crates/test/framework/src/params.rs
  code/crates/test/tests/it/main.rs
  code/crates/test/tests/it/value_sync.rs
Due: starknet

Periodically try reconnecting to persistent peers
  code/crates/discovery/src/handlers/peers_management.rs
  code/crates/network/src/lib.rs
  code/crates/test/framework/src/logging.rs
Due: none

Add validator test
  code/crates/test/tests/it/n3f1.rs
Due: none

feat(code/metrics): Add metrics for consensus input queue
  code/crates/core-consensus/src/handle/proposal.rs
  code/crates/core-consensus/src/handle/proposed_value.rs
  code/crates/core-consensus/src/handle/start_height.rs
  code/crates/core-consensus/src/handle/sync.rs
  code/crates/core-consensus/src/handle/vote.rs
  code/crates/core-consensus/src/state.rs
  code/crates/core-consensus/src/util/bounded_queue.rs
  code/crates/metrics/src/metrics.rs
Due: core

fix(code): Fix deprecation warning on tempfile method
  code/crates/starknet/test/src/lib.rs
  code/crates/test/tests/it/main.rs
Due: starknet

fix: Respect `metrics` feature flag
  code/crates/core-consensus/src/state.rs
Due: core

do not encode the data to compute the encoded length
  code/crates/app-channel/src/run.rs
  code/crates/app-channel/src/spawn.rs
  code/crates/app/src/spawn.rs
  code/crates/app/src/types.rs
  code/crates/codec/src/lib.rs
  code/crates/engine/src/network.rs
  code/crates/proto/src/lib.rs
  code/crates/starknet/host/src/codec.rs
  code/crates/test/Cargo.toml
  code/crates/test/src/codec/json/mod.rs
  code/crates/test/src/codec/proto/mod.rs
Due: engine, app, starknet

clean up process_sync_response based on Hernan's comment
  code/crates/engine/src/consensus.rs
Due: engine

remove unused method
  code/crates/proto/src/lib.rs
Due: none

log in case of re-requesting partial ranges
  code/crates/sync/src/handle.rs
Due: engine

chore: remove qa.yml workflow
  .github/workflows/qa.yml
Due: none

remove qa dir
  qa/.gitignore
  qa/README.md
  qa/docker/Dockerfile
  qa/docker/entrypoint.sh
  qa/terraform/cc.tf
  qa/terraform/file-commands.tf
  qa/terraform/nodes.tf
  qa/terraform/output.tf
  qa/terraform/project.tf
  qa/terraform/provider.tf
  qa/terraform/scripts/average_runs.py
  qa/terraform/scripts/average_runs_test.py
  qa/terraform/scripts/cc-commands.sh
  qa/terraform/scripts/cc-dns.sh
  qa/terraform/scripts/cc-done.sh
  qa/terraform/scripts/cc-nfs.sh
  qa/terraform/scripts/cc-ssh.sh
  qa/terraform/scripts/format_csv_file.py
  qa/terraform/scripts/node-done.sh
  qa/terraform/templates/commands.tmpl
  qa/terraform/templates/hosts.tmpl
  qa/terraform/user-data/cc-data.txt
  qa/terraform/user-data/user-data.txt
  qa/terraform/variables.tf
  qa/viewer/Makefile
  qa/viewer/compose.yml
  qa/viewer/config-grafana/provisioning/dashboards-data/main.json
  qa/viewer/config-grafana/provisioning/dashboards-data/node-exporter-full.json
  qa/viewer/config-grafana/provisioning/dashboards/malachite.yml
  qa/viewer/config-grafana/provisioning/datasources/prometheus.yml
  qa/viewer/config-prometheus/prometheus.yml
Due: none

feat: Make the `SigningProvider` methods fallible to allow for remote signer implementations
  code/Cargo.lock
  code/Cargo.toml
  code/crates/app/Cargo.toml
  code/crates/app/src/node.rs
  code/crates/app/src/spawn.rs
  code/crates/core-consensus/Cargo.toml
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/core-consensus/tests/full_proposal.rs
  code/crates/core-types/src/certificate.rs
  code/crates/core-types/src/error.rs
  code/crates/core-types/src/lib.rs
  code/crates/core-types/src/signing.rs
  code/crates/engine/Cargo.toml
  code/crates/engine/src/consensus.rs
  code/crates/signing/Cargo.toml
  code/crates/signing/src/error.rs
  code/crates/signing/src/ext.rs
  code/crates/signing/src/lib.rs
  code/crates/starknet/p2p-types/Cargo.toml
  code/crates/starknet/p2p-types/src/signing.rs
  code/crates/test/Cargo.toml
  code/crates/test/src/signing.rs
  code/crates/test/tests/unit/certificates/commit.rs
  code/crates/test/tests/unit/certificates/mod.rs
Due: core, engine, app

Update release notes
  BREAKING_CHANGES.md
  RELEASE_NOTES.md
Due: none

Remove `get_validator_set`, access current validator set directly
  code/crates/core-consensus/src/handle.rs
  code/crates/core-consensus/src/handle/liveness.rs
  code/crates/core-consensus/src/handle/proposal.rs
  code/crates/core-consensus/src/handle/sync.rs
  code/crates/core-consensus/src/handle/validator_set.rs
  code/crates/core-consensus/src/handle/vote.rs
Due: core

Cleanup
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/core-consensus/src/handle/propose.rs
  code/crates/core-consensus/src/handle/proposed_value.rs
  code/crates/core-consensus/src/handle/rebroadcast_timeout.rs
  code/crates/core-consensus/src/handle/timeout.rs
  code/crates/core-consensus/src/handle/vote.rs
Due: core

Remove `AppMsg::GetValidatorSet` and `HostMsg::GetValidatorSet`
  code/crates/app-channel/src/connector.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/engine/src/host.rs
  code/crates/starknet/host/src/actor.rs
  code/crates/test/app/src/app.rs
  code/examples/channel/src/app.rs
Due: engine, app, starknet

chore: use managed action for amannn/action-semantic-pull-request
  .github/workflows/pr.yml
Due: none

chore: use managed actions for certain workflows
  .github/workflows/coverage.yml
  .github/workflows/publish.yml
Due: none

Add test for full node sync after all peers restart
  code/crates/test/tests/it/value_sync.rs
Due: none

fix: Process response to `AppMsg::StartedRound` synchronously
  code/crates/app-channel/src/connector.rs
Due: app

bug-fix reset sync_height in case rerequest fails
  code/crates/sync/src/handle.rs
Due: engine

Filter out loopback addresses when matching peer identity with entries in bootstrap_nodes
  code/crates/discovery/src/handlers/identify.rs
Due: none

Do not reconnect to peers without identity
  code/crates/discovery/src/handlers/peers_management.rs
Due: none

Update code/crates/test/tests/it/value_sync.rs
  code/crates/test/tests/it/value_sync.rs
Due: none

Revert "Do not reconnect to peers without identity"
  code/crates/discovery/src/handlers/peers_management.rs
Due: none

complete fix with tests and reorg logic
  code/Cargo.lock
  code/crates/sync/Cargo.toml
  code/crates/sync/src/handle.rs
Due: engine

Clean connections also if not in active_connections, and peer state on disconnect
  code/crates/discovery/src/controller.rs
  code/crates/discovery/src/handlers/close.rs
Due: none

Use dial_data addresses for bootstrap node identification
  code/crates/discovery/src/handlers/identify.rs
  code/crates/discovery/src/handlers/peers_management.rs
  code/crates/network/src/lib.rs
Due: none

Add different testnet scenarios
  code/Makefile
  code/TESTNET_SCENARIOS.md
  code/docker-compose-mixed.yml
  code/docker-compose-multi-network.yml
  code/docker-compose-nat.yml
  code/docker-compose.yml
  code/makefile-scripts/check-socket-leaks-simple.sh
  code/multi-net-configs/node0-config.toml
  code/multi-net-configs/node1-config.toml
  code/multi-net-configs/node2-config.toml
  code/multi-net-configs/node3-config.toml
  code/nat-configs/node0-config.toml
  code/nat-configs/node1-config.toml
  code/nat-configs/node2-config.toml
  code/nat-configs/node3-config.toml
  code/single-net-configs/node0-config.toml
  code/single-net-configs/node1-config.toml
  code/single-net-configs/node2-config.toml
  code/single-net-configs/node3-config.toml
Due: none

Fix spelling
  code/TESTNET_SCENARIOS.md
  code/examples/channel/src/state.rs
Due: none

Fix makefile and add missing scripts
  code/Makefile
  code/makefile-scripts/monitor-sockets.sh
  code/makefile-scripts/restart-validator-nodes.sh
  code/makefile-scripts/setup-mixed-testnet.sh
Due: none

Reset peer_id in case it changes after peer restart
  code/crates/discovery/src/handlers/close.rs
Due: none

Unit tests in table format
  code/crates/sync/src/handle.rs
Due: engine

Test to repro CI failure locally
  code/crates/network/test/tests/discovery.rs
Due: none

Fix discovery_disabled() test, remove the helper test
  code/crates/network/src/lib.rs
  code/crates/network/test/tests/discovery.rs
Due: none

Detect host IP address
  code/Makefile
Due: none

refactor: remove Option wrapper from config_customizer
  code/crates/test/framework/src/node.rs
  code/crates/test/tests/it/main.rs
Due: none

If not active validator, don't publish hidden lock liveness messages
  code/crates/core-consensus/src/handle/driver.rs
Due: core
