Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

docs: ADR 003, intial content
  docs/architecture/adr-006-write-ahead-log.md
Due: none

docs: ADR on WAL, inputs to be persisted
  docs/architecture/adr-006-write-ahead-log.md
Due: none

docs: ADR on WAL, replay impl discussion
  docs/architecture/adr-006-write-ahead-log.md
Due: none

docs: ADR on WAL, reset, replay, persistence
  docs/architecture/adr-006-write-ahead-log.md
Due: none

docs: ADR on WAL, checkpoints every height
  docs/architecture/adr-006-write-ahead-log.md
Due: none

docs: ADR on WAL, start of Decision session
  docs/architecture/adr-006-write-ahead-log.md
Due: none

docs: ADR 006 for Consensus Write-Ahead Log (WAL)
  docs/architecture/adr-006-write-ahead-log.md
  docs/architecture/readme.md
Due: none

docs: WAL, layers reviewed and discussion
  docs/architecture/adr-006-write-ahead-log.md
Due: none

docs: WAL, error handling, corruption
  docs/architecture/adr-006-write-ahead-log.md
Due: none

docs: ADR WAL, links and references
  docs/architecture/adr-006-write-ahead-log.md
Due: none

docs: ADR on WAL, applying suggestions from @hvanz
  docs/architecture/adr-006-write-ahead-log.md
Due: none

Update peer persistent status on add, fix disconnect logic on remove
  code/crates/network/src/state.rs
Due: none

Apply suggestions from code review
  ARCHITECTURE.md
  code/crates/core-votekeeper/src/evidence.rs
Due: core

Update code/crates/core-votekeeper/src/evidence.rs
  code/crates/core-votekeeper/src/evidence.rs
Due: core

Addressed comments
  code/crates/app-channel/src/run.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-votekeeper/src/keeper.rs
  code/crates/core-votekeeper/tests/vote_keeper.rs
  code/crates/engine/src/util/events.rs
  code/crates/test/app/src/node.rs
  code/crates/test/mbt/src/tests/votekeeper/runner.rs
  code/examples/channel/src/node.rs
Due: core, engine, app

Update code/crates/core-driver/src/driver.rs
  code/crates/core-driver/src/driver.rs
Due: core

Update code/crates/test/app/src/node.rs
  code/crates/test/app/src/node.rs
Due: none

Addressed more comments
  code/crates/core-driver/src/proposal_keeper.rs
  code/crates/core-votekeeper/src/evidence.rs
  code/crates/test/app/src/node.rs
  code/crates/test/tests/it/equivocation.rs
Due: core

Apply suggestions from @ancazamfir
  docs/architecture/adr-006-write-ahead-log.md
Due: none

docs: ADR on WAL, replacing Jira link to issue
  docs/architecture/adr-006-write-ahead-log.md
Due: none

docs: adding @ancazamfir suggestion
  docs/architecture/adr-006-write-ahead-log.md
Due: none

docs: ADR on WAL, synchronous writes comment
  docs/architecture/adr-006-write-ahead-log.md
Due: none

Address review comments
  code/crates/network/src/state.rs
Due: none

Addressed (almost) all remaining comments
  code/crates/core-driver/src/mux.rs
  code/crates/core-driver/src/proposal_keeper.rs
  code/crates/core-votekeeper/src/evidence.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/util/events.rs
  code/crates/test/framework/src/lib.rs
  code/crates/test/framework/src/node.rs
  code/crates/test/tests/it/equivocation.rs
Due: core, engine

docs: ADR on WAL, why startedrond is flushed
  docs/architecture/adr-006-write-ahead-log.md
Due: none

Addressed latest comments
  ARCHITECTURE.md
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/src/proposal_keeper.rs
  code/crates/core-votekeeper/src/evidence.rs
  code/crates/core-votekeeper/src/keeper.rs
  code/crates/engine/src/consensus.rs
Due: core, engine

docs: ADR on WAL, issue on asynchronous writes
  docs/architecture/adr-006-write-ahead-log.md
Due: none

docs: ADR on WAL, link to getValue() reqs
  docs/architecture/adr-006-write-ahead-log.md
Due: none

Apply suggestion from @sergio-mena
  ARCHITECTURE.md
Due: none

Minor last-minute changes
  code/crates/core-driver/src/proposal_keeper.rs
  code/crates/core-votekeeper/src/evidence.rs
  code/crates/engine/src/consensus.rs
Due: core, engine

PoV ADR complete
  docs/architecture/adr-006-proof-of-validator.md
  docs/architecture/readme.md
Due: none

Addressed @cason's latest comments
  code/crates/core-driver/src/driver.rs
Due: core

One more comment
  code/crates/app-channel/src/run.rs
Due: app

Addressed @ancazamfir's comment
  code/crates/core-driver/src/driver.rs
Due: core

Addressed @ancazamfir's other comment
  code/crates/test/tests/it/equivocation.rs
Due: none

type
  code/crates/test/tests/it/equivocation.rs
Due: none

Small refactor
  code/crates/network/src/state.rs
Due: none

no need for `move`
  code/crates/test/tests/it/equivocation.rs
Due: none

docs: ADR on WAL, events buffering
  docs/architecture/adr-006-write-ahead-log.md
Due: none

docs: ADR 006 -> 007 in favor of #1436
  docs/architecture/adr-007-write-ahead-log.md
  docs/architecture/readme.md
Due: none

Path conditions:
  core: any of: code/crates/core-consensus/**, code/crates/core-driver/**, code/crates/core-state-machine/**, code/crates/core-types/**, code/crates/core-votekeeper/**, but not: code/examples, code/crates/proto, code/crates/test/mempool, code/crates/test/proto, code/crates/test/cli, code/crates/signing-ed25519, code/crates/starknet/p2p-proto, code/crates/starknet/p2p-types
  engine: any of: code/crates/engine/**, code/crates/sync/**, but not: code/examples, code/crates/proto, code/crates/test/mempool, code/crates/test/proto, code/crates/test/cli, code/crates/signing-ed25519, code/crates/starknet/p2p-proto, code/crates/starknet/p2p-types
  app: any of: code/crates/app/**, code/crates/app-channel/**, but not: code/examples, code/crates/proto, code/crates/test/mempool, code/crates/test/proto, code/crates/test/cli, code/crates/signing-ed25519, code/crates/starknet/p2p-proto, code/crates/starknet/p2p-types
  starknet: any of: code/crates/starknet/**, but not: code/examples, code/crates/proto, code/crates/test/mempool, code/crates/test/proto, code/crates/test/cli, code/crates/signing-ed25519, code/crates/starknet/p2p-proto, code/crates/starknet/p2p-types
