Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

line 32
  specs/consensus/quint/TendermintDSL.qnt
  specs/consensus/quint/tests/line32/line32run.qnt
Due: none

Update PR comment when violations are fixed
  .github/workflows/semver.yml
Due: none

fix: log voting event only if node is a validator
  code/crates/core-consensus/src/handle/driver.rs
Due: core

Show current version in comment
  .github/workflows/semver.yml
Due: none

Fix cache key
  .github/workflows/semver.yml
Due: none

Trigger failure
  code/Cargo.toml
Due: none

Change part store to keep multiple proposals for same height and round
  code/crates/app/src/part_store.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/util/streaming.rs
  code/crates/starknet/host/src/actor.rs
  code/crates/starknet/host/src/host/state.rs
  code/crates/starknet/test/mbt/src/tests/streaming/runner.rs
  code/crates/starknet/test/mbt/src/tests/streaming/utils.rs
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/state.rs
  code/examples/channel/src/state.rs
Due: engine, app, starknet

Give appropriate permissions
  .github/workflows/semver.yml
Due: none

try full qa
  .github/workflows/qa.yml
  qa/terraform/templates/commands.tmpl
Due: none

Make sure to always update existing comment
  .github/workflows/semver.yml
Due: none

Bump version
  code/Cargo.toml
Due: none

Set starknet proposal commitment hash to hash of tx-es
  code/crates/engine/src/consensus.rs
  code/crates/starknet/host/src/host/proposal.rs
Due: engine, starknet

fix, feat: applied @romac remarks, added start late test with rotate validator set
  code/crates/test/src/middleware.rs
  code/crates/test/src/validator_set.rs
  code/crates/test/tests/it/validator_set.rs
  code/crates/test/tests/it/value_sync.rs
Due: none

fix: extracted validator set into variable
  code/crates/test/app/src/app.rs
Due: none

qa with 30s step
  qa/terraform/templates/commands.tmpl
Due: none

feat: rotate epoch validator test with full node
  code/crates/test/tests/it/value_sync.rs
Due: none

Fix semver patch required since we are at 0.X.Y
  .github/workflows/semver.yml
Due: none

Update changelog, release notes and breaking changes
  BREAKING_CHANGES.md
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Bump version to v0.2.0
  code/Cargo.lock
  code/Cargo.toml
Due: none

add block time
  qa/terraform/templates/commands.tmpl
Due: none

feat: validator set as option in reply channel
  code/crates/app-channel/src/msgs.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/host.rs
  code/crates/starknet/host/src/actor.rs
  code/crates/test/app/src/app.rs
  code/examples/channel/src/app.rs
Due: engine, app, starknet

doc: updated breaking changes
  BREAKING_CHANGES.md
Due: none

fix: applied remark from @romac
  BREAKING_CHANGES.md
Due: none

doc: typo + release notes
  BREAKING_CHANGES.md
  RELEASE_NOTES.md
Due: none

Changed error message, added comment
  code/crates/engine/src/consensus.rs
Due: engine

Change comment
  code/crates/core-consensus/src/effect.rs
Due: core

fix: start late rotate epoch validator set test
  code/crates/test/app/src/app.rs
  code/crates/test/tests/it/value_sync.rs
Due: none

new metrics
  qa/terraform/templates/commands.tmpl
Due: none

block-time stored on s3
  .github/workflows/qa.yml
Due: none

chore: add sync timing logs
  code/crates/engine/src/sync.rs
  code/crates/sync/src/handle.rs
Due: engine

upgrade engine logs to info
  code/crates/engine/src/sync.rs
Due: engine

Print only message information when replaying buffered messages
  code/crates/engine/src/consensus.rs
Due: engine

Simplify starknet proposal building from parts, add some minimal commitement checks.
  code/crates/starknet/host/src/actor.rs
  code/crates/starknet/host/src/host/proposal.rs
  code/crates/starknet/host/src/host/state.rs
Due: starknet

Cleanup
  code/crates/app/src/part_store.rs
  code/crates/starknet/host/src/host/proposal.rs
  code/crates/test/app/src/state.rs
  code/crates/test/app/src/store.rs
  code/examples/channel/src/state.rs
  code/examples/channel/src/store.rs
Due: app, starknet

Keep undecided proposals for future heights
  code/crates/test/app/src/state.rs
  code/crates/test/app/src/store.rs
  code/examples/channel/src/state.rs
  code/examples/channel/src/store.rs
Due: none

Cargo fmt
  code/crates/test/app/src/store.rs
  code/examples/channel/src/store.rs
Due: none

Update channel tutorial
  docs/tutorials/channels.md
Due: none

feat: updated channel-based example to use a rotating validator set
  code/examples/channel/src/app.rs
  code/examples/channel/src/state.rs
  docs/tutorials/channels.md
Due: none

Update minor version number and document breaking changes
  BREAKING_CHANGES.md
  code/Cargo.lock
  code/Cargo.toml
Due: none

Update release notes
  RELEASE_NOTES.md
Due: none

Path conditions:
  core: any of: code/crates/core-*/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  engine: any of: code/crates/engine/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  app: any of: code/crates/app/**, code/crates/app-*/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  starknet: any of: code/crates/starknet/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
