Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

codecov.yml:

codecov:
  require_ci_to_pass: yes

comment:
  layout: "header, diff, flags, components"

ignore:
  - "code/crates/test"
  - "code/crates/signing-ed25519"
  - "code/crates/proto"
  - "code/examples"

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - "code/crates/core-*/**"
    - component_id: engine
      name: engine
      paths:
        - "code/crates/engine/**"
    - component_id: app
      name: app
      paths:
        - "code/crates/app/**"
        - "code/crates/app-*/**"
    - component_id: starknet
      name: starknet
      paths:
        - "code/crates/starknet/**"

coverage:
  precision: 2
  round: nearest
  range: "50...90"

  status:
    project:
      default:
        target: auto
        threshold: 5%
        removed_code_behavior: adjust_base
        paths:
          - "code"
    patch:
      default:
        target: 0%
        threshold: 5%
        paths:
          - "code"

    changes:
      default:
        informational: true

Clippy
  code/crates/core-driver/src/driver.rs
Due: core

Schedule the request/response related timers only if configured
  code/crates/core-consensus/src/handle/driver.rs
Due: core

Formatting
  code/crates/core-consensus/src/handle/driver.rs
Due: core

docs: added file to ADR 003 on values propopagation
  docs/architecture/adr-003-values-propagation.md
  docs/architecture/readme.md
Due: none

docs: ADR 003 general Context
  docs/architecture/adr-003-values-propagation.md
Due: none

docs: ADR 003, Tendermint context vs general one
  docs/architecture/adr-003-values-propagation.md
Due: none

docs: ADR 003, Value Propagation context
  docs/architecture/adr-003-values-propagation.md
Due: none

Code review
  CONTRIBUTING_CODE.md
Due: none

Fix
  CONTRIBUTING_CODE.md
Due: none

docs: ADR 103 Alternatives overview
  docs/architecture/adr-003-values-propagation.md
Due: none

Move reply with undecided proposal from `ConsensusReady` to `StartedRound`
  code/crates/app-channel/src/connector.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/test/app/src/app.rs
  code/examples/channel/src/app.rs
Due: app

Change `ConsensusReady` message to force reply with height and validator set
  code/crates/app-channel/src/connector.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/test/app/src/app.rs
  code/examples/channel/src/app.rs
Due: app

Cleanup logs when ticker fails
  code/crates/engine/src/sync.rs
  code/crates/engine/src/util/ticker.rs
Due: engine

Cleanup duplicated spans
  code/crates/app-channel/src/run.rs
Due: app

Change span name for apps
  code/crates/starknet/host/src/node.rs
  code/crates/test/app/src/node.rs
  code/examples/channel/src/node.rs
Due: starknet

chore(code/app): Move reply with undecided proposal from `ConsensusReady` to `StartedRound` (#885)
  code/crates/app-channel/src/connector.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/app-channel/src/run.rs
  code/crates/engine/src/sync.rs
  code/crates/engine/src/util/ticker.rs
  code/crates/starknet/host/src/node.rs
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/node.rs
  code/examples/channel/src/app.rs
  code/examples/channel/src/node.rs
Due: engine, app, starknet

network config fixes and dashboard metric fixes
  qa/terraform/templates/commands.tmpl
  qa/viewer/config-grafana/provisioning/dashboards-data/main.json
Due: none

Disallow use of ractor's output port
  code/Cargo.toml
  code/clippy.toml
  code/crates/starknet/host/src/mempool/network.rs
Due: starknet

Get polka certificate for previous rounds
  code/crates/core-consensus/src/state.rs
  code/crates/core-types/src/round.rs
Due: core

Get polka certificates for all rounds up to `round` included
  code/crates/core-consensus/src/effect.rs
  code/crates/core-consensus/src/handle/vote_set.rs
  code/crates/core-consensus/src/input.rs
  code/crates/core-consensus/src/state.rs
  code/crates/core-driver/src/driver.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/util/events.rs
  code/crates/starknet/host/src/codec.rs
  code/crates/starknet/p2p-proto/proto/sync.proto
  code/crates/sync/src/types.rs
  code/crates/test/proto/sync.proto
  code/crates/test/src/codec/proto/mod.rs
Due: core, engine, starknet

Get votes for `round` and all later rounds
  code/crates/core-consensus/src/state.rs
  code/crates/core-votekeeper/src/keeper.rs
Due: core

Test app only supports `parts-only` mode
  code/crates/test/tests/it/wal.rs
Due: none

Better output when running multiple tests
  code/.config/nextest.toml
Due: none

chore(code): Refactor Starknet app config loading
  code/crates/starknet/app/src/main.rs
  code/crates/starknet/host/src/node.rs
  code/crates/starknet/test/src/lib.rs
  code/crates/test/src/lib.rs
Due: starknet

Test workflow after greg's fixes
  .github/workflows/qa.yml
Due: none

Remove restriction on parts-only mode
  code/crates/test/app/src/app.rs
  code/crates/test/tests/it/n3f0_consensus_mode.rs
  code/crates/test/tests/it/value_sync.rs
  code/crates/test/tests/it/vote_sync.rs
  code/crates/test/tests/it/wal.rs
Due: none

fix(code/engine): Ensure the height in the tracing span matches the height we are about to start
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/wal.rs
  code/crates/engine/src/wal/thread.rs
Due: engine

Fix duplicated node span
  code/crates/app-channel/src/run.rs
Due: app

Remove debug statements
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/src/mux.rs
Due: core

fixed incorrect link in message-handling.md
  specs/consensus/message-handling.md
Due: none

fix: simplified disabled discovery + reduced info verbosity
  code/crates/discovery/src/handlers/close.rs
  code/crates/discovery/src/handlers/connect_request.rs
  code/crates/discovery/src/handlers/dial.rs
  code/crates/discovery/src/handlers/extension.rs
  code/crates/discovery/src/handlers/helpers.rs
  code/crates/discovery/src/handlers/identify.rs
  code/crates/discovery/src/handlers/peers_management.rs
  code/crates/discovery/src/handlers/peers_request.rs
  code/crates/discovery/src/handlers/selection/selector.rs
  code/crates/discovery/src/lib.rs
  code/crates/network/test/src/lib.rs
  code/crates/network/test/tests/discovery.rs
Due: none

fix: metrics + adjusted integration tests
  code/crates/discovery/src/handlers/helpers.rs
  code/crates/starknet/test/src/lib.rs
Due: starknet

fix: adjusted default discovery config
  code/crates/config/src/lib.rs
  code/crates/starknet/test/src/lib.rs
Due: starknet

Use structured values in logs
  code/crates/discovery/src/handlers/dial.rs
  code/crates/discovery/src/handlers/identify.rs
  code/crates/discovery/src/lib.rs
  code/crates/network/test/src/lib.rs
Due: none

Remove peer id from network span
  code/crates/network/src/lib.rs
Due: none

CC configurable, prometheus polling 2s
  qa/terraform/cc.tf
  qa/terraform/variables.tf
  qa/viewer/config-prometheus/prometheus.yml
Due: none

dashboard update
  qa/viewer/config-grafana/provisioning/dashboards-data/main.json
Due: none

test qa with 4 nodes
  .github/workflows/qa.yml
Due: none

docs: ADR 003, Context simplified and rewritten
  docs/architecture/adr-003-values-propagation.md
Due: none

chore(code/core-consensus): Cancel commit timeout in `on_decide` handler
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/core-consensus/src/handle/timeout.rs
Due: core
