Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

docs: ADR 003, sketched Alternatives sections
  docs/architecture/adr-003-values-propagation.md
Due: none

Enable the sync channel in the test app
  code/crates/app/src/spawn.rs
Due: app

docs: ADR 003, overivew of dissemination approaches
  docs/architecture/adr-003-values-propagation.md
Due: none

Sleep the whole build duration even when there are no txes to reap
  code/crates/starknet/host/src/host/proposal.rs
Due: starknet

Generate a bit more load on the mempool using the uniform strategy
  code/crates/config/src/lib.rs
  code/crates/starknet/test/src/lib.rs
Due: starknet

Other fixes unrelated to this PR and not impacting tests
  code/crates/starknet/host/src/node.rs
  code/crates/starknet/test/src/lib.rs
Due: starknet

Generate configs with uniform mempool load
  code/crates/starknet/host/src/node.rs
Due: starknet

Cleanup
  code/crates/starknet/host/src/mempool_load.rs
Due: starknet

Use Debug log level
  code/examples/channel/src/app.rs
Due: none

fix: tutorial, application state section
  code/examples/channel/src/state.rs
  code/examples/channel/src/streaming.rs
  docs/tutorials/channels.md
Due: none

fix. typos
  docs/tutorials/channels.md
Due: none

fix: tutorial, handle consensus messages section
  code/examples/channel/src/app.rs
  docs/tutorials/channels.md
Due: none

fix: typos + removed old application state section
  docs/tutorials/channels.md
Due: none

feat: complete tutorial
  code/examples/channel/spawn.bash
  docs/tutorials/channels.md
Due: none

feat: logging section
  docs/tutorials/channels.md
Due: none

first take on describing current designs
  docs/architecture/adr-003-values-propagation.md
Due: none

small improvments on the text
  docs/architecture/adr-003-values-propagation.md
Due: none

feat: mermaid diagrams of value propagation modes
  docs/architecture/adr-003-values-propagation.md
Due: none

Minor changes
  docs/architecture/adr-003-values-propagation.md
Due: none

Small text changes
  docs/architecture/adr-003-values-propagation.md
Due: none

fix: removed transport argument in p2p config
  code/crates/app/src/spawn.rs
  code/crates/config/src/lib.rs
  code/crates/starknet/host/src/node.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/starknet/test/src/lib.rs
  code/crates/test/app/src/node.rs
  code/crates/test/tests/it/main.rs
  code/examples/channel/src/node.rs
Due: app, starknet

fix: diagrams
  docs/architecture/adr-003-values-propagation.md
Due: none

Update docs/architecture/adr-003-values-propagation.md
  docs/architecture/adr-003-values-propagation.md
Due: none

Move `config::TransportProtocol::extract_from` to `network::TransportProtocol::from_multiaddr`
  code/Cargo.lock
  code/crates/app/src/spawn.rs
  code/crates/config/src/lib.rs
  code/crates/network/src/lib.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/test/mempool/Cargo.toml
  code/crates/test/mempool/src/lib.rs
Due: app, starknet

Cleanup
  code/crates/starknet/host/src/spawn.rs
Due: starknet

Fix casing in mermaid diagram
  docs/tutorials/channels.md
Due: none

Split `StartHeight` into `PrepareHeight` and `StartHeight`
  code/crates/core-consensus/src/handle.rs
  code/crates/core-consensus/src/handle/start_height.rs
  code/crates/core-consensus/src/input.rs
  code/crates/engine/src/consensus.rs
Due: core, engine

Add check that we are in the right state before starting a height
  code/crates/core-consensus/src/handle/start_height.rs
Due: core

Uncomment metrics update
  code/crates/metrics/src/metrics.rs
Due: none

Fix warnings
  code/crates/core-consensus/src/handle/start_height.rs
Due: core

Use V and v, fix diagrams, add some app requirements
  docs/architecture/adr-003-values-propagation.md
Due: none

fix: apply @romac remarks
  docs/tutorials/channels.md
Due: none

Fix typos
  docs/architecture/adr-003-values-propagation.md
Due: none

Separate consensus core and engine, remove network
  docs/architecture/adr-003-values-propagation.md
Due: none

Correct diagrams
  docs/architecture/adr-003-values-propagation.md
Due: none

Address review comments
  docs/architecture/adr-003-values-propagation.md
Due: none

Add details for the different diagram blocks
  docs/architecture/adr-003-values-propagation.md
Due: none

Add warnings for ProposalOnly
  docs/architecture/adr-003-values-propagation.md
Due: none

Apply suggestions from code review
  docs/architecture/adr-003-values-propagation.md
Due: none

Small changes
  docs/architecture/adr-003-values-propagation.md
Due: none

Path conditions:
  core: any of: code/crates/core-*/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  engine: any of: code/crates/engine/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  app: any of: code/crates/app/**, code/crates/app-*/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  starknet: any of: code/crates/starknet/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
