Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

codecov.yml:

codecov:
  require_ci_to_pass: yes

comment:
  layout: "header, diff, flags, components"

ignore:
  - "code/crates/test"
  - "code/crates/signing-ed25519"
  - "code/crates/proto"
  - "code/examples"

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - "code/crates/core-*/**"
    - component_id: engine
      name: engine
      paths:
        - "code/crates/engine/**"
    - component_id: app
      name: app
      paths:
        - "code/crates/app/**"
        - "code/crates/app-*/**"
    - component_id: starknet
      name: starknet
      paths:
        - "code/crates/starknet/**"

coverage:
  precision: 2
  round: nearest
  range: "50...90"

  status:
    project:
      default:
        target: auto
        threshold: 5%
        removed_code_behavior: adjust_base
        paths:
          - "code"
    patch:
      default:
        target: 0%
        threshold: 5%
        paths:
          - "code"

    changes:
      default:
        informational: true

update makeFile
  code/Makefile
Due: none

update
  code/Makefile
Due: none

update makeFile
  Makefile
  code/Makefile
  code/crates/starknet/p2p-proto/build.rs
Due: starknet

Post-merge fixes
  code/crates/starknet/test/src/lib.rs
  code/crates/test/tests/it/main.rs
Due: starknet

Run tests sequentially
  code/Makefile
Due: none

No load by default
  code/crates/config/src/lib.rs
Due: none

Cleanup
  code/crates/starknet/host/src/mempool.rs
Due: starknet

Fix config parsing
  code/crates/config/src/lib.rs
  code/examples/channel/config.toml
Due: none

Less aggressive parameters
  code/crates/config/src/lib.rs
  code/crates/starknet/test/src/lib.rs
Due: starknet

Enforce parts-only configuration and mode for starknet app
  code/crates/starknet/host/src/actor.rs
  code/crates/starknet/host/src/host/starknet.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/starknet/test/src/lib.rs
  code/crates/starknet/test/src/tests.rs
  code/crates/starknet/test/src/tests/n3f0_consensus_mode.rs
  code/crates/starknet/test/src/tests/value_sync.rs
  code/crates/starknet/test/src/tests/vote_sync.rs
  code/crates/starknet/test/src/tests/wal.rs
  code/scripts/spawn.bash
Due: starknet

Revert spawn.bash change
  code/scripts/spawn.bash
Due: none

Small cleanup
  code/crates/starknet/host/src/spawn.rs
Due: starknet

Post-merge fixes
  code/crates/starknet/test/src/tests/n3f0_consensus_mode.rs
Due: starknet

Remove vote extensions from starknet app
  code/crates/starknet/host/src/actor.rs
  code/crates/starknet/host/src/host/proposal.rs
  code/crates/starknet/host/src/host/starknet.rs
Due: starknet

fix(code/app): Fix bug in test app and example app where proposal parts were not processed in order of sequence number
  code/crates/test/app/src/streaming.rs
  code/examples/channel/src/streaming.rs
Due: none

Change seed so a node selects different values.
  code/crates/test/app/src/state.rs
Due: none

Temp change to repropose different value on restart
  code/crates/test/app/src/app.rs
Due: none

Add test for consensus stuck with byzantine proposer
  code/crates/test/tests/it/wal.rs
Due: none

Fix spelling
  code/crates/core-types/src/signing.rs
Due: core

Add test with two nodes with non empty WALs at crash
  code/crates/core-votekeeper/src/keeper.rs
  code/crates/test/tests/it/wal.rs
Due: core

Temporary fix for vote equivocation after restart, to be used for testing
  code/crates/core-consensus/src/handle/driver.rs
  code/crates/core-consensus/src/state.rs
Due: core

Add note to debug tests without sync
  code/crates/test/tests/it/wal.rs
Due: none

transport onfig fix and localnet Makefile fixes
  code/scripts/Makefile
  code/scripts/nohup.out
  qa/terraform/templates/commands.tmpl
Due: none

Add `VoteSyncMode` option to the core consensus parameters
  code/crates/app/src/spawn.rs
  code/crates/app/src/types.rs
  code/crates/config/src/lib.rs
  code/crates/core-consensus/src/handle/rebroadcast_timeout.rs
  code/crates/core-consensus/src/lib.rs
  code/crates/core-consensus/src/params.rs
  code/crates/engine/src/consensus.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/starknet/test/src/lib.rs
  code/crates/test/app/src/state.rs
  code/crates/test/cli/src/cmd/distributed_testnet.rs
  code/crates/test/cli/src/new.rs
  code/crates/test/framework/src/node.rs
  code/crates/test/framework/src/params.rs
  code/crates/test/tests/it/main.rs
  code/crates/test/tests/it/wal.rs
Due: core, engine, app, starknet

Add tests for both rebroadcast and request-response modes of VoteSync
  code/crates/test/tests/it/wal.rs
Due: none

Move last vote cast into the driver
  code/crates/core-consensus/src/handle/driver.rs
  code/crates/core-consensus/src/state.rs
  code/crates/core-driver/src/driver.rs
Due: core

Check that byzantine proposer does not propose the same value twice
  code/crates/test/tests/it/wal.rs
Due: none

feat(engine): Buffer consensus messages during startup and recovery
  code/Cargo.lock
  code/crates/engine/Cargo.toml
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/util/mod.rs
  code/crates/engine/src/util/msg_buffer.rs
Due: engine

spec/consensus: fixes on Tendermint pseudo-code
  specs/consensus/pseudo-code.md
Due: none

Fix typo in doc comment
  code/crates/core-types/src/round.rs
Due: core

fix(code/core-consensus): Only cancel propose timeout on a step change
  code/crates/core-consensus/src/handle/driver.rs
  code/crates/core-driver/src/mux.rs
Due: core

Buffer elapsed timeouts as well
  code/crates/engine/src/consensus.rs
Due: engine

Store last signed vote in consensus state for rebroadcast
  code/crates/core-consensus/src/handle/driver.rs
  code/crates/core-consensus/src/handle/rebroadcast_timeout.rs
  code/crates/core-consensus/src/state.rs
Due: core

wip: Add PolkaCertificate
  code/crates/core-consensus/Cargo.toml
  code/crates/core-consensus/src/effect.rs
  code/crates/core-consensus/src/handle.rs
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/core-consensus/src/handle/driver.rs
  code/crates/core-consensus/src/handle/vote_set.rs
  code/crates/core-consensus/src/input.rs
  code/crates/core-consensus/src/state.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/src/input.rs
  code/crates/core-driver/src/mux.rs
  code/crates/core-types/src/certificate.rs
  code/crates/core-types/src/lib.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/util/events.rs
  code/crates/starknet/host/src/block_store.rs
  code/crates/starknet/host/src/codec.rs
  code/crates/starknet/p2p-proto/build.rs
  code/crates/starknet/p2p-proto/proto/certificate.proto
  code/crates/starknet/p2p-proto/proto/sync.proto
  code/crates/starknet/p2p-proto/src/lib.rs
  code/crates/sync/src/types.rs
  code/crates/test/app/src/store.rs
  code/crates/test/proto/sync.proto
  code/crates/test/src/codec/proto/mod.rs
  code/crates/test/tests/it/wal.rs
  code/examples/channel/src/store.rs
Due: core, engine, starknet

Ensure all three types of integration tests are always run even if a preceding one fails
  .github/workflows/rust.yml
Due: none

Only schedule the rebroadcast timer if vote sync mode is `rebroadcast`
  code/crates/core-consensus/src/handle/driver.rs
Due: core

Automatically enable the Sync actor if vote sync mode is request-response
  code/crates/test/framework/src/params.rs
Due: none
