Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

codecov.yml:

codecov:
  require_ci_to_pass: false

comment:
  layout: "header, diff, flags, components"

ignore:
  - "code/examples"
  - "code/crates/proto"
  - "code/crates/test/mempool"
  - "code/crates/test/proto"
  - "code/crates/test/cli"
  - "code/crates/signing-ed25519"
  - "code/crates/starknet/p2p-proto"
  - "code/crates/starknet/p2p-types"

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - "code/crates/core-consensus/**"
        - "code/crates/core-driver/**"
        - "code/crates/core-state-machine/**"
        - "code/crates/core-types/**"
        - "code/crates/core-votekeeper/**"
    - component_id: engine
      name: engine
      paths:
        - "code/crates/engine/**"
        - "code/crates/sync/**"
    - component_id: app
      name: app
      paths:
        - "code/crates/app/**"
        - "code/crates/app-channel/**"
    - component_id: starknet
      name: starknet
      paths:
        - "code/crates/starknet/**"

coverage:
  precision: 2
  round: nearest
  range: "50...90"

  status:
    project:
      default:
        target: auto
        threshold: 5%
        removed_code_behavior: adjust_base
        paths:
          - "code"
    patch:
      default:
        target: 0%
        threshold: 5%
        paths:
          - "code"

    changes:
      default:
        informational: true

fix(discovery): Fix peer identify unwrap
  code/crates/discovery/src/handlers/identify.rs
Due: none

fix(clippy): Fix clippy warnings
  code/crates/test/app/src/store.rs
  code/examples/channel/src/store.rs
Due: none

fix(discovery): Don't add peers with empty address list to dial queue
  code/crates/discovery/src/handlers/peers_request.rs
Due: none

fix(discovery): Can connect request calls the wrong controller action
  code/crates/discovery/src/handlers/connect_request.rs
Due: none

fix(network): Network broadcast handler calls publish instead of broadcast
  code/crates/network/src/handle.rs
Due: none

chore(network): Add validator and persistent peer only info to logs
  code/crates/network/src/lib.rs
  code/crates/network/src/state.rs
Due: none

feat(CCHAIN-738): Add validator classification to network peers
  code/crates/app-channel/src/run.rs
  code/crates/app-channel/src/spawn.rs
  code/crates/app/src/spawn.rs
  code/crates/core-types/src/validator_set.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/network.rs
  code/crates/network/src/behaviour.rs
  code/crates/network/src/handle.rs
  code/crates/network/src/lib.rs
  code/crates/network/src/metrics.rs
  code/crates/network/src/peer_scoring.rs
  code/crates/network/src/peer_type.rs
  code/crates/network/src/state.rs
  code/crates/network/src/utils.rs
  code/crates/network/test/src/lib.rs
  code/crates/network/test/tests/connection_flood.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/test/app/src/node.rs
  code/examples/channel/src/node.rs
  code/examples/channel/src/state.rs
Due: core, engine, app, starknet

feat(CCHAIN453): Add a mechanism to dump the network state
  code/crates/app-channel/src/lib.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/app-channel/src/run.rs
  code/crates/engine/src/network.rs
  code/crates/network/src/handle.rs
  code/crates/network/src/lib.rs
  code/crates/network/src/state.rs
Due: engine, app

fix(discovery): Clear connect_request done_on to allow re-upgrading the peer on reconnection
  code/crates/discovery/src/handlers/close.rs
Due: none

feat(network): Limit the number of peers that can connect from same IP address
  code/crates/app/src/spawn.rs
  code/crates/config/src/lib.rs
  code/crates/discovery/src/config.rs
  code/crates/network/src/behaviour.rs
  code/crates/network/src/ip_limits.rs
  code/crates/network/src/lib.rs
  code/crates/network/test/tests/connection_flood.rs
  code/crates/network/test/tests/ip_limits.rs
  code/crates/test/app/config.toml
  code/crates/test/cli/src/cmd/distributed_testnet.rs
  code/crates/test/cli/src/cmd/init.rs
  code/crates/test/cli/src/cmd/testnet.rs
  code/examples/channel/config.toml
Due: app

fix(discovery): Don't cancel outgoing dials when receiving inbound connection from same peer
  code/crates/discovery/src/controller.rs
  code/crates/discovery/src/handlers/identify.rs
Due: none

fix(network/discovery): Prevent address poisoning when discovery is enabled
  code/crates/discovery/src/controller.rs
  code/crates/discovery/src/handlers/dial.rs
Due: none

feat: Implement `SigningProvider` for `Arc<T>` where `T: SigningProvider`
  code/crates/signing/src/lib.rs
Due: none

feat(CCHAIN453): Changes coming from comments on companion PR in `circle-chain-reth`
  code/Cargo.lock
  code/crates/app/Cargo.toml
  code/crates/app/src/lib.rs
  code/crates/network/src/metrics.rs
  code/crates/network/src/state.rs
Due: app

feat(CCHAIN-491): Initial random (fixed) period adjustment in sync status ticker
  code/crates/app/src/spawn.rs
  code/crates/engine/src/sync.rs
  code/crates/engine/src/util/ticker.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/sync/src/handle.rs
  code/crates/sync/src/metrics.rs
Due: engine, app, starknet

Update release notes
  RELEASE_NOTES.md
Due: none

Update breaking changes
  BREAKING_CHANGES.md
Due: none

chore(CCHAIN-871): Prevent address spoofing in persistent peer detection
  RELEASE_NOTES.md
  code/crates/discovery/src/handlers/close.rs
  code/crates/discovery/src/handlers/dial.rs
  code/crates/discovery/src/handlers/helpers.rs
  code/crates/discovery/src/lib.rs
  code/crates/network/src/lib.rs
  code/crates/network/src/peer_type.rs
  code/crates/network/src/state.rs
Due: none

feat(CCHAIN-771): Stop consensus engine on WAL replay error
  RELEASE_NOTES.md
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/node.rs
  code/crates/engine/src/util/events.rs
Due: engine

chore(ci): Add SonarQube analysis workflow and refactor coverage jobs
  .github/workflows/coverage.yml
  .github/workflows/rust.yml
  .github/workflows/sonarqube.yml
Due: none

Create cli.ts
  src/cli.ts
Due: none

Allow PRs from contributors assigned via /assign command by codeowners
  .github/workflows/pr-gate.yml
Due: none

Only parse codeowners once
  .github/workflows/pr-gate.yml
Due: none

fix: Fix unused import failing the build
  code/crates/test/app/src/store.rs
  code/examples/channel/src/store.rs
Due: none

fix(code): Replace unwrap with proper error handling in GetDecidedValue
  code/crates/test/app/src/app.rs
Due: none

Create .eslintrc.json
  .eslintrc.json
Due: none

Create .prettierrc.json
  .prettierrc.json
Due: none

Create date.test.ts
  utils/date.test.ts
Due: none

Update README.md
  README.md
Due: none

Update .gitignore
  .gitignore
Due: none

docs: ADR 006 for Consensus Write-Ahead Log (WAL)
  docs/architecture/adr-006-write-ahead-log.md
  docs/architecture/readme.md
Due: none

ci: Allow PRs from Dependabot
  .github/workflows/pr-gate.yml
Due: none

docs: ADR 003, intial content
  docs/architecture/adr-006-write-ahead-log.md
Due: none

docs: ADR on WAL, inputs to be persisted
  docs/architecture/adr-006-write-ahead-log.md
Due: none

feat(CCHAIN-903): Add ability to add/remove persistent peers at runtime
  RELEASE_NOTES.md
  code/Cargo.lock
  code/crates/app-channel/src/msgs.rs
  code/crates/app-channel/src/run.rs
  code/crates/discovery/src/lib.rs
  code/crates/engine/src/network.rs
  code/crates/network/Cargo.toml
  code/crates/network/src/handle.rs
  code/crates/network/src/lib.rs
  code/crates/network/src/peer_type.rs
  code/crates/network/src/state.rs
  code/crates/network/test/tests/persistent_peers.rs
Due: engine, app

docs: ADR on WAL, checkpoints every height
  docs/architecture/adr-006-write-ahead-log.md
Due: none

Fix WAL actor deadlock on Append errors
  code/crates/engine/src/wal/thread.rs
Due: engine

ci: Allow more issue closing prefixes
  .github/workflows/pr-gate.yml
Due: none

docs: ADR on WAL, sync vs async persistenc
  docs/architecture/adr-006-write-ahead-log.md
Due: none
