Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

doc: added protobuf to the requirements list
  README.md
Due: none

doc: added protobuf version
  README.md
Due: none

Merge `WalReplay` events into one
  code/Cargo.toml
  code/crates/core-consensus/src/types.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/util/events.rs
Due: core, engine

doc: update README.md
  README.md
Due: none

Review comments
  code/crates/core-consensus/src/full_proposal.rs
Due: core

Apply suggestions from code review
  code/crates/core-consensus/src/handle/propose.rs
Due: core

Add comments to handler functions
  code/crates/core-consensus/src/handle/proposal.rs
  code/crates/core-consensus/src/handle/proposed_value.rs
Due: core

Add comments to on_propose handler
  code/crates/core-consensus/src/handle/propose.rs
Due: core

Add encode and decode functions for all wal entries
  code/crates/engine/src/wal/entry.rs
Due: engine

Get the precommits from the driver
  code/crates/core-consensus/src/handle/vote.rs
  code/crates/core-consensus/src/state.rs
Due: core

Change check to assertion
  code/crates/core-consensus/src/state.rs
Due: core

Silence doc formatting lint
  code/Cargo.toml
Due: none

Apply suggestion from code review
  code/crates/core-consensus/src/handle/proposal.rs
Due: core

Add proposer check when a value to propose is received
  code/crates/core-consensus/src/handle/propose.rs
Due: core

Send vote requests to peers at same tip height
  code/crates/sync/src/state.rs
Due: none

Remove async from verify_propose_value
  code/crates/core-consensus/src/handle/propose.rs
Due: core

Fix comments
  code/crates/sync/src/state.rs
Due: none

Apply suggestions from code review
  code/crates/sync/src/state.rs
Due: none

Fix comment
  code/crates/sync/src/state.rs
Due: none

Bump version to v0.1.0
  code/Cargo.lock
  code/Cargo.toml
Due: none

Link to BREAKING_CHANGES.md from the changelog
  CHANGELOG.md
  cliff.toml
Due: none

Generate changelog with `git-cliff`
  CHANGELOG.md
  cliff.toml
Due: none

Add list of breaking changes
  BREAKING_CHANGES.md
Due: none

Add links to PRs
  CHANGELOG.md
  cliff.toml
Due: none

Add RELEASE_NOTEs.md
  CHANGELOG.md
  RELEASE_NOTES.md
  cliff.toml
Due: none

Link to release notes from changelog
  CHANGELOG.md
Due: none

Emoji
  CHANGELOG.md
  cliff.toml
Due: none

More consistent method names
  code/crates/engine/src/consensus.rs
Due: engine

Add `is_restart` to `StartedHeight` event
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/util/events.rs
  code/crates/test/framework/src/lib.rs
Due: engine

Use middleware in test app to reset height
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/state.rs
  code/crates/test/src/middleware.rs
Due: none

Remove height reset from example app
  code/examples/channel/src/state.rs
Due: none

Add test for resetting height
  code/crates/test/tests/it/main.rs
  code/crates/test/tests/it/reset.rs
Due: none

Only reset the height once in test
  code/crates/test/tests/it/reset.rs
Due: none

feat(code/sync): Include both tip and sync height in sync status
  code/crates/engine/src/network.rs
  code/crates/engine/src/sync.rs
  code/crates/starknet/host/src/codec.rs
  code/crates/starknet/p2p-proto/proto/sync.proto
  code/crates/sync/src/handle.rs
  code/crates/sync/src/state.rs
  code/crates/sync/src/types.rs
  code/crates/test/proto/sync.proto
  code/crates/test/src/codec/proto/mod.rs
Due: engine, starknet

Move proposal and vote signature verification in the engine
  code/crates/core-consensus/src/effect.rs
  code/crates/core-consensus/src/handle/proposal.rs
  code/crates/core-consensus/src/handle/signature.rs
  code/crates/core-consensus/src/handle/vote.rs
  code/crates/engine/src/consensus.rs
Due: core, engine

Reset sync tip height when restarting a height
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/sync.rs
  code/crates/sync/src/handle.rs
Due: engine

Cleanup Resume variants and updates to adr-004
  code/crates/core-consensus/src/effect.rs
  docs/architecture/adr-004-coroutine-effect-system.md
Due: core

Restore original sync inputs, add `restart` to `StartedHeight`
  code/crates/engine/src/sync.rs
  code/crates/sync/src/handle.rs
  code/crates/test/tests/it/wal.rs
Due: engine

Cleanup
  code/crates/core-consensus/src/handle/step_timeout.rs
  code/crates/engine/src/network.rs
  code/crates/engine/src/sync.rs
  code/crates/starknet/host/src/codec.rs
  code/crates/sync/src/handle.rs
  code/crates/sync/src/state.rs
  code/crates/sync/src/types.rs
  code/crates/test/src/codec/proto/mod.rs
Due: core, engine, starknet

Path conditions:
  core: any of: code/crates/core-*/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  engine: any of: code/crates/engine/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  app: any of: code/crates/app/**, code/crates/app-*/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  starknet: any of: code/crates/starknet/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
