Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

Add a release note
  RELEASE_NOTES.md
Due: none

Move certificate verification in the engine
  code/crates/core-consensus/src/effect.rs
  code/crates/core-consensus/src/error.rs
  code/crates/core-consensus/src/handle.rs
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/core-consensus/src/handle/signature.rs
  code/crates/core-consensus/src/handle/sync.rs
  code/crates/core-consensus/src/handle/validator_set.rs
  code/crates/core-types/src/certificate.rs
  code/crates/engine/src/consensus.rs
  docs/architecture/adr-004-coroutine-effect-system.md
Due: core, engine

Add warnings to the adr, tutorial and comments
  code/crates/engine/src/consensus.rs
  docs/architecture/adr-004-coroutine-effect-system.md
  docs/tutorials/channels.md
Due: engine

Fix spelling
  docs/tutorials/channels.md
Due: none

Rename `VerifyCertificate` to VerifyCommitCertificate`
  code/crates/core-consensus/src/effect.rs
  code/crates/core-consensus/src/error.rs
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/core-consensus/src/handle/signature.rs
  code/crates/core-consensus/src/handle/sync.rs
  code/crates/core-types/src/signing.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/sync.rs
Due: core, engine

Adapt `CertificateError` to account for polka certificates
  code/crates/core-types/src/certificate.rs
  code/crates/core-types/src/signing.rs
  code/crates/engine/src/consensus.rs
Due: core, engine

Ensure that each validator only voted once per polka/commit certificate
  code/crates/core-types/src/certificate.rs
  code/crates/core-types/src/signing.rs
Due: core

Verify polka certificates
  code/crates/core-consensus/src/effect.rs
  code/crates/core-consensus/src/handle/signature.rs
  code/crates/core-consensus/src/handle/vote_set.rs
  code/crates/core-types/src/signing.rs
  code/crates/core-types/src/threshold.rs
  code/crates/engine/src/consensus.rs
Due: core, engine

Channel app store and notify consensus of multiple proposals for same height and round
  code/crates/app-channel/src/connector.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/test/app/src/app.rs
  code/examples/channel/src/app.rs
  code/examples/channel/src/state.rs
  code/examples/channel/src/store.rs
  code/examples/channel/src/store/keys.rs
Due: app

Add unit tests
  code/crates/core-types/src/certificate.rs
  code/crates/test/src/utils/validators.rs
  code/crates/test/src/validator_set.rs
  code/crates/test/tests/unit/certificates/mod.rs
  code/crates/test/tests/unit/certificates/polka.rs
  code/crates/test/tests/unit/main.rs
Due: core

Refactor test using a fluent DSL
  code/crates/test/tests/unit/certificates/polka.rs
Due: none

added function to collect latency and throughput
  qa/terraform/templates/commands.tmpl
Due: none

Second attempt at removing timeout commit
  code/crates/config/src/lib.rs
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/core-consensus/src/handle/driver.rs
  code/crates/core-consensus/src/handle/timeout.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-types/src/timeout.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/wal/entry.rs
Due: core, engine

copy files to s3
  .github/workflows/qa.yml
  qa/terraform/templates/commands.tmpl
Due: none

bug fix s3
  .github/workflows/qa.yml
Due: none

full qa with s3
  .github/workflows/qa.yml
Due: none

csv files are missing
  .github/workflows/qa.yml
Due: none

Make test DSL generic over the type of certificate
  code/crates/core-types/src/certificate.rs
  code/crates/test/tests/unit/certificates/mod.rs
  code/crates/test/tests/unit/certificates/polka.rs
Due: core

Add tests for commit certificates
  code/crates/test/tests/unit/certificates/commit.rs
  code/crates/test/tests/unit/certificates/mod.rs
Due: none

Cleanup
  code/crates/test/tests/unit/certificates/mod.rs
Due: none

Cleanup, part 2
  code/crates/core-types/src/certificate.rs
  code/crates/core-types/src/signing.rs
  code/crates/test/tests/unit/certificates/commit.rs
  code/crates/test/tests/unit/certificates/polka.rs
Due: core

copy files separately
  .github/workflows/qa.yml
Due: none

Cleanup, part 3
  code/crates/test/tests/unit/certificates/commit.rs
  code/crates/test/tests/unit/certificates/mod.rs
  code/crates/test/tests/unit/certificates/polka.rs
Due: none

Test app store and notify conesnsus of multiple proposals for same round
  code/crates/app-channel/src/connector.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/state.rs
  code/crates/test/app/src/store.rs
  code/crates/test/app/src/store/keys.rs
  code/examples/channel/src/app.rs
  code/examples/channel/src/state.rs
  code/examples/channel/src/store.rs
Due: app

Add specific error when encountering a commit timeout in the WAL
  code/crates/engine/src/wal/entry.rs
Due: engine

exec-time to 0s
  qa/terraform/templates/commands.tmpl
Due: none

full setup ready
  .github/workflows/qa.yml
Due: none

fix(docs): Update README.md to include a pronunciation guide
  README.md
Due: none

Decide via state machine for synced values
  code/crates/core-consensus/src/handle/proposed_value.rs
  code/crates/core-consensus/src/handle/sync.rs
Due: core

Minor cleanup
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/core-consensus/src/handle/driver.rs
  code/crates/core-consensus/src/handle/sync.rs
Due: core

Check height and round of votes within polka certificate
  code/crates/core-types/src/signing.rs
  code/crates/test/tests/unit/certificates/mod.rs
  code/crates/test/tests/unit/certificates/polka.rs
Due: core

Change type of `mempool.load.size` to `ByteSize`
  code/crates/config/src/lib.rs
  code/crates/starknet/host/src/mempool_load.rs
Due: starknet

Remove now unused `test.tx_size` setting, in favor of `mempool.load.size`
  code/crates/config/src/lib.rs
  code/crates/starknet/host/src/host/starknet.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/starknet/test/src/lib.rs
  code/crates/test/framework/src/params.rs
Due: starknet

Remove `AggregatedSignature` type
  code/crates/core-types/src/certificate.rs
  code/crates/core-types/src/lib.rs
  code/crates/core-types/src/signing.rs
Due: core

Rename `aggregated_signatures` to `commit_signatures`
  code/crates/core-consensus/src/handle/sync.rs
  code/crates/core-types/src/certificate.rs
  code/crates/core-types/src/signing.rs
  code/crates/engine/src/consensus.rs
  code/crates/starknet/host/src/codec.rs
  code/crates/test/app/src/app.rs
  code/crates/test/src/codec/proto/mod.rs
Due: core, engine, starknet

Add aggregated signatures to polka certificate
  code/crates/core-driver/src/driver.rs
  code/crates/core-types/src/certificate.rs
  code/crates/core-types/src/lib.rs
  code/crates/core-types/src/signing.rs
  code/crates/engine/src/consensus.rs
  code/crates/starknet/host/src/codec.rs
  code/crates/starknet/p2p-proto/proto/sync.proto
  code/crates/starknet/p2p-types/src/signing.rs
  code/crates/test/app/src/app.rs
  code/crates/test/proto/sync.proto
  code/crates/test/src/codec/proto/mod.rs
  code/crates/test/src/signing.rs
Due: core, engine, starknet

Fix expected voting power log
  code/crates/core-consensus/src/state.rs
Due: core

Provide implementation of `verify_[polka/commit]_signature`
  code/crates/core-types/src/signing.rs
  code/crates/engine/src/consensus.rs
  code/crates/starknet/p2p-types/src/signing.rs
  code/crates/test/src/signing.rs
  code/crates/test/tests/unit/certificates/commit.rs
  code/crates/test/tests/unit/certificates/mod.rs
  code/crates/test/tests/unit/certificates/polka.rs
Due: core, engine, starknet

chore(admin): Update `pull_request_template.md`
  .github/pull_request_template.md
Due: none

Path conditions:
  core: any of: code/crates/core-*/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  engine: any of: code/crates/engine/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  app: any of: code/crates/app/**, code/crates/app-*/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  starknet: any of: code/crates/starknet/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
