Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

Sort votes and certificates by round in ascending order
  code/crates/core-consensus/src/state.rs
Due: core

Revert "Sort votes and certificates by round in ascending order"
  code/crates/core-consensus/src/state.rs
Due: core

full setup with less output
  .github/workflows/qa.yml
Due: none

full qa run
  .github/workflows/qa.yml
Due: none

Replay WAL before start round
  code/crates/engine/src/consensus.rs
  code/crates/metrics/src/metrics.rs
  code/crates/test/tests/it/wal.rs
Due: engine

Hack driver to vote equivocate in round 0 and if proposer
  code/crates/core-consensus/src/handle/driver.rs
  code/crates/core-consensus/src/state.rs
Due: core

Add check for proposals with valid round when muxing the polka certificate
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/src/mux.rs
Due: core

Check for polka certificate when a proposal is received
  code/crates/core-driver/src/mux.rs
Due: core

Better spawn.bash for multi node testing
  code/scripts/spawn.bash
Due: none

Fix restreaming related issues in test app
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/node.rs
  code/crates/test/app/src/state.rs
  code/crates/test/app/src/store.rs
  code/crates/test/framework/src/params.rs
  code/crates/test/tests/it/main.rs
Due: none

Change test parameters to trigger polka cert dissemination
  code/crates/test/tests/it/n3f0.rs
Due: none

Fix restreaming related issues in channel app
  code/examples/channel/src/app.rs
  code/examples/channel/src/node.rs
  code/examples/channel/src/state.rs
  code/examples/channel/src/store.rs
Due: none

Only equivocate at initial height
  code/crates/core-consensus/src/handle/driver.rs
Due: core

Clean spwan script
  code/scripts/spawn.bash
Due: none

Change the test framework default to proposal and parts
  code/crates/starknet/test/src/tests/value_sync.rs
  code/crates/test/framework/src/params.rs
  code/crates/test/tests/it/wal.rs
Due: starknet

docs: Fix incorrect preposition in documentation
  README.md
Due: none

fix: fixed minor issues and proposed improvements
  scripts/quint-forall.sh
Due: none

Update specs/consensus/overview.md
  specs/consensus/overview.md
Due: none

second pass
  specs/consensus/overview.md
Due: none

Temp disable parts-only it tests
  code/crates/test/tests/it/n3f0_consensus_mode.rs
  code/crates/test/tests/it/value_sync.rs
  code/crates/test/tests/it/vote_sync.rs
  code/crates/test/tests/it/wal.rs
Due: none

Temp disable rebroadcast it tests
  code/crates/test/tests/it/vote_sync_bcast.rs
  code/crates/test/tests/it/wal.rs
Due: none

fix(code/core-consensus): Only persist votes in the WAL if they have not yet been seen
  code/crates/core-consensus/src/handle/vote.rs
  code/crates/core-votekeeper/src/keeper.rs
Due: core

feat(code/wal): Add facilities for dumping the WAL entries
  code/Cargo.lock
  code/crates/app/Cargo.toml
  code/crates/app/src/lib.rs
  code/crates/engine/src/wal.rs
  code/crates/engine/src/wal/iter.rs
  code/crates/engine/src/wal/thread.rs
  code/crates/starknet/app/src/main.rs
  code/crates/starknet/host/src/codec.rs
  code/crates/test/cli/src/args.rs
  code/crates/test/cli/src/cmd/dump_wal.rs
  code/crates/test/cli/src/cmd/mod.rs
  code/crates/test/src/codec/proto/mod.rs
  code/examples/channel/src/main.rs
Due: engine, app, starknet

fix(code/app): Add the POL round to `ProposalInit` message of the example and test applications
  code/crates/app-channel/src/msgs.rs
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/state.rs
  code/crates/test/proto/consensus.proto
  code/crates/test/src/proposal_part.rs
  code/examples/channel/src/app.rs
  code/examples/channel/src/state.rs
Due: app

Re-enable parts-only tests
  code/crates/test/tests/it/n3f0_consensus_mode.rs
  code/crates/test/tests/it/value_sync.rs
  code/crates/test/tests/it/vote_sync.rs
  code/crates/test/tests/it/wal.rs
Due: none

Trying L28 with the last prevote in polka previous
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/src/mux.rs
  code/crates/core-driver/tests/it/extra.rs
Due: core

Set valid_round on proposed value
  code/crates/test/app/src/state.rs
  code/examples/channel/src/state.rs
Due: none

Correct test name and last step
  code/crates/core-driver/tests/it/extra.rs
Due: core

Do not sync before consensus has started, improve sync logs
  code/crates/engine/src/sync.rs
  code/crates/sync/src/handle.rs
  code/crates/sync/src/state.rs
Due: engine

Remove unused `GetStatus` message
  code/crates/engine/src/consensus.rs
Due: engine

Ensure `ConsensusReady` is only ever sent once to the host
  code/crates/engine/src/consensus.rs
Due: engine

Store synced value in example app
  code/examples/channel/src/app.rs
Due: none

Less noisy logs in some places
  code/crates/core-consensus/src/handle/vote.rs
  code/crates/engine/src/consensus.rs
  code/crates/test/app/src/app.rs
Due: core, engine

Remove pending value response when we get a response, before it is even processed, in case processing fails
  code/crates/sync/src/handle.rs
Due: none

Path conditions:
  core: any of: code/crates/core-*/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  engine: any of: code/crates/engine/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  app: any of: code/crates/app/**, code/crates/app-*/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  starknet: any of: code/crates/starknet/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
