Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

feat: Remove `initial_height` and `initial_validator_set` from consensus params
  code/crates/core-consensus/src/params.rs
  code/crates/core-consensus/src/state.rs
  code/crates/engine/src/consensus.rs
Due: core, engine

chore: Adapt applications to removal of `initial_height` and `initial_validator_set` params
  code/crates/app-channel/src/msgs.rs
  code/crates/app-channel/src/run.rs
  code/crates/app/src/spawn.rs
  code/crates/starknet/host/src/node.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/test/app/src/node.rs
  code/examples/channel/src/node.rs
Due: app, starknet

Reset metrics step on restart
  code/crates/core-consensus/src/handle/start_height.rs
  code/crates/metrics/src/metrics.rs
Due: core

rename HeightUpdates to Updates
  BREAKING_CHANGES.md
  code/crates/app-channel/src/msgs.rs
  code/crates/core-driver/tests/it/height_updates.rs
  code/crates/core-types/src/lib.rs
  code/crates/core-types/src/updates.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/host.rs
  code/crates/starknet/host/src/actor.rs
  code/crates/test/app/src/app.rs
  code/examples/channel/src/app.rs
Due: core, engine, app, starknet

chore: add rust-toolchain.toml to pin Rust 1.85.0
  code/rust-toolchain.toml
Due: none

Delete code/rust-toolchain.toml
  code/rust-toolchain.toml
Due: none

fix: Ensure we do not lose the input queue on `StartHeight`
  code/crates/engine/src/consensus.rs
Due: engine

chore: Only initialize state consensus on first height
  code/crates/engine/src/consensus.rs
Due: engine

Revert "Reset metrics step on restart"
  code/crates/core-consensus/src/handle/start_height.rs
  code/crates/metrics/src/metrics.rs
Due: core

Update breaking changes and release notes
  BREAKING_CHANGES.md
  RELEASE_NOTES.md
Due: none

remove initial_timeouts
  BREAKING_CHANGES.md
  code/crates/app-channel/src/run.rs
  code/crates/app/src/spawn.rs
  code/crates/core-consensus/src/params.rs
  code/crates/core-types/src/timeouts.rs
  code/crates/engine/src/consensus.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/test/app/src/node.rs
  code/examples/channel/src/node.rs
Due: core, engine, app, starknet

only check if valset is non empty at INITIAL_HEIGHT
  code/crates/engine/src/consensus.rs
Due: engine

compare the old and new validator sets in test app
  code/crates/test/app/src/app.rs
Due: none

test timeout updates
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/state.rs
  code/crates/test/src/lib.rs
  code/crates/test/src/middleware.rs
  code/crates/test/tests/it/main.rs
  code/crates/test/tests/it/timeout_updates.rs
Due: none

Rename `Updates` to `HeightParams`
  code/crates/app-channel/src/msgs.rs
  code/crates/core-driver/tests/it/height_updates.rs
  code/crates/core-types/src/height_params.rs
  code/crates/core-types/src/lib.rs
  code/crates/core-types/src/updates.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/host.rs
  code/crates/starknet/host/src/actor.rs
  code/crates/test/app/src/app.rs
  code/examples/channel/src/app.rs
Due: core, engine, app, starknet

Make height parameters required
  code/crates/core-consensus/src/handle/start_height.rs
  code/crates/core-consensus/src/input.rs
  code/crates/core-consensus/src/state.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/tests/it/height_updates.rs
  code/crates/engine/src/consensus.rs
  code/crates/starknet/host/src/actor.rs
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/state.rs
  code/examples/channel/src/app.rs
  code/examples/channel/src/state.rs
Due: core, engine, starknet

Remove XXX comment
  code/crates/core-driver/src/driver.rs
Due: core

Re-introduce validator set empty check
  code/crates/engine/src/consensus.rs
Due: engine

Update release notes
  BREAKING_CHANGES.md
  RELEASE_NOTES.md
Due: none

Remove duplicate test
  code/crates/test/tests/it/timeout_updates.rs
Due: none

chore: add .editorconfig to enforce consistent formatting
  .editorconfig
Due: none

docs: add onboarding guide for new contributors
  docs/ONBOARDING.md
Due: none

chore: add environment check script for rust and Quint
  scripts/check-env.sh
Due: none

docs: add high-level testing overview
  docs/TESTING-OVERVIEW.md
Due: none

docs: add development warning to README
  README.md
Due: none

docs: link to channels tutorial
  README.md
Due: none

docs: add architecture reference to intro
  README.md
Due: none

docs: add CI pipelines overview
  docs/CI_PIPELINES_OVERVIEW.md
Due: none

chore: add script to run basic checks
  scripts/run-basic-checks.sh
Due: none

docs: add examples overview
  docs/EXAMPLES_OVERVIEW.md
Due: none

docs: add short project description
  README.md
Due: none

docs: add short project summary
  README.md
Due: none

docs: add node operator readiness checklist
  docs/NODE_OPERATOR_CHECKLIST.md
Due: none

chore: add host environment check script
  scripts/check-host-env.sh
Due: none

Create app-integration-support.yml
  .github/ISSUE_TEMPLATE/app-integration-support.yml
Due: none

chore: tidy gitignore and ignore editor files
  .gitignore
Due: none

chore: reformat typos.toml for clearer layout
  typos.toml
Due: none

Update CONTRIBUTING_CODE.md
  CONTRIBUTING_CODE.md
Due: none

docs: add quick start section for local usage
  README.md
Due: none

Path conditions:
  core: any of: code/crates/core-consensus/**, code/crates/core-driver/**, code/crates/core-state-machine/**, code/crates/core-types/**, code/crates/core-votekeeper/**, but not: code/examples, code/crates/proto, code/crates/test/mempool, code/crates/test/proto, code/crates/test/cli, code/crates/signing-ed25519, code/crates/starknet/p2p-proto, code/crates/starknet/p2p-types
  engine: any of: code/crates/engine/**, code/crates/sync/**, but not: code/examples, code/crates/proto, code/crates/test/mempool, code/crates/test/proto, code/crates/test/cli, code/crates/signing-ed25519, code/crates/starknet/p2p-proto, code/crates/starknet/p2p-types
  app: any of: code/crates/app/**, code/crates/app-channel/**, but not: code/examples, code/crates/proto, code/crates/test/mempool, code/crates/test/proto, code/crates/test/cli, code/crates/signing-ed25519, code/crates/starknet/p2p-proto, code/crates/starknet/p2p-types
  starknet: any of: code/crates/starknet/**, but not: code/examples, code/crates/proto, code/crates/test/mempool, code/crates/test/proto, code/crates/test/cli, code/crates/signing-ed25519, code/crates/starknet/p2p-proto, code/crates/starknet/p2p-types
