Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

codecov.yml:

codecov:
  require_ci_to_pass: yes

comment:
  layout: "header, diff, flags, components"

ignore:
  - "code/crates/test"
  - "code/crates/signing-ed25519"
  - "code/crates/proto"
  - "code/examples"

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - "code/crates/core-*/**"
    - component_id: engine
      name: engine
      paths:
        - "code/crates/engine/**"
    - component_id: app
      name: app
      paths:
        - "code/crates/app/**"
        - "code/crates/app-*/**"
    - component_id: starknet
      name: starknet
      paths:
        - "code/crates/starknet/**"

coverage:
  precision: 2
  round: nearest
  range: "50...90"

  status:
    project:
      default:
        target: auto
        threshold: 5%
        removed_code_behavior: adjust_base
        paths:
          - "code"
    patch:
      default:
        target: 0%
        threshold: 5%
        paths:
          - "code"

    changes:
      default:
        informational: true

QA troubleshooting second try
  .github/workflows/qa.yml
Due: none

QA troubleshooting third time
  .github/workflows/qa.yml
Due: none

Update state.rs
  code/crates/test/app/src/state.rs
Due: none

QA troubleshooting 4
  .github/workflows/qa.yml
Due: none

QA troubleshooting final
  .github/workflows/qa.yml
Due: none

QA troubleshooting aliases
  .github/workflows/qa.yml
Due: none

Dedup decision code
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/core-consensus/src/handle/proposed_value.rs
  code/crates/core-consensus/src/handle/sync.rs
Due: core

chore(code): Some WAL entries fail to decode (#840)
  code/crates/core-consensus/src/handle/timeout.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/util/events.rs
  code/crates/engine/src/wal/entry.rs
  code/crates/engine/src/wal/thread.rs
  code/crates/starknet/test/src/lib.rs
  code/crates/starknet/test/src/tests/wal.rs
Due: core, engine, starknet

Refactor parts signature verification
  code/crates/test/src/proposal_part.rs
  code/examples/channel/src/state.rs
  code/examples/channel/src/streaming.rs
Due: none

Post-merge fixes
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/state.rs
  code/crates/test/app/src/streaming.rs
Due: none

Add parts signature verification to test app
  code/crates/test/app/src/node.rs
  code/crates/test/app/src/state.rs
  code/crates/test/app/src/streaming.rs
Due: none

Restream proposal parts when reproposing a value
  code/crates/test/app/src/app.rs
  code/examples/channel/src/app.rs
Due: none

Formatting
  code/crates/test/app/src/node.rs
  code/crates/test/app/src/state.rs
Due: none

Remove decided proposal from undecided proposals table
  code/crates/test/app/src/state.rs
  code/crates/test/app/src/store.rs
  code/examples/channel/src/state.rs
  code/examples/channel/src/store.rs
Due: none

Remove duplicated code
  code/crates/starknet/test/src/lib.rs
Due: starknet

Include test app tests in code coverage
  .github/workflows/coverage.yml
Due: none

Fix clippy warnings
  code/Cargo.lock
  code/crates/starknet/test/mbt/src/tests/streaming.rs
  code/crates/starknet/test/mbt/src/tests/streaming/runner.rs
  code/crates/starknet/test/mbt/src/tests/streaming/utils.rs
Due: starknet

Remove unused imports
  code/crates/core-consensus/src/handle/proposed_value.rs
  code/crates/core-consensus/src/handle/sync.rs
Due: core

Abort whole test on failure
  code/crates/starknet/test/src/lib.rs
  code/crates/test/framework/src/lib.rs
Due: starknet

greg's bug fixes to qa
  qa/docker/entrypoint.sh
  qa/terraform/templates/commands.tmpl
  qa/terraform/user-data/user-data.txt
Due: none

Fix full node test
  code/crates/test/framework/src/lib.rs
Due: none

try full qa
  .github/workflows/qa.yml
Due: none

Show log when request sync value
  code/crates/sync/src/handle.rs
Due: none

run qa for 10 minutes
  .github/workflows/qa.yml
Due: none

Make sure Starknet app does not go into round 1 at height 1
  code/crates/starknet/host/src/actor.rs
Due: starknet

Fix WAL tests for test app
  code/crates/test/tests/it/wal.rs
Due: none

Fix off by one error in logs due to potential race condition in test framework
  code/crates/test/framework/src/lib.rs
Due: none

Move max_block_size to test configuration
  code/crates/config/src/lib.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/starknet/test/src/lib.rs
  code/crates/test/cli/src/cmd/distributed_testnet.rs
  code/crates/test/cli/src/new.rs
  code/crates/test/framework/src/lib.rs
Due: starknet

Clarify that `Default` impl of Height must return the zero height
  code/crates/core-state-machine/src/state.rs
  code/crates/core-types/src/height.rs
  code/crates/engine/src/wal.rs
  code/crates/starknet/p2p-types/src/height.rs
  code/crates/sync/src/state.rs
  code/crates/test/framework/src/node.rs
  code/crates/test/src/height.rs
  code/crates/test/src/validator_set.rs
  code/examples/channel/src/app.rs
  code/examples/channel/src/node.rs
Due: core, engine, starknet

Require both Starknet and test app tests to pass on CI
  .github/workflows/rust.yml
Due: none

Update coverage exclude list
  codecov.yml
Due: none

Update config example and scripts
  code/examples/channel/config.toml
  code/scripts/README.md
  code/scripts/spawn.bash
  code/scripts/spawn.fish
Due: none

Cleanup
  code/crates/core-consensus/src/effect.rs
  code/crates/core-consensus/src/handle/rebroadcast_timeout.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/util/events.rs
  code/crates/starknet/test/src/lib.rs
Due: core, engine, starknet

greg's small fix
  qa/docker/entrypoint.sh
Due: none

Add vote sync broadcast test to test app
  code/crates/test/framework/src/lib.rs
  code/crates/test/tests/it/main.rs
  code/crates/test/tests/it/vote_sync_bcast.rs
Due: none

Move value_payload in test config
  code/crates/app/src/spawn.rs
  code/crates/config/src/lib.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/starknet/test/src/lib.rs
  code/crates/test/app/src/app.rs
  code/crates/test/cli/src/cmd/distributed_testnet.rs
  code/crates/test/cli/src/new.rs
  code/crates/test/framework/src/lib.rs
  code/examples/channel/config.toml
  code/scripts/README.md
  code/scripts/spawn.bash
Due: app, starknet

Formatting
  code/crates/test/tests/it/main.rs
Due: none

Update Makefile
  code/Makefile
Due: none

feat: add Makefile to easy fix-lint and test in local
  Makefile
  code/crates/starknet/p2p-proto/build.rs
  code/crates/test/cli/src/logging.rs
Due: starknet
