Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

codecov.yml:

codecov:
  require_ci_to_pass: false

comment:
  layout: "header, diff, flags, components"

ignore:
  - "code/examples"
  - "code/crates/proto"
  - "code/crates/test/mempool"
  - "code/crates/test/proto"
  - "code/crates/test/cli"
  - "code/crates/signing-ed25519"
  - "code/crates/starknet/p2p-proto"
  - "code/crates/starknet/p2p-types"

component_management:
  individual_components:
    - component_id: core
      name: core
      paths:
        - "code/crates/core-consensus/**"
        - "code/crates/core-driver/**"
        - "code/crates/core-state-machine/**"
        - "code/crates/core-types/**"
        - "code/crates/core-votekeeper/**"
    - component_id: engine
      name: engine
      paths:
        - "code/crates/engine/**"
        - "code/crates/sync/**"
    - component_id: app
      name: app
      paths:
        - "code/crates/app/**"
        - "code/crates/app-channel/**"
    - component_id: starknet
      name: starknet
      paths:
        - "code/crates/starknet/**"

coverage:
  precision: 2
  round: nearest
  range: "50...90"

  status:
    project:
      default:
        target: auto
        threshold: 5%
        removed_code_behavior: adjust_base
        paths:
          - "code"
    patch:
      default:
        target: 0%
        threshold: 5%
        paths:
          - "code"

    changes:
      default:
        informational: true

chore: migrate all workflows from github-hosted runners to ubuntu-latest
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/links.yml
  .github/workflows/mbt.yml
  .github/workflows/need-triage-label.yml
  .github/workflows/pr-gate.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/quint.yml
  .github/workflows/rust.yml
  .github/workflows/semver.yml
  .github/workflows/todo-tracking.yml
  .github/workflows/typos.yml
Due: none

chore: migrate all workflows from github-hosted runners to ubuntu-latest (#1547)
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/links.yml
  .github/workflows/mbt.yml
  .github/workflows/need-triage-label.yml
  .github/workflows/pr-gate.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/quint.yml
  .github/workflows/rust.yml
  .github/workflows/semver.yml
  .github/workflows/todo-tracking.yml
  .github/workflows/typos.yml
Due: none

fix(sync): reject sync responses with non-contiguous heights (#1543)
  RELEASE_NOTES.md
  code/crates/sync/src/handle.rs
Due: engine

make WAL append async
  code/crates/engine/src/consensus.rs
Due: engine

Revert "chore: migrate all workflows from github-hosted runners to ubuntu-latest (#1547)"
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/links.yml
  .github/workflows/mbt.yml
  .github/workflows/need-triage-label.yml
  .github/workflows/pr-gate.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/quint.yml
  .github/workflows/rust.yml
  .github/workflows/semver.yml
  .github/workflows/todo-tracking.yml
  .github/workflows/typos.yml
Due: none

revert: migrate all workflows from github-hosted runners to ubuntu-latest (#1547) (#1548)
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/links.yml
  .github/workflows/mbt.yml
  .github/workflows/need-triage-label.yml
  .github/workflows/pr-gate.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/quint.yml
  .github/workflows/rust.yml
  .github/workflows/semver.yml
  .github/workflows/todo-tracking.yml
  .github/workflows/typos.yml
Due: none

fix(engine): drain pending WAL appends and add timeouts + tests
  code/crates/engine/src/consensus.rs
Due: engine

chore: bump Bytesize to v2.3.1
  code/Cargo.lock
  code/Cargo.toml
  code/crates/core-consensus/src/handle/decide.rs
Due: core

refactor: skip redundant commit certificate verification on sync path
  code/Cargo.lock
  code/crates/core-consensus/Cargo.toml
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/core-consensus/tests/sync_cert_verification.rs
Due: core

fix: add per-key capacity limit to BoundedQueue
  code/crates/config/src/lib.rs
  code/crates/core-consensus/src/state.rs
  code/crates/core-consensus/src/util/bounded_queue.rs
  code/crates/core-consensus/tests/finalization_evidence.rs
  code/crates/core-consensus/tests/sync_cert_verification.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/sync.rs
  code/crates/starknet/host/src/node.rs
  code/crates/starknet/test/src/lib.rs
  code/crates/test/app/src/node.rs
  code/crates/test/tests/it/main.rs
  code/examples/channel/src/node.rs
Due: core, engine, starknet

fix: enforce sync_height invariants via set_sync_height
  code/crates/sync/src/handle.rs
Due: engine

fix: return Result from PublicKey::from_bytes instead of panicking
  code/crates/signing-ed25519/src/lib.rs
  code/crates/starknet/p2p-types/src/address.rs
Due: none

fix: forward decode failure in ProcessSyncedValue instead of dropping reply
  code/crates/app-channel/src/connector.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/host.rs
  code/crates/engine/src/util/mod.rs
  code/crates/engine/src/util/ractor.rs
  code/crates/starknet/host/src/actor.rs
  code/crates/test/app/src/app.rs
  code/crates/test/src/middleware.rs
  code/crates/test/tests/it/value_sync.rs
Due: engine, app, starknet

fix: cap peer records processed per peers response
  code/crates/app/src/spawn.rs
  code/crates/config/src/lib.rs
  code/crates/discovery/src/config.rs
  code/crates/discovery/src/handlers/peers_request.rs
Due: app

feat: add max_concurrent_streams to libp2p request/response behaviour
  code/crates/discovery/src/behaviour.rs
  code/crates/sync/src/behaviour.rs
Due: engine

fix: notify sync actor only after decision is committed
  code/crates/app-channel/src/connector.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/host.rs
  code/crates/starknet/host/src/actor.rs
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/state.rs
  code/crates/test/src/middleware.rs
  code/crates/test/tests/it/value_sync.rs
  code/examples/channel/src/app.rs
Due: engine, app, starknet

fix: use strictly-greater-than lower bound in slow response generator
  code/crates/sync/src/scoring.rs
Due: engine

feat(test): Byzantine engine for simulating consensus faults
  code/Cargo.lock
  code/Cargo.toml
  code/crates/app-channel/src/lib.rs
  code/crates/core-driver/src/proposal_keeper.rs
  code/crates/core-votekeeper/src/evidence.rs
  code/crates/engine-byzantine/Cargo.toml
  code/crates/engine-byzantine/src/config.rs
  code/crates/engine-byzantine/src/lib.rs
  code/crates/engine-byzantine/src/middleware.rs
  code/crates/engine-byzantine/src/proxy.rs
  code/crates/engine/src/consensus.rs
  code/crates/test/Cargo.toml
  code/crates/test/app/Cargo.toml
  code/crates/test/app/src/config.rs
  code/crates/test/app/src/node.rs
  code/crates/test/tests/it/byzantine_engine.rs
  code/crates/test/tests/it/equivocation.rs
  code/crates/test/tests/it/main.rs
Due: core, engine, app

fix: decrement per-IP counter on failed inbound handshakes
  code/crates/network/src/ip_limits.rs
Due: none

fix: clean up sync_channels on inbound request failure
  code/crates/network/src/lib.rs
  code/crates/network/src/state.rs
Due: none

feat: add --validator configuration flag
  code/crates/test/app/src/node.rs
  code/crates/test/cli/src/cmd/start.rs
  code/crates/test/tests/it/main.rs
  code/examples/channel/src/main.rs
  code/examples/channel/src/node.rs
Due: none

fix: validate certificate heights in sync responses
  code/crates/sync/src/handle.rs
Due: engine

feat: delay WAL replay to allow sync recovery
  code/crates/config/src/lib.rs
  code/crates/engine/src/consensus.rs
  code/crates/starknet/host/src/node.rs
  code/crates/starknet/test/src/lib.rs
  code/crates/test/app/src/node.rs
  code/crates/test/tests/it/main.rs
  code/examples/channel/src/node.rs
Due: engine, starknet

fix: reject invalid host responses in sync value delivery
  code/crates/sync/src/handle.rs
Due: engine

docs: Add ADR 008 Consensus Input Queue + small perf improvement
  code/crates/core-consensus/src/util/bounded_queue.rs
  docs/architecture/adr-008-consensus-input-queue.md
Due: core

fix: Use checked arithmetic for voting power aggregation in ValidatorSet
  code/crates/starknet/p2p-types/src/validator_set.rs
  code/crates/test/src/validator_set.rs
Due: none

feat: skip WAL writes for non-validators
  code/crates/engine/src/consensus.rs
Due: engine

fix: resolve clippy warnings in sync and discovery crates
  code/crates/discovery/src/config.rs
  code/crates/sync/src/handle.rs
Due: engine

feat: use peer scoring for connection prioritization
  code/crates/discovery/Cargo.toml
  code/crates/discovery/src/lib.rs
  code/crates/network/Cargo.toml
  code/crates/network/src/lib.rs
  code/crates/network/src/state.rs
Due: none

refactor: Split `SigningProvider` into separate `Verifier` and `Signer` traits
  BREAKING_CHANGES.md
  RELEASE_NOTES.md
  code/crates/app-channel/src/builder.rs
  code/crates/app-channel/src/run.rs
  code/crates/app/src/spawn.rs
  code/crates/core-consensus/tests/full_proposal.rs
  code/crates/core-consensus/tests/sync_cert_verification.rs
  code/crates/core-driver/tests/it/extra.rs
  code/crates/engine-byzantine/src/proxy.rs
  code/crates/engine/src/consensus.rs
  code/crates/signing/src/ext.rs
  code/crates/signing/src/lib.rs
  code/crates/starknet/host/src/node.rs
  code/crates/starknet/host/src/spawn.rs
  code/crates/starknet/p2p-types/src/lib.rs
  code/crates/starknet/p2p-types/src/signing.rs
  code/crates/starknet/p2p-types/src/signing/provider.rs
  code/crates/test/app/src/node.rs
  code/crates/test/app/src/state.rs
  code/crates/test/src/node.rs
  code/crates/test/src/signing.rs
  code/crates/test/tests/unit/certificates/commit.rs
  code/crates/test/tests/unit/certificates/mod.rs
  code/crates/test/tests/unit/certificates/polka.rs
  code/crates/test/tests/unit/certificates/round.rs
  code/examples/channel/src/node.rs
  code/examples/channel/src/state.rs
  docs/tutorials/channels.md
Due: core, engine, app, starknet

fix: stop infinite sync retry when all peers fail
  code/crates/sync/src/handle.rs
  code/crates/sync/src/lib.rs
  code/crates/sync/src/state.rs
  code/crates/test/tests/unit/sync.rs
Due: engine

chore(specs): remove Starknet specs and index English specs in AGENTS.md
  AGENTS.md
  specs/README.md
  specs/block-streaming/README.md
  specs/block-streaming/binary_heap.qnt
  specs/block-streaming/part_stream.qnt
  specs/block-streaming/spells.qnt
  specs/consensus/overview.md
Due: none

fix: clear pending_inputs on Driver::move_to_height
  code/crates/core-driver/src/driver.rs
Due: core

docs(driver): fixing table mapping inputs to outputs
  code/crates/core-driver/src/mux.rs
Due: core

fix(driver): add helper to make silent `round_state` reset statically impossible
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/tests/it/basic.rs
Due: core

fix(wal): WAL reset command must update WAL's height
  code/crates/engine/src/wal.rs
Due: engine

chore: fix clippy warnings on main
  code/crates/core-driver/src/driver.rs
  code/crates/discovery/src/lib.rs
Due: core
