Repository circlefin/malachite: changes, and which Codecov flags are due for each by the changed paths.
All: core, engine, app, starknet

minor refactor
  code/crates/core-consensus/src/handle/liveness.rs
Due: core

Consistent encode/ decode for vote type vs cert type
  code/crates/starknet/host/src/codec.rs
Due: starknet

test: Fix flaky test
  code/crates/test/tests/it/wal.rs
Due: none

Just to see
  code/crates/test/tests/it/wal.rs
Due: none

round check and comment added
  code/crates/core-consensus/src/handle/liveness.rs
  code/crates/test/tests/unit/certificates/polka.rs
Due: core

Another fix
  code/crates/test/tests/it/wal.rs
Due: none

Longer pause just to see
  code/crates/test/tests/it/wal.rs
Due: none

Add both tests
  code/crates/test/tests/it/middlewares.rs
  code/crates/test/tests/it/wal.rs
Due: none

Lower timeout
  code/crates/test/tests/it/wal.rs
Due: none

add support for i2p
  README.md
  code/Cargo.lock
  code/crates/combined_code.md
  code/crates/network/Cargo.toml
  code/crates/network/src/i2p_transport.rs
  code/crates/network/src/lib.rs
Due: none

remove llm reference file
  code/crates/combined_code.md
Due: none

chore(code): Fix clippy warnings on Rust 1.87
  code/crates/engine/src/network.rs
  code/crates/starknet/host/src/block_store.rs
  code/crates/test/app/src/store.rs
  code/crates/test/tests/it/middlewares.rs
  code/crates/wal/benches/wal.rs
  code/crates/wal/src/file.rs
  code/crates/wal/tests/it/crashes.rs
  code/examples/channel/src/store.rs
Due: engine, starknet

add vote type to VoteSpec
  code/crates/test/tests/unit/certificates/commit.rs
  code/crates/test/tests/unit/certificates/mod.rs
  code/crates/test/tests/unit/certificates/polka.rs
Due: none

chore(code): Bump MSRV to Rust 1.85
  code/Cargo.toml
  code/clippy.toml
Due: none

Trigger coverage run
  code/crates/app/src/lib.rs
Due: app

ci: Upload coverage to Codecov at once
  .github/workflows/coverage.yml
Due: none

Update artifact actions
  .github/workflows/coverage.yml
Due: none

Re-introduce components
  codecov.yml
Due: none

Naming
  .github/workflows/coverage.yml
Due: none

Update README.md
  README.md
Due: none

doc(code): Document the core-consensus crate
  code/crates/core-consensus/README.md
  code/crates/core-consensus/src/effect.rs
  code/crates/core-consensus/src/lib.rs
  code/crates/core-consensus/src/state.rs
Due: core

docs(github): Update contributing guidelines
  CONTRIBUTING.md
  CONTRIBUTING_CODE.md
Due: none

ci: Fix coverage upload when coverage did not run
  .github/workflows/coverage.yml
Due: none

basic tests for round added
  code/crates/test/tests/unit/certificates/mod.rs
  code/crates/test/tests/unit/certificates/round.rs
Due: none

code regactor done
  code/crates/test/tests/unit/certificates/commit.rs
  code/crates/test/tests/unit/certificates/mod.rs
  code/crates/test/tests/unit/certificates/polka.rs
  code/crates/test/tests/unit/certificates/round.rs
Due: none

new round certificate experiments added
  code/crates/test/tests/unit/certificates/mod.rs
  code/crates/test/tests/unit/certificates/round.rs
Due: none

Update code/crates/test/tests/unit/certificates/round.rs
  code/crates/test/tests/unit/certificates/round.rs
Due: none

add extra check for skip cert from the same round
  code/crates/core-consensus/src/handle/liveness.rs
Due: core

feat(code): Compute and show in logs the role of the node during a round: Proposer, Validator, or None
  code/crates/app-channel/src/connector.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/core-consensus/src/effect.rs
  code/crates/core-consensus/src/handle/driver.rs
  code/crates/core-consensus/src/types.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/host.rs
  code/crates/engine/src/util/events.rs
  code/crates/starknet/host/src/actor.rs
  code/crates/starknet/host/src/host/state.rs
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/state.rs
  code/crates/test/framework/src/lib.rs
  code/examples/channel/src/app.rs
Due: core, engine, app, starknet

the extra logic for multiple proposals in the driver is there
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/core-consensus/src/handle/driver.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/src/mux.rs
  code/crates/core-driver/src/proposal_keeper.rs
  code/crates/core-driver/tests/it/extra.rs
Due: core

minor renaming
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/src/mux.rs
  code/crates/core-driver/src/proposal_keeper.rs
Due: core

commented some code to pass tests and remove warnings
  code/crates/core-driver/src/proposal_keeper.rs
Due: core

fix: handle all listen addresses of a peer
  code/Cargo.lock
  code/crates/discovery/src/behaviour.rs
  code/crates/discovery/src/connection.rs
  code/crates/discovery/src/controller.rs
  code/crates/discovery/src/handlers/dial.rs
  code/crates/discovery/src/handlers/identify.rs
  code/crates/discovery/src/handlers/peers_request.rs
  code/crates/discovery/src/lib.rs
Due: none

Deduplicate section
  CONTRIBUTING_CODE.md
Due: none

pruning logic for votes and polkas added
  code/crates/core-consensus/src/handle/driver.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-votekeeper/src/keeper.rs
Due: core

Update code/crates/core-consensus/src/handle/driver.rs
  code/crates/core-consensus/src/handle/driver.rs
Due: core

docs(app-channel): require MUST reply to Decided with StartHeight and document stalling if not
  code/crates/app-channel/src/msgs.rs
Due: app

docs(tutorial): clarify app MUST reply to Decided and consensus will stall otherwise
  docs/tutorials/channels.md
Due: none

Add another test for equivocating proposal
  code/crates/core-driver/tests/it/extra.rs
Due: core

minor changes to the test
  code/crates/core-driver/tests/it/extra.rs
  code/crates/core-driver/tests/it/utils.rs
Due: core

Path conditions:
  core: any of: code/crates/core-*/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  engine: any of: code/crates/engine/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  app: any of: code/crates/app/**, code/crates/app-*/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
  starknet: any of: code/crates/starknet/**, but not: code/crates/test, code/crates/signing-ed25519, code/crates/proto, code/examples
